.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.careers-footer__dcc {
  height: 50px;
}

.careers-footer__dcc {
  height: 60px;
}

.careers-footer__sdc {
  height: 50px;
}

.careers-footer__sdc {
  height: 60px;
}

.careers-footer__httfw {
  height: 50px;
}

.careers-footer__httfw {
  height: 60px;
}

#doncaster_careers .img--mobile {
  display: none;
}

#doncaster_careers .img--desktop {
  display: block;
}

#doncaster_careers .testimonial {
  background: #f6f6f6;
  text-align: center;
  padding: 48px 0 48px 0;
}

#doncaster_careers .section {
  padding: 24px 0;
}

#doncaster_careers .section {
  padding: 30px 0;
}

#doncaster_careers .section {
  padding: 36px 0;
}

#doncaster_careers .section {
  padding: 42px 0;
}

#doncaster_careers .section__hero {
  -webkit-background-size: 900px 900px;
  background-size: 900px;
}

#doncaster_careers .section__hero {
  background: url("/cdn/images/careers/pages/doncaster/hero-medium.jpg") center center no-repeat #D41568;
}

#doncaster_careers .section__hero .ch-btn {
  margin-top: 0;
  margin-bottom: 320px;
}

#doncaster_careers .section__hero .ch-btn {
  margin-top: 0;
  margin-bottom: 0;
}

#doncaster_careers .section__usp {
  text-align: center;
}

#doncaster_careers .section__usp--icon {
  float: none;
  margin-bottom: 0;
}

#doncaster_careers .section__usp--icon {
  height: 72px;
  width: 72px;
}

#doncaster_careers .section__usp h3 {
  padding-top: 0;
  float: none;
  display: block;
}

#doncaster_careers .section__usp h3 {
  font-size: 20px;
}

#doncaster_careers .section__findingjob {
  padding: 24px 0;
}

#doncaster_careers .section__findingjob {
  padding: 30px 0;
}

#doncaster_careers .section__findingjob {
  padding: 36px 0;
}

#doncaster_careers .section__findingjob {
  padding: 42px 0;
}

#doncaster_careers .section__findingjob__content {
  padding: 6px 7px;
}

#doncaster_careers .section__findingjob__content {
  padding: 24px 14px;
}

#doncaster_careers .section__findingjob__content--btn {
  margin-top: 72px;
}

#doncaster_careers .section__findingjob__content--btn .ch-btn {
  float: right;
}

#doncaster_careers .section__findingjob__jobs {
  padding: 6px 7px;
}

#doncaster_careers .section__findingjob__jobs {
  padding: 6px 14px;
}

#doncaster_careers .section__findingjob__jobs .ch-card--link {
  min-height: 185px;
}

#doncaster_careers .section__findingjob__jobs .ch-card--link:hover {
  border-bottom-color: #e5e5e5;
  color: #2D3737;
}

#doncaster_careers .section__findingjob__jobs .ch-card--link:hover h1:first-of-type,
#doncaster_careers .section__findingjob__jobs .ch-card--link:hover h2:first-of-type,
#doncaster_careers .section__findingjob__jobs .ch-card--link:hover h3:first-of-type,
#doncaster_careers .section__findingjob__jobs .ch-card--link:hover h4:first-of-type,
#doncaster_careers .section__findingjob__jobs .ch-card--link:hover h5:first-of-type,
#doncaster_careers .section__findingjob__jobs .ch-card--link:hover h6:first-of-type {
  color: #00A3E0;
}

#doncaster_careers .section__findingjob__jobs .ch-card__content {
  padding-bottom: 0;
}

#doncaster_careers .section__findingjob__jobs .ch-card__content__heading {
  padding-bottom: 6px;
}

#doncaster_careers .section__findingjob__jobs .ch-card__content__job-desc span {
  display: none;
}

#doncaster_careers .section__findingjob__jobs .ch-card__icons {
  padding: 0 21px 18px;
}

#doncaster_careers .section__findingjob__jobs .ch-card__icons .padding-top {
  padding-top: 16.1px;
}

#doncaster_careers .section__findingjob__jobs .ch-card__icons--cta {
  display: block;
}

#doncaster_careers .section__consultant img {
  position: absolute;
  top: 0;
  right: 10%;
  margin: -49.8px 0 0;
  height: 349.8px;
  display: block;
}

#doncaster_careers .section__consultant img {
  right: 15%;
  margin-top: -67.8px;
}

#doncaster_careers .section__benefits--list-item {
  border-bottom: 0 none transparent;
  font-size: 16px;
  min-height: 125px;
  padding: 0;
}

#doncaster_careers .section__benefits--list-item:before {
  -webkit-background-size: auto auto;
  background-size: auto;
  height: 125px;
  width: 125px;
}

#doncaster_careers .section__arnold {
  background: url("/cdn/images/careers/pages/doncaster/about-arnold.jpg") center center no-repeat;
}