#mc-more-from .more-box:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#mc-more-from .more-box__content {
  padding: 15px 17.5px;
}

.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#renault_clio #mc-more-from .more-box:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

#renault_clio .img--mobile {
  display: none;
}

#renault_clio .btn--block {
  width: auto;
}

#renault_clio .btn--block:first-child {
  margin-bottom: 0;
}

#renault_clio .section {
  padding: 28px 0;
}

#renault_clio .section--deep {
  padding: 28px 0;
}

#renault_clio .section--deep {
  padding: 56px 0;
}

#renault_clio .section--dark--content {
  background-color: transparent;
  border: none;
}

#renault_clio .section--btns {
  text-align: right;
}

#renault_clio .hero--bg {
  background: url("/cdn/images/renault/clio/hero--desktop.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 450px;
}

#renault_clio .hero--text h1 {
  font-size: 48px;
}

#renault_clio .hero--text p {
  font-size: 16px;
  line-height: 1.6;
}

#renault_clio .intro--bg {
  background: url("/cdn/images/renault/clio/intro--desktop.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 450px;
}

#renault_clio .section__trim__intro {
  text-align: center;
}

#renault_clio .urban--bg {
  background: url("/cdn/images/renault/clio/clio-urban--desktop.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #2D3737;
}

#renault_clio .urban--text--container {
  background: rgba(0,0,0,0.6);
}

#renault_clio .urban--text__title::before {
  left: 14px;
  width: 170px;
}

#renault_clio .urban--text__title::before {
  top: 70px;
}

#renault_clio .rsport--bg {
  background: url("/cdn/images/renault/clio/renault-sport--desktop.jpg") center center no-repeat;
  background-color: #2D3737;
}

#renault_clio .rsport--text .ch-col--md-5 {
  background: rgba(0,0,0,0.6);
}

#renault_clio .rsport--text__title::before {
  left: 14px;
  width: 170px;
}

#renault_clio .rsport--text__title::before {
  top: 70px;
}

#renault_clio .features--item:last-child {
  margin: 0 0 28px;
}

#renault_clio .features .ch-well {
  min-height: 218px;
}

#renault_clio .features .ch-well {
  min-height: 194px;
}

#renault_clio .colours__list {
  margin: 30px 0;
  display: block;
  border: none;
}

#renault_clio .colours__list__item {
  width: 50%;
}

#renault_clio .colours__image {
  margin-top: 30px;
}

#renault_clio .colours__image {
  margin-top: 0;
}