#glovebox-goodies .glovebox-goodies-panel:hover {
  background-color: #214171;
}

#glovebox-goodies .glovebox-goodies-panel .logo--long {
  display: none;
}

#glovebox-goodies .glovebox-goodies-panel .logo--long {
  display: block;
}

#glovebox-goodies .glovebox-goodies-panel .logo--short {
  display: block;
}

#glovebox-goodies .glovebox-goodies-panel .logo--short {
  display: none;
}

#glovebox-goodies .glovebox-goodies-panel__content .offer {
  font-size: 18px;
}