#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

#motability .controls .ch-container {
  padding-right: 14px;
}

#motability .controls .btns p {
  font-size: 14px;
  margin-right: 14px;
}

#motability .controls .btns button {
  font-size: 14px;
}

#motability h3 {
  font-size: 26px;
  line-height: 36px;
}

#motability p {
  font-size: 18px;
  line-height: 28px;
}

#motability .section {
  text-align: center;
}

#motability .section {
  padding: 24px 0;
}

#motability .section {
  padding: 36px 0;
}

#motability .hero .content h1,
#motability .hero .content h2 {
  font-size: 18px;
  line-height: 28px;
}

#motability .hero .content:before {
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  width: 550px;
  height: 134px;
  margin-bottom: 24px;
}

#motability .benefits .video {
  margin: 12px 0 24px;
}

#motability .eligibility table {
  margin: 24px 0;
}

#motability .eligibility table tbody td,
#motability .eligibility table thead td {
  font-size: 16px;
  line-height: 26px;
  padding: 12px 14px;
}

#motability .cars .blks__column {
  padding-right: 14px;
}

#motability .cars .blks__column:nth-child(3) {
  margin-bottom: 24px;
}

#motability .cars .blks__column:nth-child(3) {
  margin-bottom: 0;
}

#motability .boxes .ch-col--sm-6:nth-child(-n+3) {
  margin-bottom: 0;
}

#motability .boxes .ch-col--sm-6:nth-child(-n+2) {
  margin-bottom: 24px;
}

#motability .boxes .ch-col--sm-6:nth-child(-n+2) {
  margin-bottom: 0;
}