.ac-subheader__logo {
  height: 45px;
  margin: 14px 0;
}

.ac-subheader__logo {
  height: 50px;
}

.ac-subheader a.ac-subnav__button {
  top: 20px;
}

.hero {
  background-position: center;
}

.hero--shape {
  margin-top: 30%;
}

.hero--shape {
  margin-top: 0;
  margin-bottom: 240px;
  width: 400px;
  padding-top: 50px;
  background-image: url("/cdn/images/gear-up-for-sport/hero-shape.svg");
  bottom: 0;
  top: 0;
}

.section--content {
  padding: 36px 14px;
}

.section--content--white--arrow-left {
  padding-top: 24px;
  padding-left: 24px;
}

.section--content--white--arrow-left {
  padding-top: 36px;
}

.section--content--white--arrow-left:before {
  position: absolute;
  z-index: 0;
  top: 0;
  left: -50px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 50px 280px 0;
  border-color: transparent #fff transparent transparent;
}

.section--content--white--arrow-left:after {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 100%;
  content: '';
  width: 0;
  height: 0;
  border: 1000px solid #fff;
}

.section--content--blue--arrow-left {
  padding-top: 24px;
  padding-left: 24px;
}

.section--content--blue--arrow-left {
  padding-top: 36px;
}

.section--content--blue--arrow-left:before {
  position: absolute;
  z-index: 0;
  top: 0;
  left: -50px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 50px 680px 0;
  border-color: transparent #00A3E0 transparent transparent;
}

.section--content--blue--arrow-left:after {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 100%;
  content: '';
  width: 0;
  height: 0;
  border: 1000px solid #00A3E0;
}

.section--enter .text--enter-now {
  background-position: center center;
}

#faq .hero {
  background-image: url("/cdn/images/gear-up-for-sport/faqs/gufs-hero-faqs--desktop.jpg");
}

#faq .section--questions {
  padding: 54px 0;
}

#faq .section--contact {
  padding: 30px 0 80px 0;
}

#faq .section--contact p {
  font-size: 22px;
  line-height: 34px;
  max-width: 620px;
  margin: 0 auto;
}