.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#kia-stinger p {
  font-size: 16px;
  line-height: 28px;
}

#kia-stinger h2 {
  margin-bottom: 48px;
  font-size: 40px;
}

#kia-stinger h3 {
  margin-bottom: 30px;
}

#kia-stinger .section {
  padding: 24px 0;
}

#kia-stinger .section {
  padding: 36px 0;
}

#kia-stinger .section__hero {
  padding-bottom: 24px;
}

#kia-stinger .section__hero {
  background: url("/cdn/images/kia/stinger/stinger-hero--desktop.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: left;
}

#kia-stinger .section__hero__content {
  margin-top: 72px;
  margin-bottom: 72px;
}

#kia-stinger .section__hero__content {
  margin-top: 108px;
  margin-bottom: 108px;
}

#kia-stinger .section__hero__content h1 {
  font-size: 30px;
  line-height: 38px;
}

#kia-stinger .section__hero__content h1 {
  font-size: 50px;
  line-height: 58px;
}

#kia-stinger .section__hero__content h1 strong {
  font-size: 40px;
  line-height: 48px;
}

#kia-stinger .section__hero__content h1 strong {
  font-size: 70px;
  line-height: 78px;
}

#kia-stinger .section__hero__buttons {
  margin-top: 34%;
}

#kia-stinger .section__hero__buttons {
  margin-top: 24px;
}

#kia-stinger .section__performance .info__list {
  margin-top: 0;
  width: 50%;
}

#kia-stinger .section__performance .info__list dt {
  width: 40%;
}

#kia-stinger .section__performance .info__list dl {
  width: 60%;
}

#kia-stinger .section__performance .info__chart {
  left: -20px;
}

#kia-stinger .section__cornering {
  padding: 30% 0;
}

#kia-stinger .section__cornering {
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

#kia-stinger .section__cornering:before {
  top: -60px;
  height: 140px;
}

#kia-stinger .section__cornering:after {
  bottom: -80px;
  height: 140px;
}

#kia-stinger .section__safety {
  padding-top: 0;
}

#kia-stinger .section__safety__pic {
  display: block;
  margin-top: 0;
}

#kia-stinger .section__interior {
  padding: 30% 0;
}

#kia-stinger .section__interior {
  background-attachment: fixed;
}

#kia-stinger .section__exterior {
  padding: 30% 0;
}

#kia-stinger .section__exterior {
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

#kia-stinger .section__exterior:before {
  top: -60px;
  height: 140px;
}

#kia-stinger .section__exterior:after {
  bottom: -80px;
  height: 140px;
}

#kia-stinger .section__style__pic {
  margin-bottom: 0;
}

#kia-stinger .section__colour {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #060201), color-stop(62%, #312e2d), color-stop(76%, #312e2d), to(#060201));
  background: -webkit-linear-gradient(top, #060201 1%, #312e2d 62%, #312e2d 76%, #060201 100%);
  background: -o-linear-gradient(top, #060201 1%, #312e2d 62%, #312e2d 76%, #060201 100%);
  background: linear-gradient(to bottom, #060201 1%, #312e2d 62%, #312e2d 76%, #060201 100%);
}

#kia-stinger .section__colour .colours__list {
  display: block;
  border: none;
}

#kia-stinger .section__colour .colours__list__item {
  width: 50%;
}

#kia-stinger .section__colour .colours__image {
  margin-top: 0;
}

#kia-stinger .section__gallery .magnify-image {
  margin-bottom: 24px;
  height: 180px;
}

#kia-stinger .section__cta {
  text-align: center;
}