#kia-personal-contract-hire .hero {
  padding: 12px 0;
}

#kia-personal-contract-hire .hero {
  background-image: url("/cdn/images/kia/personal-contract-hire/hero.jpg");
  background-position: -webkit-calc(50% - -25px);
  background-position: calc(50% - -25px);
  padding: 48px 0;
}

#kia-personal-contract-hire .hero {
  padding: 78px 0;
}

#kia-personal-contract-hire .hero {
  padding: 102px 0;
}

#kia-personal-contract-hire .hero__text h1 {
  font-size: 36px;
}

#kia-personal-contract-hire .hero__text h1 {
  font-size: 42px;
  margin-bottom: 12px;
}

#kia-personal-contract-hire .hero__text p {
  font-size: 16px;
  max-width: 343px;
}

#kia-personal-contract-hire .hero__text p {
  max-width: 420px;
}

#kia-personal-contract-hire .hero__text a {
  display: none;
}

#kia-personal-contract-hire .hero__text br {
  display: none;
}

#kia-personal-contract-hire .info {
  padding: 30px 0 24px;
}

#kia-personal-contract-hire .info {
  padding: 42px 0 36px;
}

#kia-personal-contract-hire .info__text li {
  font-size: 16px;
  margin-bottom: 18px;
}

#kia-personal-contract-hire .info__text li {
  max-width: 602px;
}

#kia-personal-contract-hire .info__text li {
  max-width: 770px;
}

#kia-personal-contract-hire .offers {
  padding: 30px 0;
}

#kia-personal-contract-hire .offers {
  padding: 42px 0;
}

#kia-personal-contract-hire .offers .block {
  margin-bottom: 24px;
}

#kia-personal-contract-hire .offers .block {
  margin-bottom: 30px;
}

#kia-personal-contract-hire .offers .block__hero {
  padding-top: 44px;
  padding-bottom: 36px;
}

#kia-personal-contract-hire .offers .block__hero img {
  margin-top: 8px;
}

#kia-personal-contract-hire .offers .block__hero:before {
  top: 18px;
}

#kia-personal-contract-hire .offers .block__hero__image {
  width: 50%;
  float: left;
}

#kia-personal-contract-hire .offers .block__hero__spec {
  width: 50%;
  float: right;
}

#kia-personal-contract-hire .terms {
  padding: 30px 0;
}