.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.ch-table td,
.ch-table th {
  padding: 9px 10.5px;
}

.ch-table td,
.ch-table th {
  padding: 12px 14px;
}

#servicing_vauxhall .nowrap {
  display: inline;
}

#servicing_vauxhall .section {
  padding: 24px 0;
}

#servicing_vauxhall .pricing__heading {
  margin-top: 0;
}

#servicing_vauxhall .payments {
  -webkit-background-size: 250px 250px;
  background-size: 250px;
  background-position: 105% 50%;
}

#servicing_vauxhall .payments {
  -webkit-background-size: 280px 280px;
  background-size: 280px;
  background-position: 95% 50%;
}

#servicing_vauxhall .service-club .ch-card {
  margin-top: 0;
}

#servicing_vauxhall .service-club .ch-card__content__text--discount {
  font-size: 35px;
}

#servicing_vauxhall .service-club .ch-card__content__text--discount {
  font-size: 45px;
}

#servicing_vauxhall .service-club .ch-card__content__text--discount {
  font-size: 55px;
}