#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

.offers-slab__item {
  margin-bottom: 28px;
}

#vauxhall_finance .hero {
  margin-bottom: 18px;
}

#vauxhall_finance .hero {
  margin-bottom: 24px;
  background-image: url("/cdn/images/vauxhall/finance-deals/hero.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 380px;
}

#vauxhall_finance .hero {
  height: 450px;
}

#vauxhall_finance .hero__img--xs {
  display: none;
}

#vauxhall_finance .hero__img--sm {
  display: block;
}

#vauxhall_finance .hero__img--sm {
  display: none;
}

#vauxhall_finance .hero__text {
  margin-top: -140px;
  padding: 0 21px 18px;
}

#vauxhall_finance .hero__text {
  padding: 24px 28px;
  margin-top: 55px;
  background-color: rgba(0,0,0,0.6);
}

#vauxhall_finance .hero__text {
  margin-top: 85px;
}

#vauxhall_finance .hero__text h1 {
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

#vauxhall_finance .hero__text h1 span {
  font-size: 50px;
  font-weight: 500;
  display: block;
}

#vauxhall_finance .hero__text p {
  font-size: 25px;
}

#vauxhall_finance .hero__text a {
  margin-bottom: 12px;
}

#vauxhall_finance .hero__text a {
  margin-bottom: 0;
  margin-top: 12px;
}

#vauxhall_finance .slab {
  text-align: center;
}

#vauxhall_finance .slab .content {
  padding: 24px 0;
}

#vauxhall_finance .slab .ch-btn {
  margin-bottom: 0;
}

#vauxhall_finance .deals {
  padding-top: 28px;
}

#vauxhall_finance #blks {
  overflow: hidden;
}

#vauxhall_finance #blks .blks__column {
  width: 50%;
}

#vauxhall_finance #blks .blks__column {
  width: 50%;
}

#vauxhall_finance #blks .blk {
  margin-bottom: 28px;
}

#vauxhall_finance #blks .blk {
  margin-bottom: 28px;
}

#vauxhall_finance #blks .blk {
  text-align: left;
}

#vauxhall_finance #blks .blk__model {
  min-height: auto;
}

#vauxhall_finance #blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#vauxhall_finance #blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#vauxhall_finance .bottom-text-btns {
  margin-bottom: 28px;
  padding: 21px;
}

#vauxhall_finance .bottom-text-btns-left {
  width: auto;
  text-align: justify;
}

#vauxhall_finance .bottom-text-btns-right {
  width: auto;
  text-align: justify;
  margin-top: 0;
}