a.ac-subnav__button {
  top: 20px;
}

a.ac-subnav__button {
  top: 14px;
}

.ac-subheader__logo {
  height: 33px;
  margin: 20px 0;
}

.ac-subheader__logo {
  height: 36px;
  margin: 21px 0;
}

#home {
  background-image: url("/cdn/images/shared/managers-elite/feathers.png");
  background-position: -webkit-calc(50% - 360px) 0;
  background-position: calc(50% - 360px) 0;
  background-repeat: no-repeat;
  padding-bottom: 684px;
  padding-top: 84px;
}

#home .intro span {
  display: block;
}

#itinerary {
  padding: 56px 0;
}

#itinerary .title {
  padding-bottom: 28px;
  margin-bottom: 28px;
}

#itinerary .content .hide hr {
  margin: 28px 0;
}

#itinerary .content .hide {
  display: none;
}

#itinerary .content table {
  width: 350px;
  margin: 0 auto;
}

#itinerary .content table {
  width: auto;
  margin: 0;
}

#itinerary .footnote {
  margin: 28px 0;
}

#activities {
  padding: 56px 0;
}

#activities .title {
  padding-bottom: 28px;
  margin-bottom: 28px;
}

#activities img {
  margin-top: 56px;
  margin-bottom: 28px;
}

#activities .activity-hero {
  font-size: 44px;
  line-height: 48px;
}

#rsvp {
  padding: 56px 0;
}

#rsvp .ch-radio--inline {
  display: inline-block;
  width: auto;
  margin-left: 28px;
}

#rsvp .rsvp__title {
  padding-bottom: 28px;
  margin-bottom: 28px;
}

#rsvp .rsvp__section__header {
  padding: 28px 0;
}

#rsvp .rsvp__section--left {
  padding-right: 14px;
}

#rsvp .rsvp__section--right {
  margin-top: 0;
  padding-left: 14px;
}

#rsvp .rsvp__footnote {
  margin: 28px 0;
}

#thank-you {
  background-image: url("/cdn/images/shared/managers-elite/feathers.png");
  background-position: -webkit-calc(50% - 360px) 0;
  background-position: calc(50% - 360px) 0;
  background-repeat: no-repeat;
  padding-bottom: 684px;
  padding-top: 84px;
}

#thank-you .intro span {
  display: block;
}

#itinerary .content table tr .left {
  width: 30%;
}

#itinerary .content table tr .right {
  width: 70%;
}