.clearfix {
  zoom: 1;

  &:after,
  &:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}
// variables
$color-primary: #40C9CC;
$color-secondary: #0D4662; // navbar with clear fix, on large screens li items are inline

.navbar {
  @extend .clearfix;
  background-color: #fff;
  padding: .5em;
  @include media-breakpoint-up(sm) {
    padding: 1em;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
    @include media-breakpoint-up(sm) {
      display: inline;
    }

    .navbar-brand {
      display: inline;
      color: #333;
      text-decoration: none;
      justify-content: flex-start;
      margin-right: 1em;
    }

    .toggle {
      display: flex;
      color: #333;
      float: right;
      text-decoration: none;
      border: 0;
      border-radius: 2px;
      padding: 7px 10px;
      justify-content: flex-end;

      &:before {
        font-size:21px;
        content:'\2630';
      }

      &:active {
        color: #333;
      }
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }

  &__collapse {
    max-height: 0;
    overflow: hidden;
    @include media-breakpoint-up(sm) {
      display:inline;
      max-height: 100vh;
      background-color: #fff;
    }

    .nav {
      list-style-type: none;
      margin: 0;
      border: 0;
      padding: 0;
      @include media-breakpoint-up(sm) {
        display: inline;
      }

      li {
        padding: .25em 0;
        @include media-breakpoint-up(sm) {
          display: inline;
          margin-right: 1em;

          &:last-child {
            // prevents margin on last child
            margin-right: 0;
          }
        }

        a {
          color: $color-secondary;
          text-decoration: none;
        }
      }
    }
  }

  &--active {

    .toggle {
      &:before {
        content:'\2715';
      }
    }

    .navbar__collapse {
      transition: 1s;
      max-height: 100vh;
    }
  }
}
