#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#electric-cars .section {
  padding: 36px 0;
}

#electric-cars .hero {
  padding: 72px 0;
  background-image: url("/cdn/images/electric-cars/hero.jpg");
}

#electric-cars .hero .header {
  font-size: 48px;
  margin-bottom: 18px;
}

#electric-cars .hero .subheader {
  font-size: 20px;
}

#electric-cars .intro {
  padding-bottom: 36px;
  background-color: #fff;
  background-image: url("/cdn/images/electric-cars/charging-socket.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

#electric-cars .intro {
  padding: 72px 0;
}

#electric-cars .intro {
  background-position: 90% center;
  background-image: url("/cdn/images/electric-cars/charging-socket-desktop.jpg");
}

#electric-cars .intro img {
  display: none;
}

#electric-cars .benefits {
  background-image: url("/cdn/images/electric-cars/leaf-bg.svg");
  background-repeat: no-repeat;
  background-position: 75% center;
  text-align: center;
}

#electric-cars .benefits .icons span {
  float: left;
  width: 20%;
  margin-bottom: 0;
}

#electric-cars .benefits .icons span:before {
  display: block;
  margin: 12px auto;
  -webkit-background-size: 50px 50px;
  background-size: 50px;
  height: 50px;
  width: 50px;
}

#electric-cars .what-car {
  padding-bottom: 24px;
}

#electric-cars .what-car .content {
  text-align: center;
}

#electric-cars .charging p:last-of-type {
  margin-bottom: 12px;
}

#electric-cars .charging .icon {
  display: block;
  margin: 0 auto;
}

#electric-cars .charging .box {
  text-align: center;
  margin-top: 24px;
}

#electric-cars .charging .box {
  padding: 18px 21px;
}

#electric-cars .charging .box .subheading {
  display: block;
}

#electric-cars .latest-offers {
  padding-bottom: 8px;
}

#electric-cars .latest-offers {
  padding-bottom: 36px;
}

#electric-cars .manufacturers,
#electric-cars .more-from {
  padding-bottom: 12px;
}

#electric-cars .manufacturers .ch-col--sm-6,
#electric-cars .more-from .ch-col--sm-6 {
  margin-bottom: 24px;
}

#electric-cars .manufacturers .ch-card__content {
  min-height: 157px;
}

#electric-cars .manufacturers .ch-card__content {
  min-height: 265px;
}

#electric-cars .manufacturers .ch-card__content {
  min-height: 217px;
}

#electric-cars .more-from .ch-card__content {
  min-height: 139px;
}

#electric-cars .more-from .ch-card__content {
  min-height: auto;
}

#electric-cars .ctas {
  background-image: url("/cdn/images/electric-cars/leaf-bg.svg");
  background-repeat: no-repeat;
  background-position: 75% center;
  text-align: center;
}

#electric-cars .ctas .title {
  margin-bottom: 18px;
}

#electric-cars .ctas .ch-btn {
  margin-bottom: 12px;
}

#electric-cars .ctas .ch-btn {
  margin-bottom: 0;
}