.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#dpd .dpd-header {
  padding: 24px 0;
}

#dpd .dpd-header__logo img {
  width: auto;
  height: 42px;
}

#dpd .dpd-header__register a,
#dpd .dpd-header__register a:visited {
  padding: 9px 0;
}

#dpd .dpd-header__register a span,
#dpd .dpd-header__register a:visited span {
  display: inline;
}

#dpd .hero__content {
  padding: 120px 0;
}

#dpd .hero__content {
  padding: 180px 0;
}

#dpd .hero__content h1 {
  font-size: 36px;
}

#dpd .hero__content h2 {
  font-size: 21px;
}

#dpd .statistics {
  padding: 24px 0;
}

#dpd .stat {
  margin-bottom: 0;
  padding: 18px 21px;
}

#dpd .stat__icon {
  width: 48px;
}

.why-ac {
  padding: 60px 0;
}

.how-we-work {
  padding: 60px 0;
  background-image: url("/cdn/images/careers/digital-product-development/StickyNotesForLife.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.how-we-work__m-img {
  display: none;
}

.the-legend-of-grant {
  padding: 60px 0;
  background-image: url("/cdn/images/careers/digital-product-development/HandsomeGrant.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.dpd-footnote h1 {
  font-size: 36px;
}

.dpd-footnote h2 {
  font-size: 21px;
}

.dpd-footnote {
  padding: 60px 0;
}