#festive-opening-hours h1 {
  font-size: 45px;
  line-height: 47px;
}

#festive-opening-hours h1 {
  font-size: 50px;
  line-height: 52px;
}

#festive-opening-hours p {
  font-size: 18px;
  line-height: 1.6;
}

#festive-opening-hours .ch-btn {
  float: right;
  width: auto;
}

#festive-opening-hours section {
  padding-top: 20px;
  padding-bottom: 20px;
}

#festive-opening-hours .ac-table th {
  width: 40%;
}

#festive-opening-hours .hero a {
  display: block;
  clear: both;
}

#festive-opening-hours .hero .hero__background {
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-background-size: 30% 30%;
  background-size: 30%;
}

#festive-opening-hours .hero .hero__background {
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-background-size: 40% 40%;
  background-size: 40%;
}

#festive-opening-hours .search-mask input {
  max-width: 70%;
  font-size: 22px;
}

#festive-opening-hours .search-mask input {
  max-width: 60%;
}

#festive-opening-hours .list h4 {
  font-size: 24px;
}

#festive-opening-hours .list__image {
  overflow: hidden;
  display: block;
  max-height: 250px;
  margin-bottom: 14px;
}