.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#scrappage section {
  padding: 24px 0;
}

#scrappage .content__body {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

#scrappage .content__body span {
  display: block;
}

#scrappage .content__icon {
  display: block;
  width: 33%;
  padding: 0;
  float: left;
  font-weight: 500;
  font-size: 16px;
  padding: 0 14px;
  text-align: center;
}

#scrappage .content__icon:before {
  -webkit-background-size: cover;
  background-size: cover;
  height: 54px;
  width: 54px;
  display: block;
  content: "";
  position: relative;
  margin: 0 auto 12px;
}

#scrappage .content__icon:before {
  margin-bottom: 24px;
}

#scrappage .content__icon--one:before {
  background-image: url("/cdn/images/scrappage/1.svg");
}

#scrappage .content__icon--two:before {
  background-image: url("/cdn/images/scrappage/2.svg");
}

#scrappage .content__icon--three:before {
  background-image: url("/cdn/images/scrappage/3.svg");
}

#scrappage .manufacturers__checker {
  margin-top: 12px;
  margin-bottom: 24px;
  background-color: #f2f2f2;
  border: solid 1px #e5e5e5;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 24px 28px;
}

#scrappage .manufacturers__checker--not-found {
  margin-top: 0;
  margin-bottom: 12px;
  padding: 24px 28px;
}

#scrappage .manufacturers__checker--not-found .ch-btn {
  margin-top: 0;
  margin-bottom: 0;
  width: auto;
}

#scrappage .manufacturers__checker--not-found__text {
  width: 70%;
  display: inline-block;
  float: left;
}

#scrappage .manufacturers__checker--not-found__btn {
  float: right;
}

#scrappage .manufacturers__checker__input {
  width: 56%;
  margin-bottom: 0;
}

#scrappage .manufacturers__checker__input {
  width: 65%;
}

#scrappage .manufacturers__checker__btn {
  width: auto;
  float: right;
}

#scrappage .manufacturers__checker__btn {
  width: 41%;
}

#scrappage .manufacturers__checker__btn {
  width: 32%;
}

#scrappage .manufacturers .card {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#scrappage .manufacturers .card:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#scrappage .manufacturers .card__content {
  margin-bottom: 24px;
}

#scrappage .manufacturers .card__content__img {
  width: 100px;
}

#scrappage .manufacturers .card__content__title--block {
  display: block;
}