#volvo-personal-contract-hire .hero {
  padding: 12px 0;
}

#volvo-personal-contract-hire .hero {
  background-image: url("/cdn/images/volvo/personal-contract-hire/hero.jpg");
  padding: 60px 0;
}

#volvo-personal-contract-hire .hero {
  padding: 78px 0;
}

#volvo-personal-contract-hire .hero {
  padding: 102px 0;
}

#volvo-personal-contract-hire .hero__text h1 {
  font-size: 36px;
}

#volvo-personal-contract-hire .hero__text h1 {
  font-size: 42px;
  margin-bottom: 12px;
}

#volvo-personal-contract-hire .hero__text p {
  font-size: 16px;
  max-width: 343px;
}

#volvo-personal-contract-hire .hero__text p {
  max-width: 420px;
}

#volvo-personal-contract-hire .hero__text a {
  display: none;
}

#volvo-personal-contract-hire .hero__text br {
  display: none;
}

#volvo-personal-contract-hire .info {
  padding: 30px 0 24px;
}

#volvo-personal-contract-hire .info {
  padding: 42px 0 36px;
}

#volvo-personal-contract-hire .info__text li {
  font-size: 16px;
  margin-bottom: 18px;
}

#volvo-personal-contract-hire .info__text li {
  max-width: 602px;
}

#volvo-personal-contract-hire .info__text li {
  max-width: 660px;
}

#volvo-personal-contract-hire .offers {
  padding: 30px 0;
}

#volvo-personal-contract-hire .offers {
  padding: 42px 0;
}

#volvo-personal-contract-hire .offers .block {
  margin-bottom: 24px;
}

#volvo-personal-contract-hire .offers .block {
  margin-bottom: 30px;
}

#volvo-personal-contract-hire .terms {
  padding: 30px 0;
}