.ch-hero {
  padding: 24px 0;
}

.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

#hyundai_i30 .ch-hero {
  background: url("/cdn/images/hyundai/i30/hyundai-i30-header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 3%;
  padding-bottom: 20%;
}

#hyundai_i30 .ch-hero {
  padding-top: 6%;
  padding-bottom: 20%;
}

#hyundai_i30 .ch-hero {
  padding-top: 2%;
  padding-bottom: 12%;
  background-position: center bottom;
}

#hyundai_i30 .ch-hero__content__heading {
  padding-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 35px;
  padding-bottom: 20px;
}

#hyundai_i30 .ch-hero__content__heading span {
  font-size: 80px;
  line-height: 80px;
}

#hyundai_i30 .ch-btn {
  width: auto;
  margin: 5px;
}

#hyundai_i30 section {
  padding-bottom: 24px;
}

#hyundai_i30 section .section__content__header h2 {
  font-size: 28px;
}

#hyundai_i30 section .section__content__header--image {
  margin-top: 24px;
}

#hyundai_i30 section .section__content__ctas {
  padding-top: 0;
  padding-bottom: 24px;
}

#hyundai_i30 section .section__content.ch-col--sm-12 .section__content__header h2 {
  padding-top: 20px;
}

#hyundai_i30 section.section__highlight .section__content__header {
  padding: 12px 12px 0;
}

#hyundai_i30 section.section__highlight .section__content__header h2 {
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 30px;
}

#hyundai_i30 section.section__highlight .section__content__text {
  padding: 0 12px 12px;
}

#hyundai_i30 section.section__highlight--dark {
  background-color: #050505;
  color: #fff;
}

#hyundai_i30 section.section__highlight {
  padding-top: 40px;
  padding-bottom: 40px;
}

#hyundai_i30 section.section__highlight .section__content__header h2 {
  font-size: 55px;
  line-height: 55px;
}

#hyundai_i30 .section__styling .section__content__text {
  background: transparent;
}

#hyundai_i30 .section__i30n .hyundai_i30n__mobile-img {
  display: none;
}

#hyundai_i30 .section__i30n {
  background-image: url("/cdn/images/hyundai/i30/hyundai-i30-panel-tablet.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

#hyundai_i30 .section__i30n {
  background-image: url("/cdn/images/hyundai/i30/hyundai-i30-panel-tablet.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

#hyundai_i30 .section__i30n {
  background-image: url("/cdn/images/hyundai/i30/hyundai-i30-panel-desktop.jpg");
}

#hyundai_i30 .section__safety {
  border-top: 1px solid #e5e5e5;
  background-image: url("/cdn/images/hyundai/i30/hyundai-i30-safety.jpg");
  background-position: center bottom;
  -webkit-background-size: cover;
  background-size: cover;
}

#hyundai_i30 .section__safety .section__content__header {
  background-image: none;
  color: #2D3737;
}

#hyundai_i30 .section__deals {
  padding: 24px 0;
}

#hyundai_i30 #ac-gallery {
  margin-top: 30px;
}

#hyundai_i30 #ac-gallery .thumb {
  height: 70px;
  margin-bottom: 12px;
}

#hyundai_i30 #ac-gallery .thumb img.gallery__img {
  position: absolute;
  width: 100%;
}

#hyundai_i30 #ac-gallery .thumb {
  height: 80px;
}

#hyundai_i30 #ac-gallery .thumb {
  height: 90px;
  margin-bottom: 16px;
}

#hyundai_i30 #ac-gallery .thumb {
  height: auto;
  margin-bottom: 24px;
}

#hyundai_i30 #ac-gallery .thumb img.gallery__img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  -webkit-filter: opacity(0.8);
  filter: opacity(0.8);
}

#hyundai_i30 #ac-gallery .thumb img.gallery__img:hover {
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

#hyundai_i30 .video {
  margin-top: 34px;
}

#hyundai_i30 .video {
  margin-top: 0;
}