#volvo_v90 .hide-on-desktop {
  display: none;
}

#volvo_v90 .hide-on-mobile {
  display: block;
}

#volvo_v90 .hero {
  height: 700px;
}

#volvo_v90 .footer {
  height: auto;
  background-image: url("/cdn/images/volvo/v90/footer-bg-sm.jpg");
}

#volvo_v90 .footer {
  background-image: url("/cdn/images/volvo/v90/footer-bg-md.jpg");
}

#volvo_v90 .footer {
  background-image: url("/cdn/images/volvo/v90/footer-bg.jpg");
  height: 500px;
}

#volvo_v90 .footer__content {
  text-align: right;
}

#volvo_v90 .footer__content {
  padding: 180px 0;
}

#volvo_v90 .footer__content__header {
  font-size: 50px;
}

#volvo_v90 .section__title {
  font-size: 38px;
}

#volvo_v90 .featured {
  height: 350px;
}

#volvo_v90 .featured__mobile {
  display: none;
}

#volvo_v90 .featured__content {
  margin-top: 18%;
}

#volvo_v90 .featured--roof {
  border-bottom: none;
  background-image: url("/cdn/images/volvo/v90/panoramic-sunroof-desktop.jpg");
}

#volvo_v90 .featured--sound {
  background-image: url("/cdn/images/volvo/v90/sound-system-desktop.jpg");
}

#volvo_v90 .featured--climate {
  background-image: url("/cdn/images/volvo/v90/climate-control-desktop.jpg");
}