#drive-the-night-away .dtna-panel {
  padding: 18px 0;
}

#drive-the-night-away .dtna-panel__content {
  font-size: 20px;
  line-height: 28px;
}

#drive-the-night-away .dtna-panel__content {
  margin-top: 12px;
}

#drive-the-night-away .dtna-panel__content br {
  display: none;
}

#drive-the-night-away .dtna-panel__logo--sm {
  display: none;
}

#drive-the-night-away .dtna-panel__logo--lg {
  display: block;
}

#drive-the-night-away .dtna-panel__logo--lg {
  height: 56px;
}