.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#citroen-c3 .hero__mobile {
  display: none;
}

#citroen-c3 .hero__desktop {
  display: block;
  padding: 30px 0;
  background-attachment: fixed;
  background-image: url("/cdn/images/citroen/c3/hero--desktop.jpg");
}

#citroen-c3 .hero__content {
  text-align: center;
}

#citroen-c3 .hero__content {
  position: fixed;
  left: 0;
  right: 0;
}

#citroen-c3 .hero__content__title {
  font-size: 26px;
}

#citroen-c3 .hero__content__title {
  font-size: 48px;
  margin-bottom: 28px;
}

#citroen-c3 .box {
  padding: 28px;
}

#citroen-c3 .box {
  margin-left: -28px;
  margin-right: -28px;
}

#citroen-c3 .img--mobile {
  display: none;
}

#citroen-c3 .panel__1 {
  padding: 50px 0;
  background: url("/cdn/images/citroen/c3/panel__1--desktop.jpg") center center no-repeat #000;
  height: 450px;
}

#citroen-c3 .panel__1 {
  padding: 74px 0;
}

#citroen-c3 .panel__2 {
  padding: 50px 0;
  background: url("/cdn/images/citroen/c3/panel__2--desktop.gif") center center no-repeat #fff;
  height: 450px;
}

#citroen-c3 .panel__2 {
  padding: 74px 0;
}

#citroen-c3 .panel__3 {
  padding: 26px 0;
  background: url("/cdn/images/citroen/c3/panel__3--desktop.jpg") center center no-repeat #000;
  height: 450px;
}

#citroen-c3 .panel__3 {
  padding: 38px 0;
}

#citroen-c3 .panel__3 {
  padding: 62px 0;
}

#citroen-c3 .panel__4 {
  padding: 2px 0;
  background: url("/cdn/images/citroen/c3/panel__4--desktop.jpg") center center no-repeat #000;
  height: 450px;
}

#citroen-c3 .panel__4 {
  padding: 38px 0;
}

#citroen-c3 .panel__5 {
  padding: 26px 0;
  background: url("/cdn/images/citroen/c3/panel__5--desktop.jpg") center center no-repeat #000;
  height: 450px;
}

#citroen-c3 .panel__5 {
  padding: 38px 0;
}

#citroen-c3 .panel__5 {
  padding: 50px 0;
}

#citroen-c3 .panel__6 {
  padding: 38px 0;
  background: url("/cdn/images/citroen/c3/panel__6--desktop.jpg") center center no-repeat #fff;
  height: 450px;
}

#citroen-c3 .panel__6 {
  padding: 50px 0;
}

#citroen-c3 .panel__6 {
  padding: 62px 0;
}

#citroen-c3 .gallery {
  padding: 28px 0;
}

#citroen-c3 .gallery__btn {
  text-align: center;
}