#black-friday .flash-message .content img {
  width: auto;
}

#black-friday .flash-message .content h3 {
  margin: 6px 14px 6px;
  font-size: 4.8vw;
  line-height: 6vw;
}

#black-friday .flash-message .content h3 {
  margin: 6px 14px 6px;
  font-size: 28px;
  line-height: 30px;
  width: auto;
}

#black-friday .hero {
  padding: 36px 0 0;
}

#black-friday .hero {
  margin-bottom: 0;
}

#black-friday .hero .h1-bf {
  font-size: 8vw;
  line-height: 8vw;
}

#black-friday .hero .h1-bf {
  font-size: 5vw;
  line-height: 5vw;
}

#black-friday .hero .h1-bf {
  top: 30px;
  right: 0px;
}

#black-friday .hero .h1-bf span {
  font-size: 3vw;
  line-height: 3vw;
}

#black-friday .hero .h1-bf--mobile {
  display: none;
}

#black-friday .hero .h1-bf--desktop {
  display: block;
  font-size: 47px;
  line-height: 47px;
}

#black-friday .hero .h1-bf--desktop strong {
  font-size: 68px;
  line-height: 68px;
}

#black-friday .hero .h1-bf--desktop span {
  font-size: 20px;
  line-height: 20px;
}

#black-friday .hero .h1-bf--desktop {
  width: 300px;
  font-size: 50px;
  line-height: 50px;
}

#black-friday .hero .h1-bf--desktop strong {
  font-size: 72px;
  line-height: 72px;
}

#black-friday .hero .h1-bf--desktop span {
  font-size: 20px;
  line-height: 20px;
}

#black-friday .hero .h1-bf:before {
  top: -88px;
  left: -108px;
  background-image: url("/cdn/images/black-friday/splat--top.svg");
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
}

#black-friday .hero .h1-bf:after {
  bottom: -80px;
  right: -120px;
  background-image: url("/cdn/images/black-friday/splat--bottom.svg");
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
}

#black-friday .hero h2 {
  font-size: 7vw;
  line-height: 7vw;
}

#black-friday .hero h2 {
  font-size: 80px;
  line-height: 80px;
}

#black-friday .hero h3 strong {
  display: inline-block;
}

#black-friday .section-segments .segment h2 {
  font-size: 18px;
  line-height: 18px;
}

#black-friday .section-segments .segment h2 {
  font-size: 20px;
  line-height: 20px;
}

#black-friday .section-deals--intro {
  margin-top: 36px;
}

#black-friday .section-deals .deal {
  clear: none;
  margin-bottom: 12px;
}

#black-friday .section-deals .deal .title .model {
  display: block;
}

#black-friday .section-deals .deal img {
  top: 6%;
}

#black-friday .section-deals .deal img {
  position: relative;
  width: 100%;
  margin: 0 auto;
  top: -30px;
  margin-bottom: -50px;
}

#black-friday .section-deals .deal .saving {
  float: none;
  margin: 0 auto;
  width: 60%;
}

#black-friday .section-deals .deal .saving {
  float: none;
  margin: 0 auto;
  width: 80%;
}

#black-friday .section-deals .deal .price {
  float: none;
}

#black-friday .section-deals .deal .ch-btn {
  width: auto;
}

#black-friday--sale-off h1 {
  font-size: 40px;
  line-height: 50px;
}

#black-friday--sale-off p {
  font-size: 22px;
  line-height: 36px;
}

#black-friday--sale-off .btn--ghost {
  background: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background: -webkit-linear-gradient(top, transparent, transparent);
  background: -o-linear-gradient(top, transparent, transparent);
  background: linear-gradient(to bottom, transparent, transparent);
  border-color: #404040;
  color: #fff;
  border-bottom: 1px solid #666;
}

#black-friday--sale-off .btn--ghost.active,
#black-friday--sale-off .btn--ghost.focus,
#black-friday--sale-off .btn--ghost:active,
#black-friday--sale-off .btn--ghost:focus,
#black-friday--sale-off .btn--ghost:hover {
  background: transparent;
  border-color: #404040;
  color: #fff;
}

#black-friday--sale-off .btn--ghost.active,
#black-friday--sale-off .btn--ghost:active {
  background-color: rgba(51,51,51,0);
  border-color: rgba(51,51,51,0);
}

#black-friday--sale-off .black-friday--content {
  padding: 120px 56px 492px;
}

#black-friday--sale-off .black-friday--content {
  padding: 120px 245px 492px;
}