#xc90 .exterior__text__body {
  font-size: 16px;
}

#xc90 .interior__text__body {
  font-size: 18px;
}

#xc90 .hero {
  background-image: url("/cdn/images/volvo/xc90/hero-tablet.jpg");
  height: 400px;
}

#xc90 .hero {
  background-image: url("/cdn/images/volvo/xc90/hero-desktop.jpg");
  height: 580px;
}

#xc90 .hero {
  height: 700px;
}

#xc90 .hero-text {
  text-align: right;
  margin-top: 90px;
}

#xc90 .hero-text {
  margin-top: 250px;
}

#xc90 .hero-text {
  margin-top: 305px;
}

#xc90 .hero-heading {
  font-size: 55px;
}

#xc90 .hero-heading {
  font-size: 70px;
  margin-bottom: 18px;
}

#xc90 .hero-subheading {
  font-size: 20px;
}

#xc90 .hero-subheading {
  font-size: 30px;
}

#xc90 .hero-body {
  display: block;
}

#xc90 .hero-cta {
  margin-top: 0;
}

#xc90 .overview {
  padding: 36px 0;
}

#xc90 .overview {
  padding: 56px 0;
}

#xc90 .overview-text {
  padding: 0;
}

#xc90 .overview-text {
  padding-top: 20px;
}

#xc90 .overview-text {
  padding-top: 45px;
}

#xc90 .overview-text-heading {
  margin-top: 45px;
}

#xc90 .overview-text-heading {
  font-size: 26px;
  margin-bottom: 12px;
}

#xc90 .overview-text-body {
  max-width: 430px;
}

#xc90 .overview-img--mobile {
  display: none;
}

#xc90 .overview-img--desktop {
  display: block;
  padding-top: 15px;
}

#xc90 .overview-img--desktop {
  padding-top: 0;
}

#xc90 .seven-seats {
  background-color: #f2f2f2;
  margin-top: 20px;
  padding: 30px 0;
}

#xc90 .seven-seats {
  padding: 0;
  margin-top: 30px;
}

#xc90 .seven-seats-text {
  font-size: 16px;
}

#xc90 .seven-seats-text {
  padding: 30px 0 30px 24px;
}

#xc90 .seven-seats-text {
  padding: 60px 0;
}

#xc90 .seven-seats-text-body {
  padding-top: 30px;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

#xc90 .seven-seats-text-body {
  text-align: left;
  max-width: none;
  padding-top: 0;
}

#xc90 .seven-seats-img {
  display: block;
  margin: 0 auto;
}

#xc90 .seven-seats-img {
  position: absolute;
  margin-top: -24px;
  margin-left: -21px;
}

#xc90 .seven-seats-img {
  margin-top: -24px;
  margin-left: -28px;
}

#xc90 .details {
  padding-top: 60px;
}

#xc90 .details {
  padding-top: 80px;
}

#xc90 .details {
  padding-top: 100px;
}

#xc90 .details-img {
  display: block;
}

#xc90 .details-img-3 {
  padding-top: 21px;
}

#xc90 .details-img-3 {
  padding-top: 28px;
}

#xc90 .details-mobile-img {
  display: none;
}

#xc90 .details-text-desktop {
  display: block;
  margin-top: 57px;
}

#xc90 .details-text-desktop {
  margin-top: 100px;
}

#xc90 .details-text-desktop {
  margin-top: 142px;
}

#xc90 .details-text-desktop-body {
  max-width: 380px;
}

#xc90 .details-text-desktop-body {
  max-width: 430px;
}

#xc90 .details-text-mobile {
  display: none;
}

#xc90 .safety {
  padding-top: 0;
  margin-top: 50px;
}

#xc90 .safety {
  margin-top: 70px;
}

#xc90 .safety {
  margin-top: 90px;
}

#xc90 .safety-text {
  padding: 30px 0;
}

#xc90 .safety-text {
  padding: 0;
}

#xc90 .safety-heading {
  display: none;
}

#xc90 .safety-heading {
  display: block;
}

#xc90 .safety-heading-tablet {
  display: block;
}

#xc90 .safety-heading-tablet {
  display: none;
}

#xc90 .safety-body {
  padding-bottom: 0;
  max-width: 450px;
}

#xc90 .safety-body {
  max-width: none;
}

#xc90 .safety-img {
  float: right;
  width: 200px;
  padding-top: 40px;
}

#xc90 .safety-img {
  float: none;
  width: auto;
  padding-top: 0;
}

#xc90 .colours {
  padding: 28px 0;
  margin-top: 50px;
}

#xc90 .colours {
  margin-top: 65px;
}

#xc90 .colours {
  margin-top: 85px;
}

#xc90 .colours__list {
  margin: 30px 0;
  display: block;
  border: none;
}

#xc90 .colours__list__item {
  width: 50%;
}

#xc90 .colours__image {
  margin: 43px auto 0;
}

#xc90 .colours__image {
  margin-top: 135px;
}

#xc90 .colours__image {
  margin-top: 117px;
}

#xc90 .exterior-gallery {
  padding-top: 24px;
}

#xc90 .exterior-gallery {
  padding-top: 30px;
}

#xc90 .exterior-gallery {
  padding-top: 50px;
}

#xc90 .exterior-gallery-text {
  display: block;
  text-align: center;
}

#xc90 .exterior-gallery-text-heading {
  font-size: 30px;
}

#xc90 .exterior-gallery-text-body {
  max-width: 610px;
  margin: 0 auto;
}

#xc90 .exterior-gallery-img-desktop {
  display: block;
  padding-top: 24px;
}

#xc90 .exterior-gallery-img-desktop {
  padding-top: 30px;
}

#xc90 .exterior-gallery-img-desktop {
  padding-top: 50px;
}

#xc90 .exterior-gallery-ctas {
  text-align: center;
  padding-top: 24px;
}

#xc90 .exterior-gallery-ctas {
  padding-top: 30px;
}

#xc90 .exterior-gallery-ctas {
  padding-top: 50px;
}

#xc90 .interior-hero {
  height: 400px;
  margin-top: 24px;
}

#xc90 .interior-hero {
  height: 580px;
  margin-top: 30px;
}

#xc90 .interior-hero {
  height: 700px;
  margin-top: 50px;
}

#xc90 .interior-hero-heading {
  font-size: 55px;
  margin-top: 150px;
}

#xc90 .interior-hero-heading {
  font-size: 70px;
  margin-top: 230px;
}

#xc90 .interior-hero-heading {
  margin-top: 300px;
}

#xc90 .interior-overview {
  padding: 36px 0;
}

#xc90 .interior-overview {
  padding: 56px 0;
}

#xc90 .interior-overview-text {
  padding: 0;
}

#xc90 .interior-overview-text {
  padding-top: 20px;
}

#xc90 .interior-overview-text {
  padding-top: 45px;
}

#xc90 .interior-overview-text--2 {
  margin: 40px 0 0 28px;
}

#xc90 .interior-overview-text-heading {
  margin-top: 45px;
}

#xc90 .interior-overview-text-heading {
  font-size: 26px;
  margin-bottom: 12px;
}

#xc90 .interior-overview-text-body {
  line-height: 1.4;
  max-width: 430px;
}

#xc90 .interior-overview-img--mobile {
  display: none;
}

#xc90 .interior-overview-img--desktop {
  display: block;
  padding-top: 15px;
}

#xc90 .interior-overview-img--desktop {
  padding-top: 0;
}

#xc90 .interior-gallery-mobile {
  display: none;
}

#xc90 .interior-gallery-desktop {
  display: block;
}

#xc90 .interior-gallery-desktop .ch-col--sm-3,
#xc90 .interior-gallery-desktop .ch-col--sm-4,
#xc90 .interior-gallery-desktop .ch-col--sm-5 {
  padding-left: 7px;
  padding-right: 7px;
}

#xc90 .interior-gallery-desktop .ch-col--sm-3,
#xc90 .interior-gallery-desktop .ch-col--sm-4,
#xc90 .interior-gallery-desktop .ch-col--sm-5 {
  padding-left: 14px;
  padding-right: 14px;
}

#xc90 .interior-gallery-desktop-img {
  margin-top: 28px;
}

#xc90 .interior-gallery-desktop-img-1 {
  height: 380px;
}

#xc90 .interior-gallery-desktop-img-2 {
  height: 380px;
}

#xc90 .interior-gallery-desktop-img-3 {
  position: absolute;
  max-width: 94%;
  height: 615px;
}

#xc90 .interior-gallery-desktop-img-3 {
  height: 628px;
  max-width: 93%;
}

#xc90 .interior-gallery-desktop-img-3 {
  max-width: 94.7%;
  height: 728px;
}

#xc90 .interior-gallery-desktop-img-4 {
  height: 320px;
}

#xc90 .interior-gallery-desktop-img-5 {
  height: 320px;
}

#xc90 .end-ctas {
  margin: 21px 0;
  padding: 21px 0;
}

#xc90 .end-ctas {
  padding: 28px 0;
}