#just-add-fuel .hero {
  background-color: #002355;
  padding-bottom: 24px;
}

#just-add-fuel .hero {
  padding-bottom: 36px;
}

#just-add-fuel .hero__content {
  padding-bottom: 285px;
}

#just-add-fuel .hero__content {
  padding: 24px 0 0;
}

#just-add-fuel .hero__content {
  padding-top: 36px;
}

#just-add-fuel .hero__img img {
  margin-top: -285px;
}

#just-add-fuel .hero__img img {
  margin-top: -180px;
}

#just-add-fuel .hero__img img {
  margin-top: -160px;
}

#just-add-fuel .hero__btns {
  margin-bottom: 24px;
}

#just-add-fuel .hero__btns {
  text-align: left;
  margin-top: -72px;
  margin-bottom: 12px;
}

#just-add-fuel .hero__btns {
  margin-top: -160px;
}

#just-add-fuel .hero__btns {
  margin-top: -240px;
}

#just-add-fuel .hero__btns .btn--fuel {
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background: -o-linear-gradient(top, #fff, #f2f2f2);
  background: linear-gradient(to bottom, #fff, #f2f2f2);
  border-color: #bfbfbf;
  color: #2D3737;
}

#just-add-fuel .hero__btns .btn--fuel.active,
#just-add-fuel .hero__btns .btn--fuel.focus,
#just-add-fuel .hero__btns .btn--fuel:active,
#just-add-fuel .hero__btns .btn--fuel:focus,
#just-add-fuel .hero__btns .btn--fuel:hover {
  background: #ededed;
  border-color: #bfbfbf;
  color: #2D3737;
}

#just-add-fuel .hero__btns .btn--fuel.active,
#just-add-fuel .hero__btns .btn--fuel:active {
  background-color: #fff;
  border-color: #fff;
}

#just-add-fuel .hero__btns .btn--fuel .mobile {
  display: none;
}

#just-add-fuel .hero__btns .btn--fuel .desktop {
  display: inline-block;
}

#just-add-fuel .boxes {
  margin-top: 24px;
}

#just-add-fuel .boxes {
  margin-top: 100px;
}

#just-add-fuel .boxes {
  margin-top: 160px;
}

#just-add-fuel .boxes__item {
  background-color: #fff;
  border: solid 1px #e5e5e5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 14px;
  min-height: 314px;
}

#just-add-fuel .boxes__item {
  min-height: 242px;
}

#just-add-fuel .boxes__item {
  padding: 24px 28px;
}

#just-add-fuel .strip {
  margin-top: 24px;
}

#just-add-fuel .strip {
  padding: 24px 0;
  text-align: center;
}

#just-add-fuel .strip p {
  font-size: 16px;
}

#just-add-fuel .form,
#just-add-fuel .terms {
  padding-top: 24px;
}