.ac-footer {
  margin-top: 50px;
}

#servicing_protect .hero {
  padding: 24px 0;
}

#servicing_protect .hero {
  padding: 36px 0;
}

#servicing_protect .hero__desktop-img {
  display: block;
  float: right;
  margin-top: 23px;
}

#servicing_protect .hero__desktop-img {
  margin-top: 30px;
}

#servicing_protect .hero__text h1 {
  margin-bottom: 6px;
  font-size: 30px;
}

#servicing_protect .hero__text h1 {
  font-size: 36px;
  max-width: 410px;
}

#servicing_protect .hero__text h2 {
  color: #FFDE00;
  margin-bottom: 18px;
  font-size: 24px;
}

#servicing_protect .hero__text h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

#servicing_protect .hero__text p {
  font-size: 18px;
}

#servicing_protect .hero__text p {
  font-size: 21px;
}

#servicing_protect .hero__text__mobile-img {
  display: block;
  float: right;
  margin-top: 23px;
  width: auto;
}

#servicing_protect .hero__text__mobile-img {
  margin-top: 30px;
}

#servicing_protect .info {
  padding: 24px 0;
}

#servicing_protect .info {
  padding: 45px 0;
}

#servicing_protect .info__text p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 18px;
}

#servicing_protect .info__text p {
  max-width: 500px;
}

#servicing_protect .info__video {
  margin-top: 12px;
}

#servicing_protect .info__video {
  margin-top: 0;
}

#servicing_protect .why {
  padding: 36px 0 48px 0;
}

#servicing_protect .why__text p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 24px;
}

#servicing_protect .why__text p {
  max-width: 421px;
}

#servicing_protect .products {
  padding: 30px 0;
}

#servicing_protect .products {
  padding: 50px 0;
}

#servicing_protect .products__intro-text {
  text-align: center;
}

#servicing_protect .products__intro-text h3 {
  font-size: 34px;
  margin-right: 0;
  margin-bottom: 24px;
}

#servicing_protect .products__intro-text h3 {
  margin-bottom: 18px;
}

#servicing_protect .products__intro-text p {
  line-height: 27px;
}

#servicing_protect .products__intro-text p {
  margin: 0 auto;
  max-width: 705px;
}

#servicing_protect .products__table {
  margin-top: 21px;
  width: 670px;
  height: 110px;
}

#servicing_protect .products__table {
  margin-top: 36px;
}

#servicing_protect .products table td p {
  max-width: none;
  margin-top: -2px;
  margin-bottom: 12px;
}

#servicing_protect .products table td span {
  font-size: 36px;
}

#servicing_protect .products table td .pound {
  font-size: 24px !important;
}

#servicing_protect .products__cta {
  margin-top: 36px;
  text-align: center;
}

#servicing_protect .offers {
  padding: 21px 0;
}

#servicing_protect .offers {
  padding: 40px 0;
}

#servicing_protect .offers__intro-text {
  margin-bottom: 3px;
}

#servicing_protect .offers__intro-text {
  margin-bottom: 12px;
}

#servicing_protect .offers__intro-text h3 {
  font-size: 24px;
  line-height: 34px;
}

#servicing_protect .offers__deal {
  margin-top: 21px;
  height: 180px;
}

#servicing_protect .offers__deal {
  margin-top: 28px;
  height: auto;
}

#servicing_protect .offers__deal img {
  max-width: 100%;
}

#servicing_protect .offers__deal__text {
  margin-left: 12px;
}

#servicing_protect .offers__deal__text__custom-h4 {
  max-width: 150px !important;
}

#servicing_protect .offers__deal__text__custom-h4 {
  max-width: 180px !important;
}

#servicing_protect .offers__deal a {
  margin-top: 70px;
  float: right;
}

#servicing_protect .offers__deal a {
  margin-top: 10px;
}

#servicing_protect .offers__deal__custom-a {
  margin-top: -10px !important;
}

#servicing_protect .offers__deal__custom-a {
  margin-top: 10px !important;
}

#servicing_protect .terms {
  margin-top: 0;
}

#servicing_protect .terms__text p {
  font-size: 18px;
  margin-bottom: 6px;
}

#servicing_protect .terms__cta {
  margin-top: 0;
  float: right;
}