#women-in-the-automotive-industry .section {
  padding: 24px 0;
}

#women-in-the-automotive-industry .section {
  padding: 36px 0;
}

#women-in-the-automotive-industry .section {
  padding: 48px 0;
}

#women-in-the-automotive-industry .caption--mobile {
  display: none;
}

#women-in-the-automotive-industry .caption--desktop {
  display: block;
  position: relative;
  margin-top: 12px;
  padding-left: 14px;
  padding-right: 14px;
}

#women-in-the-automotive-industry .mobile-img {
  display: none;
}

#women-in-the-automotive-industry .tablet-img {
  margin-bottom: 0;
}

#women-in-the-automotive-industry .tablet-img {
  display: none;
}

#women-in-the-automotive-industry .desktop-img {
  display: block;
}

#women-in-the-automotive-industry .heading {
  background-position: right center;
  text-align: center;
}

#women-in-the-automotive-industry .heading {
  background-position: top center;
  background-attachment: fixed;
  padding: 90px 0;
}

#women-in-the-automotive-industry .heading {
  padding: 150px 0;
}

#women-in-the-automotive-industry .heading__title {
  text-align: center;
  margin-bottom: 60px;
}

#women-in-the-automotive-industry .heading__title .block {
  display: block;
}

#women-in-the-automotive-industry .heading--intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.6)), to(rgba(0,0,0,0.6))),url("/cdn/images/features/women-in-the-automotive-industry/hero.jpg");
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("/cdn/images/features/women-in-the-automotive-industry/hero.jpg");
  background-image: -o-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("/cdn/images/features/women-in-the-automotive-industry/hero.jpg");
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("/cdn/images/features/women-in-the-automotive-industry/hero.jpg");
}

#women-in-the-automotive-industry .standout {
  padding: 36px 0;
}

#women-in-the-automotive-industry .standout__item {
  text-align: center;
  margin-bottom: 0;
}

#women-in-the-automotive-industry .standout__item__icon:before {
  height: 56px;
}

#women-in-the-automotive-industry .standout__item__icon:before {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  width: 84px;
  height: 84px;
}

#women-in-the-automotive-industry .timeline__container {
  margin-left: 351px;
}

#women-in-the-automotive-industry .timeline__container {
  margin-left: 461px;
}

#women-in-the-automotive-industry .timeline__container {
  margin-left: 561px;
}

#women-in-the-automotive-industry .timeline__container__item {
  margin-left: 0;
}

#women-in-the-automotive-industry .timeline__container__item--left:before {
  border-left-color: transparent;
  border-right-color: #e5e5e5;
  left: -28px;
}

#women-in-the-automotive-industry .timeline__container__item--left:nth-child(n+2) {
  margin-top: -150px;
}

#women-in-the-automotive-industry .timeline__container__item--left:nth-child(n+2) {
  margin-top: -120px;
}

#women-in-the-automotive-industry .timeline__container__item--left:nth-child(n+2) {
  margin-top: -90px;
}

#women-in-the-automotive-industry .timeline__container__item--right:before {
  left: -4px;
}

#women-in-the-automotive-industry .timeline__container__item--right {
  margin-top: -150px;
}

#women-in-the-automotive-industry .timeline__container__item--right {
  margin-top: -120px;
}

#women-in-the-automotive-industry .timeline__container__item--right {
  margin-top: -90px;
}

#women-in-the-automotive-industry .timeline__container__item .card {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 330px;
  height: 372px;
}

#women-in-the-automotive-industry .timeline__container__item .card {
  width: 440px;
  height: 324px;
}

#women-in-the-automotive-industry .timeline__container__item .card {
  width: 540px;
  height: 276px;
}

#women-in-the-automotive-industry .timeline__container__item .card--left {
  margin-left: -355px;
}

#women-in-the-automotive-industry .timeline__container__item .card--left {
  margin-left: -465px;
}

#women-in-the-automotive-industry .timeline__container__item .card--left {
  margin-left: -565px;
}

#women-in-the-automotive-industry .timeline__container__item .card--right {
  margin-left: 21px;
}

#women-in-the-automotive-industry .current-issues--sticky-img {
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
}

#women-in-the-automotive-industry .current-issues--sticky-img {
  top: 36px;
}

#women-in-the-automotive-industry .current-issues--sticky-img {
  top: 48px;
}

#women-in-the-automotive-industry .initiatives__item {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#women-in-the-automotive-industry .initiatives__item {
  background-attachment: fixed;
}

#women-in-the-automotive-industry .initiatives__item--one {
  background-image: url("/cdn/images/features/women-in-the-automotive-industry/initiatives-01.jpg");
}

#women-in-the-automotive-industry .initiatives__item--two {
  background-image: url("/cdn/images/features/women-in-the-automotive-industry/initiatives-02.jpg");
}

#women-in-the-automotive-industry .initiatives__item--three {
  background-image: url("/cdn/images/features/women-in-the-automotive-industry/initiatives-03.jpg");
}

#women-in-the-automotive-industry .initiatives__item--four {
  background-image: url("/cdn/images/features/women-in-the-automotive-industry/initiatives-04.jpg");
}

#women-in-the-automotive-industry .initiatives__item--two .ch-col--sm-5,
#women-in-the-automotive-industry .initiatives__item--four .ch-col--sm-5 {
  float: right;
}

#women-in-the-automotive-industry .initiatives__item--two .ch-col--sm-7,
#women-in-the-automotive-industry .initiatives__item--four .ch-col--sm-7 {
  float: left;
}

#women-in-the-automotive-industry .initiatives__item__box {
  background-color: rgba(255,255,255,0.85);
  padding: 24px 28px;
  margin-bottom: 0;
}

#women-in-the-automotive-industry .initiatives--sticky-img {
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
}

#women-in-the-automotive-industry .initiatives--sticky-img {
  top: 36px;
}

#women-in-the-automotive-industry .initiatives--sticky-img {
  top: 48px;
}