.ch-hero {
  padding: 24px 0;
}

#servicing_tracker .section {
  padding: 18px 0;
}

#servicing_tracker .section {
  padding: 24px 0;
}

#servicing_tracker .ch-hero__content__heading {
  font-size: 26px;
  padding: 12px 0 0;
}

#servicing_tracker .ch-hero__content__heading {
  padding: 18px 0 0;
  font-size: 40px;
}

#servicing_tracker .ch-hero__content__subheading {
  font-size: 24px;
}

#servicing_tracker .ch-hero .icon--find-a-car {
  width: 150px;
  height: 150px;
  float: none;
  top: -12px;
}

#servicing_tracker .ch-hero .icon--find-a-car {
  margin-top: -24px;
  margin-bottom: -30px;
  width: 240px;
  height: 240px;
}

#servicing_tracker .intro__benefits {
  margin-top: 18px;
  padding: 24px 28px;
}

#servicing_tracker .intro__benefits {
  margin-top: 0;
  margin-bottom: 14px;
}

#servicing_tracker .tracker__box__monitor-copy {
  padding-top: 36px;
}

#servicing_tracker .tracker__box__cta .ch-btn {
  width: 200px;
}