#servicing_renault #model-selector .model-nav {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
}

#servicing_renault #model-selector .model-nav li {
  display: inline;
  float: left;
  position: relative;
  background-color: #fff;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  width: 20%;
  background-color: #fafafa;
}

#servicing_renault #model-selector .model-nav li:last-child {
  border-right: 1px solid #e5e5e5;
}

#servicing_renault #model-selector .model-nav li a,
#servicing_renault #model-selector .model-nav li a:visited {
  font-size: 18px;
  display: block;
  padding: 18px 14px;
  text-decoration: none;
  color: #2D3737;
  border-top: solid 3px #e5e5e5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#servicing_renault #model-selector .model-nav li a .model-nav__title,
#servicing_renault #model-selector .model-nav li a:visited .model-nav__title {
  font-size: 18px;
}

#servicing_renault #model-selector .model-nav li a .model-nav__title,
#servicing_renault #model-selector .model-nav li a:visited .model-nav__title {
  font-size: 15px;
  display: block;
  color: #2D3737;
}

#servicing_renault #model-selector .model-nav li a .model-nav__title,
#servicing_renault #model-selector .model-nav li a:visited .model-nav__title {
  font-size: 16px;
}

#servicing_renault #model-selector .model-nav li a:hover,
#servicing_renault #model-selector .model-nav li a:visited:hover {
  text-decoration: underline;
  background-color: #fff;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

#servicing_renault #model-selector .model-nav li a:active,
#servicing_renault #model-selector .model-nav li a:visited:active {
  border-top: solid 3px #00A3E0;
}

#servicing_renault #model-selector .model-nav li a:active .model-nav__title,
#servicing_renault #model-selector .model-nav li a:visited:active .model-nav__title {
  font-weight: 500;
}

#servicing_renault #model-selector .model-nav li.model-nav--selected {
  background-color: #fff;
  border-bottom: solid 1px #fff;
}

#servicing_renault #model-selector .model-nav li.model-nav--selected a,
#servicing_renault #model-selector .model-nav li.model-nav--selected a:visited {
  border-top: solid 3px #00A3E0;
}

#servicing_renault #model-selector .model-nav li.model-nav--selected a .model-nav__title,
#servicing_renault #model-selector .model-nav li.model-nav--selected a:visited .model-nav__title {
  font-weight: 500;
}

#servicing_renault #model-selector .model-select {
  display: none;
}

#servicing_renault .pricing {
  padding: 40px 0;
}

#servicing_renault th:first-child {
  width: 65%;
}

#servicing_renault td,
#servicing_renault th {
  font-size: 16px;
  padding: 10px 14px;
}

#servicing_renault p {
  font-size: 18px;
  line-height: 1.6;
}

#servicing_renault br {
  display: none;
}

#servicing_renault .btn--right {
  float: right;
}

#servicing_renault .air-con__header {
  margin-top: 10px;
}

#servicing_renault .air-con__header {
  margin-top: 10px;
  font-size: 36px;
}

#servicing_renault .air-con__btn {
  margin-top: 8px;
}