#best-deal-guarantee .hero {
  padding: 28px 0;
}

#best-deal-guarantee .tabs {
  height: 65px;
}

#best-deal-guarantee .tabs {
  height: 70px;
}

#best-deal-guarantee .tabs li {
  height: 64px;
}

#best-deal-guarantee .tabs li {
  height: 69px;
}

#best-deal-guarantee .tabs a {
  font-size: 14px;
  padding: 20px 20px 0;
}

#best-deal-guarantee .tabs a {
  font-size: 16px;
}

#best-deal-guarantee .tabs a {
  font-size: 18px;
  height: 70px;
}

#best-deal-guarantee .tab__content {
  padding: 28px;
}