#servicing_protect_products .hero {
  padding: 30px 0;
}

#servicing_protect_products .hero {
  padding-top: 40px;
}

#servicing_protect_products .hero h1 {
  font-size: 36px;
}

#servicing_protect_products .hero h1 {
  font-size: 48px;
}

#servicing_protect_products .hero p {
  font-size: 24px;
  padding-right: 0;
}

#servicing_protect_products .hero p {
  font-size: 30px;
  padding: 20px 0;
}

#servicing_protect_products .hero__icon {
  width: 164px;
  height: 82px;
  float: right;
}

#servicing_protect_products .sub-header {
  padding: 30px 0;
}

#servicing_protect_products .sub-header p {
  font-size: 18px;
  line-height: 1.6;
}

#servicing_protect_products .products li {
  margin-bottom: 25px;
}

#servicing_protect_products .products h3 {
  font-size: 18px;
}

#servicing_protect_products .products__card {
  min-height: 465px;
}

#servicing_protect_products .products__card {
  min-height: 440px;
}

#servicing_protect_products .products__card {
  min-height: 460px;
}

#servicing_protect_products .products__cta {
  position: absolute;
  bottom: 20px;
}

#servicing_protect_products .contact {
  padding-top: 20px;
  padding-bottom: 10px;
}

#servicing_protect_products .contact p {
  font-size: 16px;
  line-height: 1.6;
}