#unsubscribe .box {
  margin-top: 30px;
  padding: 30px;
  text-align: left;
}

#unsubscribe .box {
  padding: 60px;
}

#unsubscribe .box__header {
  text-align: left;
  padding-top: 0;
  padding-bottom: 30px;
}

#unsubscribe .box__icon {
  margin-right: 30px;
  margin-bottom: 0;
  float: left;
}

#unsubscribe .box__ctas {
  text-align: right;
}

#unsubscribe .box__ctas__btn {
  width: auto;
}

#unsubscribe .box__ctas__btn {
  margin-top: 30px;
}