.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#skoda_kodiaq section {
  margin-top: 24px;
  margin-bottom: 24px;
}

#skoda_kodiaq .hero h1 {
  font-size: 64px;
  line-height: 74px;
}

#skoda_kodiaq .hero h2 {
  font-size: 26px;
  line-height: 30px;
}

#skoda_kodiaq .hero p {
  max-width: 70%;
}

#skoda_kodiaq .hero p {
  max-width: 65%;
}

#skoda_kodiaq .hero p {
  max-width: none;
}

#skoda_kodiaq .hero {
  background-image: url("/cdn/images/skoda/kodiaq/skoda-kodiaq-hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

#skoda_kodiaq .hero--mobile {
  display: none;
}

#skoda_kodiaq .hero--content {
  margin-top: 5%;
  margin-bottom: 10%;
  background: transparent;
}

#skoda_kodiaq .hero--content {
  margin-top: 5%;
  margin-bottom: 15%;
}

#skoda_kodiaq .hero--ctas {
  margin-top: 20px;
}

#skoda_kodiaq .colours__list {
  padding: 14px 14px 0;
}

#skoda_kodiaq .colours__list {
  padding: 24px 24px 6px;
}

#skoda_kodiaq .colours__list__item.width-candy-white {
  padding-left: 12%;
}

#skoda_kodiaq .colours__list__item.width-candy-white {
  padding-left: 20%;
}

#skoda_kodiaq .colours__image {
  margin-top: -100px;
}

#skoda_kodiaq .style .section--content {
  margin-bottom: 35%;
}

#skoda_kodiaq .style .section--content {
  margin-bottom: 25%;
}

#skoda_kodiaq .technology img.infotainment {
  display: block;
}