.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.ch-table td,
.ch-table th {
  padding: 9px 10.5px;
}

.ch-table td,
.ch-table th {
  padding: 12px 14px;
}

#alpine p {
  font-size: 18px;
  line-height: 28px;
}

#alpine .img--mobile {
  display: none;
}

#alpine .img--desktop {
  display: block;
}

#alpine .pic-container {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

#alpine .pic-container:before {
  left: -42px;
  width: 80px;
}

#alpine .pic-container:before {
  left: -46px;
  width: 92px;
}

#alpine .pic-container:after {
  right: -55px;
  width: 100px;
}

#alpine .section {
  padding: 30px 0;
}

#alpine .section {
  text-align: left;
  padding: 36px 0;
}

#alpine .section {
  padding: 42px 0;
}

#alpine .section__hero {
  padding-bottom: 24px;
}

#alpine .section__hero {
  padding-bottom: 0;
  background-image: url("/cdn/images/alpine/alpine-hero--desktop.jpg");
  -webkit-background-size: 123% 123%;
  background-size: 123%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#alpine .section__hero__top {
  padding-bottom: 45%;
}

#alpine .section__hero__top {
  background: transparent;
  padding-bottom: 28%;
}

#alpine .section__hero__bottom {
  padding-bottom: 42px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19,26,45,0)), color-stop(1%, rgba(19,26,45,0.01)), color-stop(86%, #131a2d));
  background: -webkit-linear-gradient(top, rgba(19,26,45,0) 0%, rgba(19,26,45,0.01) 1%, #131a2d 86%);
  background: -o-linear-gradient(top, rgba(19,26,45,0) 0%, rgba(19,26,45,0.01) 1%, #131a2d 86%);
  background: linear-gradient(to bottom, rgba(19,26,45,0) 0%, rgba(19,26,45,0.01) 1%, #131a2d 86%);
}

#alpine .section__hero h1 {
  width: 30%;
}

#alpine .section__hero p {
  font-size: 22px;
}

#alpine .section__about {
  text-align: center;
}

#alpine .section__about .pic-container {
  float: left;
  width: 50%;
}

#alpine .section__interior {
  background-attachment: fixed;
}

#alpine .section__outro {
  text-align: center;
}

#alpine .section__gallery .magnify-image {
  margin-bottom: 24px;
  height: 180px;
}