.rep__figure {
  min-width: 25%;
}

.rep__figure {
  min-width: 12.5%;
}

#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

#mini-approved-used-car-event .section__hero--img-mobile {
  display: none;
}

#mini-approved-used-car-event .section__hero--img-desktop {
  display: block;
}

#mini-approved-used-car-event .section__hero__content {
  padding: 12px 0;
}

#mini-approved-used-car-event .section__hero__content h1 {
  font-size: 25px;
  line-height: 1.8;
  margin-bottom: 12px;
}

#mini-approved-used-car-event .section__hero__content h1 {
  margin-bottom: 0;
}

#mini-approved-used-car-event .section__hero__content .ch-btn:first-of-type {
  margin-left: 84px;
}

#mini-approved-used-car-event .section__hero__content .ch-btn:last-of-type {
  margin-bottom: inherit;
}

#mini-approved-used-car-event .section__why-choose--usp-list {
  width: 734px;
  margin-left: auto;
  margin-right: auto;
}

#mini-approved-used-car-event .section__why-choose--usp-list {
  width: 954px;
}

#mini-approved-used-car-event .section__why-choose--usp-list {
  width: 1154px;
}

#mini-approved-used-car-event .section__why-choose--usp-list-item {
  min-width: 275px;
  max-width: 275px;
}

#mini-approved-used-car-event .section__why-choose--usp-list-item {
  min-width: 235px;
  max-width: 235px;
}

#mini-approved-used-car-event .section__why-choose--usp-list-item {
  font-size: 18px;
  min-width: 280px;
  max-width: 280px;
  padding-right: 24px;
}

#mini-approved-used-car-event .section__why-choose--usp-list-item:last-of-type {
  min-width: 245px;
}

#mini-approved-used-car-event .section__why-choose--usp-list-item:last-of-type {
  min-width: 266px;
}

#mini-approved-used-car-event .section__branches__link:hover {
  border-bottom: 4px inset black;
  margin-bottom: 2px;
}

#mini-approved-used-car-event .section__branches__link__img {
  display: block;
}