#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

#toyota-yaris .hero {
  background-image: url("/cdn/images/toyota/yaris/yaris-hero.jpg");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: -webkit-calc(50% + 29px) -webkit-calc(50% - 1px);
  background-position: calc(50% + 29px) calc(50% - 1px);
  height: 300px;
}

#toyota-yaris .hero {
  background-position: -webkit-calc(50% - 70px) 50%;
  background-position: calc(50% - 70px) 50%;
  height: 500px;
}

#toyota-yaris .hero {
  background-position: center;
}

#toyota-yaris .hero__text {
  padding-bottom: 12px;
}

#toyota-yaris .hero__text {
  text-align: left;
  margin-top: 35px;
}

#toyota-yaris .hero__text {
  margin-top: 115px;
}

#toyota-yaris .hero__text {
  margin-top: 130px;
}

#toyota-yaris .hero__text h1 {
  margin-bottom: 18px;
}

#toyota-yaris .hero__text h1 {
  font-size: 80px;
  margin-bottom: 30px;
}

#toyota-yaris .hero__text span {
  font-size: 32px;
}

#toyota-yaris .hero__text p {
  margin: 0 0 12px;
}

#toyota-yaris .hero__text p {
  font-size: 18px;
  line-height: 29px;
  margin-top: 6px;
  max-width: 374px;
}

#toyota-yaris .hero img {
  display: none;
}

#toyota-yaris .exterior {
  margin: 45px 0;
  background: transparent;
}

#toyota-yaris .exterior__inner {
  background-image: url("/cdn/images/toyota/yaris/yaris-exterior-1.jpg");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

#toyota-yaris .exterior__text {
  padding: 18px 21px;
}

#toyota-yaris .exterior__text {
  height: 100%;
  float: right;
  padding: 30px 28px;
  background-color: rgba(20,20,20,0.76);
  max-width: 430px;
}

#toyota-yaris .exterior__text {
  padding: 60px 28px;
}

#toyota-yaris .exterior__img--mobile {
  display: none;
}

#toyota-yaris .exterior__img--tablet {
  display: block;
}

#toyota-yaris .exterior__img--tablet {
  display: none;
}

#toyota-yaris .interior {
  padding: 30px 0;
}

#toyota-yaris .interior__title {
  font-size: 28px;
  margin-bottom: 24px;
  margin-top: 0;
}

#toyota-yaris .interior__title--desktop {
  display: block;
}

#toyota-yaris .interior__title--mobile {
  display: none;
}

#toyota-yaris .interior p {
  margin-top: 18px;
  margin-bottom: 12px;
}

#toyota-yaris .interior-img {
  padding: 45px 0 28px;
}

#toyota-yaris .interior-img--mobile {
  display: none;
}

#toyota-yaris .interior-img--tablet {
  display: block;
}

#toyota-yaris .interior-img__text {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0;
}

#toyota-yaris .interior-img__text p {
  margin: 0 auto 18px;
}

#toyota-yaris .interior-img a {
  margin-bottom: 12px;
}

#toyota-yaris .hybrid {
  margin: 0 0 45px 0;
  background: transparent;
}

#toyota-yaris .hybrid__inner {
  background-image: url("/cdn/images/toyota/yaris/yaris-hybrid.jpg");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

#toyota-yaris .hybrid__text {
  padding: 18px 21px;
}

#toyota-yaris .hybrid__text {
  height: 100%;
  padding: 18px 28px;
  background-color: rgba(20,20,20,0.76);
  max-width: 430px;
}

#toyota-yaris .hybrid__text {
  padding: 30px 28px;
}

#toyota-yaris .hybrid__img--mobile {
  display: none;
}

#toyota-yaris .hybrid__img--tablet {
  display: block;
}

#toyota-yaris .hybrid__img--tablet {
  display: none;
}

#toyota-yaris .colours {
  padding: 36px 0;
}

#toyota-yaris .colours__list {
  margin: 30px 0;
  display: block;
  border: none;
}

#toyota-yaris .colours__list__item {
  width: 50%;
}

#toyota-yaris .colours__image {
  margin: 0 auto;
}

#toyota-yaris .colours__image {
  margin-top: 90px;
}

#toyota-yaris .colours__image {
  margin-top: 65px;
}

#toyota-yaris .deals {
  padding: 28px 0;
}

#toyota-yaris .deals__title {
  margin-bottom: 28px;
}