.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#ford_fiesta .img--mobile {
  display: none;
}

#ford_fiesta .img--tablet {
  display: block;
}

#ford_fiesta .img--tablet {
  display: none;
}

#ford_fiesta .floating-cta {
  background-image: -webkit-linear-gradient(181deg, #F9DB64 0%, #F1B434 45%, #F1B434 100%);
  background-image: -o-linear-gradient(181deg, #F9DB64 0%, #F1B434 45%, #F1B434 100%);
  background-image: linear-gradient(269deg, #F9DB64 0%, #F1B434 45%, #F1B434 100%);
}

#ford_fiesta .floating-cta {
  display: none;
}

#ford_fiesta .floating-cta a h1 {
  font-size: 18px;
  line-height: 50px;
}

#ford_fiesta .floating-cta a h1 span {
  display: inline-block;
}

#ford_fiesta .show {
  display: none;
}

#ford_fiesta .section {
  padding: 30px 0;
}

#ford_fiesta .section {
  padding: 36px 0;
}

#ford_fiesta .section {
  padding: 42px 0;
}

#ford_fiesta .section__hero {
  background: url("/cdn/images/ford/fiesta/hero--lg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

#ford_fiesta .section__hero__img--mobile {
  display: none;
}

#ford_fiesta .section__hero__img--tablet {
  display: block;
}

#ford_fiesta .section__hero__img--tablet {
  display: none;
}

#ford_fiesta .section__hero--content {
  background-color: transparent;
}

#ford_fiesta .section__hero--content h1 {
  margin-bottom: 264px;
  padding-top: 48px;
  font-size: 40px;
  line-height: 48px;
}

#ford_fiesta .section__hero--content h1 {
  margin-bottom: 372px;
  padding-top: 72px;
}

#ford_fiesta .section__hero--content h1.desktop-heading {
  display: block;
}

#ford_fiesta .section__hero--content p {
  padding: 60px 0 0;
}

#ford_fiesta .section__hero--content--mobile {
  display: none;
}

#ford_fiesta .section__hero--content--mobile h1 {
  margin-bottom: -48px;
}

#ford_fiesta .section__hero--buttons a:last-child {
  margin-top: 0;
}

#ford_fiesta .section__hero--buttons a {
  width: auto;
}

#ford_fiesta .section__hero--buttons a {
  width: 40%;
}

#ford_fiesta .section__design {
  background: url("/cdn/images/ford/fiesta/design--md.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 0;
}

#ford_fiesta .section__design {
  background: url("/cdn/images/ford/fiesta/design--lg.jpg");
  background-position: center center;
}

#ford_fiesta .section__design--content {
  padding-top: 30px;
  padding-bottom: 0;
}

#ford_fiesta .section__design--content {
  background-color: rgba(255,255,255,0.8);
  color: #2D3737;
  margin: 24px 0;
  padding: 12px 14px;
}

#ford_fiesta .section__design--content {
  margin-top: 96px;
  margin-bottom: 150px;
}

#ford_fiesta .section__design__cont--content {
  padding-top: 0;
}

#ford_fiesta .section__design__cont--content {
  padding: 42px 0;
}

#ford_fiesta .section__design__cont--content p {
  margin-bottom: 24px;
}

#ford_fiesta .section__tech {
  background: url("/cdn/images/ford/fiesta/technology--md.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 0;
}

#ford_fiesta .section__tech {
  background: url("/cdn/images/ford/fiesta/technology--lg.jpg");
  background-position: center center;
}

#ford_fiesta .section__tech--content {
  padding-top: 30px;
}

#ford_fiesta .section__tech--content {
  padding: 60px 0;
}

#ford_fiesta .section__tech--content {
  padding: 78px 0 132px;
}

#ford_fiesta .section__tech--content-box {
  background-color: #fff;
}

#ford_fiesta .section__tech--content-box {
  background-color: rgba(255,255,255,0.85);
  padding: 12px 14px;
}

#ford_fiesta .section__safety--content {
  padding: 42px 0;
}

#ford_fiesta .section__safety--content p {
  margin-bottom: 24px;
}

#ford_fiesta .section__variants--heading {
  text-align: center;
}

#ford_fiesta .section__variants--content .ch-card {
  min-height: 410px;
}

#ford_fiesta .section__variants--content .ch-card {
  min-height: 416px;
}

#ford_fiesta .section__variants--content .ch-card {
  min-height: 375px;
}

#ford_fiesta .section__variants--content .ch-card__content {
  min-height: 220px;
}

#ford_fiesta .section__variants--content .ch-card__content {
  min-height: 292px;
}

#ford_fiesta .section__variants--content .ch-card__content {
  min-height: 225px;
}

#ford_fiesta .section__fiesta-active {
  background-image: url("/cdn/images/ford/fiesta/active--md.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

#ford_fiesta .section__fiesta-active {
  background-image: url("/cdn/images/ford/fiesta/active--lg.jpg");
}

#ford_fiesta .section__fiesta-active--content {
  padding: 0 0 300px;
}

#ford_fiesta .section__fiesta-active--content {
  padding: 12px 0 504px;
}

#ford_fiesta .section__fiesta-active--content h1 {
  margin-bottom: 6px;
}

#ford_fiesta .section__fiesta-active-two__content {
  margin-top: -24px;
}

#ford_fiesta .section__fiesta-active-two__content {
  margin-top: -48px;
}

#ford_fiesta .section__fiesta-active-two__content--text {
  padding: 12px 14px;
}

#ford_fiesta .section__fiesta-active-two__content--text {
  padding: 18px 28px;
}

#ford_fiesta .section__fiesta-active-two__content .ch-card--model {
  padding-bottom: 24px;
}

#ford_fiesta .section__fiesta-active-two__content .ch-card--model {
  border: 0;
}

#ford_fiesta .section__fiesta-active-two__content .ch-card--model .ch-card__content {
  padding: 12px 14px;
  min-height: 415px;
}

#ford_fiesta .section__fiesta-active-two__content .ch-card--model .ch-card__content {
  min-height: 389px;
}

#ford_fiesta .section__fiesta-active-two__content .ch-card--model .ch-card__content {
  min-height: 424px;
}

#ford_fiesta .section__fiesta-active-two__content .ch-card--model .ch-card__content .ch-btn {
  width: auto;
}

#ford_fiesta .section__fiesta-active-two__content .ch-card--model .ch-card__content .ch-btn {
  width: 100%;
}

#ford_fiesta .section__fiesta-active-two__content .ch-card--model .ch-card__content .ch-btn {
  width: 100%;
}

#ford_fiesta .section__colour .colours {
  padding: 24px 0;
}

#ford_fiesta .section__colour .colours__list {
  margin: 0;
}

#ford_fiesta .section__colour .colours__list {
  display: block;
  border: none;
}

#ford_fiesta .section__colour .colours__list__item {
  width: 50%;
}

#ford_fiesta .section__colour .colours__image {
  margin-top: 0;
}

#ford_fiesta .section__cta {
  text-align: center;
}

#ford_fiesta .section__cta {
  text-align: left;
}

#ford_fiesta .mini-nav {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 75px;
  top: 0;
  z-index: 100;
  background-color: #f2f2f2;
  color: #ffffff;
  display: block;
}

#ford_fiesta .mini-nav .mini-nav__desktop ul {
  display: block;
}

#ford_fiesta .mini-nav .mini-nav__desktop li a {
  display: block;
  width: 120px;
  text-align: center;
  line-height: 70px;
  font-size: 16px;
  font-weight: 400;
  color: #2D3737;
  text-decoration: none;
}

#ford_fiesta .mini-nav .mini-nav__desktop li a {
  width: 130px;
  font-size: 18px;
}

#ford_fiesta .mini-nav .mini-nav__desktop li a {
  width: 166px;
}