#drive-the-night-away .center {
  text-align: center;
}

#drive-the-night-away .ch-btn .hide {
  display: inline-block;
}

#drive-the-night-away .section {
  padding: 28px 0;
}

#drive-the-night-away .section--deep {
  padding: 56px 0;
}

#drive-the-night-away .hero__content {
  text-align: left;
  position: absolute;
  top: 0;
  left: 55%;
  padding: 150px 0;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#2D3737));
  background: -webkit-linear-gradient(left, transparent, #2D3737);
  background: -o-linear-gradient(left, transparent, #2D3737);
  background: linear-gradient(to right, transparent, #2D3737);
}

#drive-the-night-away .hero__content h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#drive-the-night-away .hero__content h1 span {
  display: block;
}

#drive-the-night-away .hero__content {
  left: 55%;
}

#drive-the-night-away .hero__content h1 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
  max-width: 500px;
}

#drive-the-night-away .hero__content {
  padding: 220px 0;
}

#drive-the-night-away .hero__video {
  background-image: url("/cdn/images/drive-the-night-away/drive-the-night-away-hero.jpg");
}

#drive-the-night-away .hero__video {
  height: 550px;
}

#drive-the-night-away .hero__video video {
  display: block;
  position: absolute;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#drive-the-night-away .steps__heading {
  min-height: 60px;
}

#drive-the-night-away .steps__heading {
  min-height: 0;
}

#drive-the-night-away .steps__heading--last {
  margin-top: 0;
}

#drive-the-night-away .steps__list__item {
  width: 50%;
  float: left;
  display: inline-block;
  min-height: 230px;
}

#drive-the-night-away .steps__list__item {
  min-height: 220px;
}

#drive-the-night-away .steps__list__item {
  margin-top: 12px;
  width: 25%;
  min-height: 270px;
  padding: 24px;
}

#drive-the-night-away .steps__list__item .ch-btn {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  margin: 0 20px 12px;
}