.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.ch-hero {
  padding: 24px 0;
}

.careers-footer__dcc {
  height: 50px;
}

.careers-footer__dcc {
  height: 60px;
}

.careers-footer__sdc {
  height: 50px;
}

.careers-footer__sdc {
  height: 60px;
}

.careers-footer__httfw {
  height: 50px;
}

.careers-footer__httfw {
  height: 60px;
}

#product-genius .pg-hero {
  padding: 42px 0;
}

#product-genius .pg-hero:before {
  background: url("/cdn/images/careers/pages/product-genius/pg-hero--cutout.png") no-repeat right top;
  -webkit-background-size: 40% 40%;
  background-size: 40%;
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  margin-right: -385px;
  position: absolute;
  right: 50%;
  width: 100%;
}

#product-genius .pg-hero:before {
  -webkit-background-size: auto auto;
  background-size: auto;
  margin-right: -495px;
}

#product-genius .pg-hero:before {
  margin-right: -577px;
}

#product-genius .pg-hero .ch-hero__content__heading {
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 24px;
}

#product-genius .pg-video--container h2 {
  margin-top: auto;
}

#product-genius .pg-video--container {
  padding: 42px 0;
}

#product-genius .pg-signs--container {
  background: url("/cdn/images/careers/pages/product-genius/pg-duties--background.jpg") no-repeat center;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  border: 0 none transparent;
  padding: 42px 0;
}

#product-genius .pg-duties--container {
  padding: 36px 0;
}

#product-genius .ch-card__content p {
  min-height: 72px;
}

#product-genius .ch-card__content p {
  min-height: 120px;
}

#product-genius .ch-card__content p {
  min-height: 100px;
}

#product-genius .pg-looking_for--container:before {
  background: url("/cdn/images/careers/pages/product-genius/pg-signs--cutout.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-background-size: 40% 40%;
  background-size: 40%;
  bottom: 0;
  content: "";
  height: 100%;
  margin-left: 30px;
  position: absolute;
  left: 50%;
  width: 100%;
}

#product-genius .pg-looking_for--container:before {
  background-position: left top;
  -webkit-background-size: auto auto;
  background-size: auto;
  bottom: -24px;
  margin-left: -70px;
}

#product-genius .pg-looking_for--container {
  padding: 36px 0;
}

#product-genius .pg-benefits--container {
  padding: 42px 0;
}

#product-genius .pg-benefits--list-item {
  border-bottom: 0 none transparent;
  font-size: 16px;
  min-height: 125px;
  padding: 0;
}

#product-genius .pg-benefits--list-item:before {
  -webkit-background-size: auto auto;
  background-size: auto;
  height: 125px;
  width: 125px;
}

#product-genius .pg-start--container h4 {
  display: inline-block;
  margin-right: 14px;
}

#product-genius .steps {
  margin-bottom: 0;
}

#product-genius .steps--container {
  padding-left: 0;
  padding-right: 0;
}

#product-genius .steps .tabs {
  height: 66px;
}

#product-genius .steps .tabs {
  height: 54px;
}

#product-genius .steps .tabs li {
  height: 65px;
}

#product-genius .steps .tabs li {
  height: 69px;
  width: 25%;
}

#product-genius .steps .tabs a {
  font-size: 14px;
}

#product-genius .steps .tabs a {
  font-size: 16px;
  padding: 12px 12px 0;
  height: 66px;
  line-height: 32px;
}

#product-genius .steps .tabs a {
  height: 54px;
}

#product-genius .steps .tab__content {
  padding: 18px 21px;
}

#product-genius .steps .tab__content {
  padding: 30px 28px;
}

#product-genius .steps .tab__content__text p {
  height: 45px;
  font-size: 16px;
}

#product-genius .steps .tab__content__text li {
  font-size: 16px;
  margin-bottom: 12px;
}

#product-genius .steps .tab__content__text a {
  font-size: 16px;
  line-height: 24px;
}

#product-genius .steps .tab__content__text a {
  margin-bottom: 0;
}

#product-genius .steps .tab__content__img img {
  margin: 48px 0;
}

#product-genius .steps .tab__content__img img {
  margin: 18px 0;
}

#product-genius .steps .tab__content__img img {
  margin: 0;
  max-height: 270px;
}

#product-genius .steps .tab__content__img--mobile {
  display: none;
}

#product-genius .steps .tab__content__img--desktop {
  display: inline-block;
}