.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.careers-footer__dcc {
  height: 50px;
}

.careers-footer__dcc {
  height: 60px;
}

.careers-footer__sdc {
  height: 50px;
}

.careers-footer__sdc {
  height: 60px;
}

.careers-footer__httfw {
  height: 50px;
}

.careers-footer__httfw {
  height: 60px;
}

#apprenticeships p,
#apprenticeships ul,
#apprenticeships li {
  font-size: 18px;
  line-height: 1.5;
}

#apprenticeships .hero__blocks {
  position: absolute;
  display: block;
  width: 312px;
  height: 320px;
  background-image: url("/cdn/images/careers/apprenticeships/hero-right-blocks.png");
  background-repeat: no-repeat;
  top: 0;
  right: 0;
}

#apprenticeships .hero__logo {
  width: 50%;
}

#apprenticeships .hero__content {
  padding: 72px 0;
}

#apprenticeships .hero__content h1 {
  font-size: 36px;
}

#apprenticeships .hero__content h2 {
  font-size: 24px;
}

#apprenticeships .hero__content p {
  font-size: 18px;
  line-height: 1.5;
}

#apprenticeships .hero__content p {
  max-width: 440px;
}

#apprenticeships .hero__content p {
  max-width: 600px;
}

#apprenticeships .intro {
  margin: 30px 0;
  padding: 30px 0;
}

#apprenticeships .intro {
  margin: 42px 0;
  padding: 42px 0;
  right: 0;
}

#apprenticeships .intro__content {
  margin-bottom: 0;
}

#apprenticeships .intro .video-container {
  margin-top: 6px;
  margin-bottom: 0;
}

#apprenticeships .why-choose {
  background-image: url("/cdn/images/careers/apprenticeships/hero-2.jpg");
  background-position: 70% center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}

#apprenticeships .why-choose {
  padding: 144px 0;
}

#apprenticeships .why-choose__image {
  display: none;
}

#apprenticeships .why-choose__content {
  background: #fff;
  padding: 24px 28px;
  border: 1px solid #e5e5e5;
}

#apprenticeships .did-you-know {
  padding-top: 36px;
}

#apprenticeships .did-you-know {
  padding-bottom: 48px;
}

#apprenticeships .did-you-know__blocks {
  position: absolute;
  display: block;
  width: 685px;
  height: 817px;
  background: url("/cdn/images/careers/apprenticeships/woman-blocks.png");
  background-repeat: no-repeat;
  border-left: 0;
  top: -69px;
  right: -240px;
  margin-top: -100px;
  z-index: 1;
}

#apprenticeships .did-you-know__blocks {
  top: -54px;
  right: -200px;
}

#apprenticeships .work-experience {
  background-image: url("/cdn/images/careers/apprenticeships/hero-3-desktop.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 12px 0 36px 0;
}

#apprenticeships .work-experience__image {
  display: none;
}

#apprenticeships .work-experience__blocks {
  position: absolute;
  display: block;
  width: 321px;
  height: 328px;
  background-image: url("/cdn/images/careers/apprenticeships/footer-right-blocks.png");
  background-repeat: no-repeat;
  bottom: -25px;
  right: -25px;
}

#apprenticeships .work-experience__content {
  background: #fff;
  margin-top: 24px;
  padding: 24px 28px;
  border: 1px solid #e5e5e5;
}

#apprenticeships .van__background {
  background: #fff;
  padding: 0 12px;
}

#apprenticeships .van {
  background: #00A3E0;
  padding: 60px 0;
  margin-bottom: 0;
}

#apprenticeships .van {
  padding: 144px 0;
}

#apprenticeships .van__video {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 7px;
}

#apprenticeships .van__video {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0;
}

#apprenticeships .van__content {
  padding: 24px 28px;
}

#apprenticeships .van__content {
  margin-top: 48px;
}

#apprenticeships .map {
  height: 400px;
}

#apprenticeships .map__container {
  padding-top: 0;
  margin-top: -96px;
}

#apprenticeships .footer {
  text-align: center;
  display: block;
  margin: 0 auto;
}