.aci-hero,
.aci-hero--alt {
  -moz-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-position: center;
  background-size: cover;
}

.aci-hero:before,
.aci-hero--alt:before {
  height: auto;
}

.aci-title--container {
  height: auto;
  margin-bottom: auto;
  margin-top: 24px;
  text-align: left;
}

.aci-title--container .aci-heading {
  font-size: 42px;
}

.aci-title--container .aci-lead {
  font-size: 22px;
  text-align: left;
  max-width: 400px;
}

.aci-title--container .ch-btn {
  margin-bottom: 0;
  width: auto;
  display: inline-block;
}

.aci-title--container .or-divider {
  display: block;
  text-align: center;
}

.aci-title--container .or-divider {
  display: inline-block;
}

.aci-title--container .call-now {
  display: inline;
  margin-left: 7px;
  text-align: left;
}

.ch-hide--md {
  display: block;
}

.aci-hero--alt {
  min-height: 180px;
}

.aci-hero--home_page {
  min-height: 250px;
  padding-bottom: 100px;
}

.aci-product_card .ch-list--tick {
  min-height: 190px;
}

.aci-product_card .ch-list--tick {
  min-height: auto;
}

.aci-product_card--sm:hover {
  -ms-transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  border-bottom-color: #0087bc;
  cursor: pointer;
  transform: translateY(-4px);
}

.aci-product_card--sm:hover .insurance-title {
  color: #0087bc;
}

.aci-product_card--sm:hover .faux-link {
  text-decoration: none;
}

.aci-product_card--sm:hover a {
  text-decoration: none;
}

.aci-product_card--footer {
  text-align: left;
}

.aci-product_card--footer {
  text-align: center;
}

.aci-product_card--footer {
  text-align: left;
}

.aci-product_card--footer .ch-btn--cta {
  margin: 0;
  position: absolute;
  right: 14px;
  top: -24px;
  width: auto;
}

.aci-product_card--footer .ch-btn--cta {
  margin-bottom: 12px;
  margin-top: -40px;
  position: static;
  text-align: center;
  width: 100%;
}

.aci-product_card--footer .ch-btn--cta {
  margin: 0;
  position: absolute;
  right: 14px;
  top: -24px;
  width: auto;
}