.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#ford_motorcraft .section {
  padding: 24px 0;
}

#ford_motorcraft .hero {
  background-image: url("/cdn/images/servicing/ford/motorcraft/hero.jpg"),-webkit-gradient(linear, left top, right top, from(#43596a), color-stop(30%, #43596a), color-stop(30%, #e69b95), to(#e69b95));
  background-image: url("/cdn/images/servicing/ford/motorcraft/hero.jpg"),-webkit-linear-gradient(left, #43596a, #43596a 30%, #e69b95 30%, #e69b95);
  background-image: url("/cdn/images/servicing/ford/motorcraft/hero.jpg"),-o-linear-gradient(left, #43596a, #43596a 30%, #e69b95 30%, #e69b95);
  background-image: url("/cdn/images/servicing/ford/motorcraft/hero.jpg"),linear-gradient(to right, #43596a, #43596a 30%, #e69b95 30%, #e69b95);
  height: 250px;
}

#ford_motorcraft .hero__mobile-image {
  display: none;
}

#ford_motorcraft .hero__text {
  padding-top: 30px;
}

#ford_motorcraft .hero__text h2 {
  font-size: 38px;
  line-height: 42px;
}

#ford_motorcraft .services .ch-card {
  margin-bottom: 0;
  height: 607px;
}

#ford_motorcraft .services .ch-card {
  height: 511px;
}

#ford_motorcraft #model-selector .model-nav {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
}

#ford_motorcraft #model-selector .model-nav ul {
  display: table;
  table-layout: fixed;
  width: 120%;
}

#ford_motorcraft #model-selector .model-nav li {
  display: table-cell;
  float: left;
  position: relative;
  background-color: #fff;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  width: 16.6666666667%;
  background-color: #fafafa;
}

#ford_motorcraft #model-selector .model-nav li:last-child {
  border-right: 1px solid #e5e5e5;
}

#ford_motorcraft #model-selector .model-nav li a,
#ford_motorcraft #model-selector .model-nav li a:visited {
  font-size: 18px;
  display: block;
  padding: 18px 14px;
  text-decoration: none;
  color: #2D3737;
  border-top: solid 3px #e5e5e5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#ford_motorcraft #model-selector .model-nav li a .model-nav__title,
#ford_motorcraft #model-selector .model-nav li a:visited .model-nav__title {
  font-size: 18px;
}

#ford_motorcraft #model-selector .model-nav li a .model-nav__title,
#ford_motorcraft #model-selector .model-nav li a:visited .model-nav__title {
  font-size: 15px;
  display: block;
  color: #2D3737;
}

#ford_motorcraft #model-selector .model-nav li a .model-nav__title,
#ford_motorcraft #model-selector .model-nav li a:visited .model-nav__title {
  font-size: 16px;
}

#ford_motorcraft #model-selector .model-nav li a:hover,
#ford_motorcraft #model-selector .model-nav li a:visited:hover {
  text-decoration: underline;
  background-color: #fff;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

#ford_motorcraft #model-selector .model-nav li a:active,
#ford_motorcraft #model-selector .model-nav li a:visited:active {
  border-top: solid 3px #00A3E0;
}

#ford_motorcraft #model-selector .model-nav li a:active .model-nav__title,
#ford_motorcraft #model-selector .model-nav li a:visited:active .model-nav__title {
  font-weight: 500;
}

#ford_motorcraft #model-selector .model-nav li.model-nav--selected {
  background-color: #fff;
  border-bottom: solid 1px #fff;
}

#ford_motorcraft #model-selector .model-nav li.model-nav--selected a,
#ford_motorcraft #model-selector .model-nav li.model-nav--selected a:visited {
  border-top: solid 3px #00A3E0;
}

#ford_motorcraft #model-selector .model-nav li.model-nav--selected a .model-nav__title,
#ford_motorcraft #model-selector .model-nav li.model-nav--selected a:visited .model-nav__title {
  font-weight: 500;
}

#ford_motorcraft #model-selector .model-select {
  display: none;
}

#ford_motorcraft .pricing__table tr:first-child {
  border-top: none;
}

#ford_motorcraft th:first-child {
  width: 66.8%;
}

#ford_motorcraft td,
#ford_motorcraft th {
  font-size: 16px;
  padding: 12px 14px;
}

#ford_motorcraft .price-promises {
  background-image: url("/cdn/images/servicing/ford/motorcraft/price-promise.jpg");
}

#ford_motorcraft .price-promises__mobile-image {
  display: none;
}

#ford_motorcraft .price-promises__text {
  padding: 12px 14px;
}

#ford_motorcraft .cta {
  margin-top: 24px;
  padding: 18px 21px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

#ford_motorcraft .cta__btns {
  float: right;
}

#ford_motorcraft .terms {
  margin-top: 28px;
}

#ford_motorcraft .terms__content {
  font-size: 14px;
}