#best-deal-guarantee .hero {
  background-image: url("/cdn/images/best-deal-guarantee/hero-img--desktop.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -webkit-calc(50% + 110px);
  background-position: calc(50% + 110px);
}

#best-deal-guarantee .hero {
  background-position: center;
}

#best-deal-guarantee .hero__top--mobile {
  display: none;
}

#best-deal-guarantee .hero__top--mobile .mobile-img {
  display: none;
}

#best-deal-guarantee .hero__top--mobile .tablet-img {
  display: block;
}

#best-deal-guarantee .hero__top--mobile .tablet-img {
  display: none;
}

#best-deal-guarantee .hero__top--desktop {
  display: block;
}

#best-deal-guarantee .hero__top__img {
  margin-bottom: -28px;
}

#best-deal-guarantee .hero__top__img {
  width: auto;
  right: auto;
  bottom: auto;
  margin-left: 240px;
}

#best-deal-guarantee .hero__top__img {
  margin-left: 250px;
}

#best-deal-guarantee .hero__text {
  margin: 0;
  padding: 96px 0 114px;
}

#best-deal-guarantee .hero__text {
  padding: 108px 0 144px;
}

#best-deal-guarantee .hero__text br {
  display: block;
}

#best-deal-guarantee .hero__text__heading {
  font-size: 36px;
  line-height: 42px;
}

#best-deal-guarantee .hero__text__heading {
  font-size: 42px;
  line-height: 50px;
}

#best-deal-guarantee .hero__text__cta {
  margin-bottom: 0;
}

#best-deal-guarantee .what-is__title span {
  display: inline;
}

#best-deal-guarantee .dtd__title {
  margin-top: 42px;
}

#best-deal-guarantee .dtd__img {
  float: right;
}

#best-deal-guarantee .dtd .ch-btn {
  display: inline-block;
}