#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#delivery-centre--deal .seperator--mobile-only {
  display: none;
}

#delivery-centre--deal .custom-container {
  padding-right: 14px;
  width: 734px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  white-space: normal;
}

#delivery-centre--deal .custom-container {
  width: 954px;
}

#delivery-centre--deal .custom-container {
  width: 1154px;
}

#delivery-centre--deal .product__images__mobile-img {
  display: none;
}

#delivery-centre--deal .product__flash {
  display: none;
}

#delivery-centre--deal .product__offer {
  background-color: #000;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
}

#delivery-centre--deal .product__offer {
  padding: 36px 0;
}

#delivery-centre--deal .product__offer {
  padding: 42px 0;
}

#delivery-centre--deal .product__offer h2 {
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 6px;
}

#delivery-centre--deal .product__offer h3 {
  margin-bottom: 18px;
}

#delivery-centre--deal .product__offer__cash {
  font-size: 14px;
}

#delivery-centre--deal .product__offer__cash__figure {
  font-size: 22px;
}

#delivery-centre--deal .product__offer__saving {
  font-size: 14px;
}

#delivery-centre--deal .product__offer__delivery-desktop {
  display: block;
}

#delivery-centre--deal .product__offer .ch-btn {
  margin-top: 6px;
  padding: 11px 13px;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
}

#delivery-centre--deal .product .gallery--mobile {
  display: none;
}

#delivery-centre--deal .product .gallery--desktop {
  display: inline-block;
  float: right;
}

#delivery-centre--deal .features {
  padding: 12px 0 0;
}

#delivery-centre--deal .features {
  padding: 18px 0;
}

#delivery-centre--deal .features h4 {
  line-height: 26px;
  margin-bottom: 18px;
}

#delivery-centre--deal .features__block {
  max-width: none;
  margin-right: 21px;
  margin-bottom: 18px;
}

#delivery-centre--deal .features__block {
  margin-bottom: 0;
  margin-right: 28px;
}

#delivery-centre--deal .features__block--3 {
  width: 30.95%;
}

#delivery-centre--deal .features__block--3 {
  width: 31.01%;
}

#delivery-centre--deal .features__block--3 {
  width: 31.42%;
}

#delivery-centre--deal .features__block--4 {
  width: 46.77%;
}

#delivery-centre--deal .features__block--4 {
  width: 22.44%;
}

#delivery-centre--deal .features__block--4 {
  width: 22.89%;
}

#delivery-centre--deal .features__block:last-of-type {
  margin-right: 0;
}

#delivery-centre--deal .features__block__caption span {
  font-size: 14px;
  padding-left: 14px;
}

#delivery-centre--deal .summary {
  padding: 18px 0;
}

#delivery-centre--deal .summary h4 {
  line-height: 26px;
  margin-bottom: 18px;
}

#delivery-centre--deal .summary__block {
  margin-bottom: 12px;
}

#delivery-centre--deal .flash h1 {
  max-width: none;
  font-size: 26px;
  margin-top: 8px;
}

#delivery-centre--deal .intro {
  background-image: url("/cdn/images/delivery-centres/branch.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px 0;
  background-position: -webkit-calc(50% - 77px) -webkit-calc(50% - -38px);
  background-position: calc(50% - 77px) calc(50% - -38px);
}

#delivery-centre--deal .intro {
  background-position: -webkit-calc(50% - 110px);
  background-position: calc(50% - 110px);
  padding: 60px 0;
}

#delivery-centre--deal .intro {
  background-position: -webkit-calc(50% - 180px);
  background-position: calc(50% - 180px);
}

#delivery-centre--deal .intro__heading {
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  margin-bottom: 18px;
}

#delivery-centre--deal .intro__body {
  font-size: 16px;
  max-width: 469px;
}

#delivery-centre--deal .intro__body {
  max-width: 441px;
}

#delivery-centre--deal .intro img {
  display: none;
}

#delivery-centre--deal .intro li {
  font-size: 16px;
  margin-bottom: 12px;
}

#delivery-centre--deal .intro li {
  max-width: 441px;
}

#delivery-centre--deal .intro li:last-of-type {
  max-width: 350px;
}

#delivery-centre--deal .how {
  padding: 24px 0 48px;
}

#delivery-centre--deal .how h4 {
  line-height: 30px;
}

#delivery-centre--deal .how__block {
  padding: 0;
  margin-bottom: 24px;
}

#delivery-centre--deal .how__block {
  padding: 0 21px 18px;
  margin-bottom: 30px;
}

#delivery-centre--deal .how__block img {
  float: right;
  margin-right: 14px;
  margin-top: 12px;
}

#delivery-centre--deal .how__block img {
  float: none;
  margin: 0 auto;
}

#delivery-centre--deal .how__block__text {
  padding: 30px 14px;
}

#delivery-centre--deal .how__block__text {
  padding: 0;
}

#delivery-centre--deal .how__block__text p {
  font-size: 16px;
}

#delivery-centre--deal .how__block-bdg__bdg-icon {
  float: right;
  width: 182px;
  margin: 24px 14px 0 0;
}

#delivery-centre--deal .how__block-bdg__bdg-icon {
  margin: 0;
  width: 168px;
}

#delivery-centre--deal .how__block-bdg__bdg-icon {
  width: 217px;
}

#delivery-centre--deal .how__block-bdg__product-genius {
  display: block;
  width: 217px;
  float: right;
  margin-right: 42px;
}

#delivery-centre--deal .how__block-bdg__text {
  padding: 30px 28px;
}

#delivery-centre--deal .how__block-bdg__text h5 {
  font-size: 20px;
  line-height: 24px;
}

#delivery-centre--deal .how__block-bdg__text p {
  font-size: 16px;
  max-width: 427px;
}

#delivery-centre--deal .how__block-bdg__text p {
  margin-bottom: 18px;
  max-width: 399px;
}

#delivery-centre--deal .how__block-bdg__text a {
  padding: 11px 13px;
  font-size: 16px;
  line-height: 24px;
}

#delivery-centre--deal .how-it-works {
  padding: 30px 0;
}

#delivery-centre--deal .how-it-works h4 {
  margin-bottom: 48px;
}

#delivery-centre--deal .how-it-works h4 {
  margin-bottom: 54px;
}

#delivery-centre--deal .how-it-works h5 {
  padding-right: 14px;
}

#delivery-centre--deal .how-it-works h5 {
  text-align: center;
}

#delivery-centre--deal .how-it-works .number:before {
  width: 34px;
  height: 34px;
  padding-top: 5px;
  float: none;
  margin: 0 auto 12px;
}

#delivery-centre--deal .how-it-works p {
  display: block;
  text-align: center;
  font-size: 16px;
}

#delivery-centre--deal .reviews {
  padding: 18px 0;
}

#delivery-centre--deal .reviews {
  padding: 30px 0;
}

#delivery-centre--deal .reviews__intro p {
  font-size: 16px;
  margin-bottom: 24px;
}

#delivery-centre--deal .reviews__box--1 {
  margin: 0 0 30px;
}

#delivery-centre--deal .reviews__box--1 {
  margin: 0;
}

#delivery-centre--deal .reviews__box__top {
  padding: 12px 21px 6px;
}

#delivery-centre--deal .reviews__box__top__left {
  display: inline-block;
}

#delivery-centre--deal .reviews__box__top__left img {
  margin-left: 0;
  width: auto;
}

#delivery-centre--deal .reviews__box__top__left--google {
  padding-top: 0;
  margin-bottom: 0;
}

#delivery-centre--deal .reviews__box__top__right {
  display: inline-block;
  float: right;
}

#delivery-centre--deal .reviews__box__top__right p {
  font-size: 18px;
  margin-top: 6px;
  text-align: left;
}

#delivery-centre--deal .reviews__box__top__right p {
  font-size: 16px;
  margin-top: 9px;
}

#delivery-centre--deal .reviews__box__top__right p {
  font-size: 18px;
  margin-top: 6px;
}

#delivery-centre--deal .reviews__box__top__right img {
  margin: 0;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  margin-top: -2px;
}

#delivery-centre--deal .reviews__box__content {
  padding: 18px 21px;
}

#delivery-centre--deal .reviews__box__content p {
  margin-top: 18px;
}

#delivery-centre--deal .search-flash {
  padding: 18px 0;
}

#delivery-centre--deal .search-flash img {
  width: 77px;
  display: inline-block;
  float: left;
  margin-right: 42px;
  margin-top: 12px;
}

#delivery-centre--deal .search-flash img {
  margin-top: 3px;
}

#delivery-centre--deal .search-flash__text {
  display: inline-block;
}

#delivery-centre--deal .search-flash__text .icon:after {
  display: none;
}

#delivery-centre--deal .search-flash__text p {
  margin-bottom: 0;
  font-size: 16px;
  max-width: 378px;
  display: inline-block;
}

#delivery-centre--deal .search-flash__text p {
  max-width: 476px;
}

#delivery-centre--deal .search-flash a {
  padding: 11px 13px;
  font-size: 16px;
  line-height: 24px;
  float: right;
  display: inline-block;
  margin-top: 24px;
}

#delivery-centre--deal .search-flash a {
  margin-top: 12px;
}

#delivery-centre--deal .rep-example {
  padding: 30px;
}

#delivery-centre--deal .rep-example {
  padding: 48px;
}

.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

#delivery-centre .custom-container {
  padding-right: 14px;
  width: 734px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  white-space: normal;
}

#delivery-centre .custom-container {
  width: 954px;
}

#delivery-centre .custom-container {
  width: 1154px;
}

#delivery-centre .hero {
  padding: 24px 0 0;
}

#delivery-centre .hero {
  background-image: url("/cdn/images/delivery-centres/branch.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -webkit-calc(50% - 110px);
  background-position: calc(50% - 110px);
  padding: 42px 0 144px;
}

#delivery-centre .hero {
  background-position: -webkit-calc(50% - 90px);
  background-position: calc(50% - 90px);
}

#delivery-centre .hero__branch-img {
  display: none;
}

#delivery-centre .hero__icon {
  width: 77px;
}

#delivery-centre .hero__icon {
  float: none;
  display: block;
  width: 50px;
  margin-bottom: 12px;
}

#delivery-centre .hero h1 {
  max-width: none;
  font-size: 32px;
  line-height: 38px;
}

#delivery-centre .hero h1 {
  display: block;
}

#delivery-centre .hero p {
  font-size: 22px;
  line-height: 26px;
  max-width: 511px;
}

#delivery-centre .hero p {
  margin-bottom: 18px;
}

#delivery-centre .hero-flash {
  padding: 12px 0;
}

#delivery-centre .hero-flash h3 {
  font-size: 24px;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 12px;
  line-height: 24px;
}

#delivery-centre .hero-flash a {
  float: right;
  display: inline-block;
  padding: 11px 13px;
  font-size: 16px;
  line-height: 24px;
}

#delivery-centre .hero-flash span {
  display: inline-block;
}

#delivery-centre .hero-flash--realsale {
  padding: 18px 0;
}

#delivery-centre .hero-flash--realsale h3 {
  font-size: 18px;
  line-height: 24px;
}

#delivery-centre .hero-flash--realsale h3 {
  font-size: 24px;
  line-height: 28px;
}

#delivery-centre .hero-flash--realsale h3 {
  font-size: 28px;
}

#delivery-centre .hero-flash--realsale--logo {
  width: 150px;
}

#delivery-centre .hero-flash--realsale--logo {
  width: 200px;
  right: 14px;
}

#delivery-centre .hero-flash--realsale--logo {
  width: 250px;
}

#delivery-centre .deals {
  padding: 30px 0;
}

#delivery-centre .deals h4 {
  margin-bottom: 18px;
}

#delivery-centre .deals__block {
  display: inline-block;
  margin-right: 28px;
  width: 30.69%;
}

#delivery-centre .deals__block {
  margin-top: 0;
  width: 31.31%;
}

#delivery-centre .deals__block {
  width: 31.67%;
}

#delivery-centre .deals__block--last {
  margin-right: 0;
}

#delivery-centre .info {
  padding: 30px 0;
}

#delivery-centre .info {
  padding: 48px 0;
}

#delivery-centre .info__text {
  margin-bottom: 30px;
}

#delivery-centre .info__text {
  margin-bottom: 0;
}

#delivery-centre .info__text p {
  font-size: 16px;
}

#delivery-centre .info__text p {
  max-width: 441px;
}

#delivery-centre .info__text li {
  font-size: 16px;
  margin-bottom: 12px;
}

#delivery-centre .info__text li {
  max-width: 441px;
}

#delivery-centre .info__text li:last-of-type {
  max-width: 350px;
}

#delivery-centre .how {
  padding: 24px 0 48px;
}

#delivery-centre .how h4 {
  line-height: 30px;
}

#delivery-centre .how__block {
  padding: 0;
  margin-bottom: 24px;
}

#delivery-centre .how__block {
  padding: 0 21px 18px;
  margin-bottom: 30px;
  min-height: 285px;
}

#delivery-centre .how__block {
  min-height: 261px;
}

#delivery-centre .how__block img {
  float: right;
  margin-right: 14px;
  margin-top: 12px;
}

#delivery-centre .how__block img {
  float: none;
  margin: 0 auto;
}

#delivery-centre .how__block__text {
  padding: 30px 14px;
}

#delivery-centre .how__block__text {
  padding: 0;
}

#delivery-centre .how__block__text p {
  font-size: 16px;
}

#delivery-centre .how__block-bdg__bdg-icon {
  float: right;
  width: 182px;
  margin: 24px 14px 0 0;
}

#delivery-centre .how__block-bdg__bdg-icon {
  margin: 0;
  width: 168px;
}

#delivery-centre .how__block-bdg__bdg-icon {
  width: 217px;
}

#delivery-centre .how__block-bdg__product-genius {
  display: block;
  width: 217px;
  float: right;
  margin-right: 42px;
}

#delivery-centre .how__block-bdg__text {
  padding: 30px 28px;
}

#delivery-centre .how__block-bdg__text h5 {
  font-size: 20px;
  line-height: 24px;
}

#delivery-centre .how__block-bdg__text p {
  font-size: 16px;
  max-width: 427px;
}

#delivery-centre .how__block-bdg__text p {
  margin-bottom: 18px;
  max-width: 399px;
}

#delivery-centre .how__block-bdg__text a {
  padding: 11px 13px;
  font-size: 16px;
  line-height: 24px;
}

#delivery-centre .how-it-works {
  padding: 30px 0;
}

#delivery-centre .how-it-works h3 {
  text-align: center;
  margin-bottom: 24px;
}

#delivery-centre .how-it-works h3 {
  margin-top: 24px;
  margin-bottom: 36px;
}

#delivery-centre .how-it-works h4 {
  margin-bottom: 48px;
  text-align: center;
}

#delivery-centre .how-it-works h4 {
  margin-bottom: 54px;
}

#delivery-centre .how-it-works h5 {
  text-align: center;
}

#delivery-centre .how-it-works .number:before {
  width: 34px;
  height: 34px;
  padding-top: 5px;
  float: none;
  margin: 0 auto 12px;
}

#delivery-centre .how-it-works p {
  text-align: center;
  border-bottom: none;
}

#delivery-centre .how-it-works p {
  font-size: 16px;
}

#delivery-centre .reviews {
  padding: 18px 0;
}

#delivery-centre .reviews {
  padding: 30px 0;
}

#delivery-centre .reviews__intro p {
  font-size: 16px;
  margin-bottom: 24px;
}

#delivery-centre .reviews__box--1 {
  margin: 0 0 30px;
}

#delivery-centre .reviews__box--1 {
  margin: 0;
}

#delivery-centre .reviews__box__top {
  padding: 12px 21px 6px;
}

#delivery-centre .reviews__box__top__left {
  display: inline-block;
}

#delivery-centre .reviews__box__top__left img {
  margin-left: 0;
  width: auto;
}

#delivery-centre .reviews__box__top__left--google {
  padding-top: 0;
  margin-bottom: 0;
}

#delivery-centre .reviews__box__top__right {
  display: inline-block;
  float: right;
}

#delivery-centre .reviews__box__top__right p {
  font-size: 18px;
  margin-top: 6px;
  text-align: left;
}

#delivery-centre .reviews__box__top__right p {
  font-size: 16px;
  margin-top: 9px;
}

#delivery-centre .reviews__box__top__right p {
  font-size: 18px;
  margin-top: 6px;
}

#delivery-centre .reviews__box__top__right img {
  margin: 0;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  margin-top: -2px;
}

#delivery-centre .reviews__box__content {
  padding: 18px 21px;
}

#delivery-centre .reviews__box__content p {
  margin-top: 18px;
}

#delivery-centre .search-flash {
  padding: 18px 0;
}

#delivery-centre .search-flash img {
  width: 77px;
  display: inline-block;
  float: left;
  margin-right: 42px;
  margin-top: 12px;
}

#delivery-centre .search-flash img {
  margin-top: 3px;
}

#delivery-centre .search-flash__text {
  display: inline-block;
}

#delivery-centre .search-flash__text .icon:after {
  display: none;
}

#delivery-centre .search-flash__text p {
  margin-bottom: 0;
  font-size: 16px;
  max-width: 378px;
  display: inline-block;
}

#delivery-centre .search-flash__text p {
  max-width: 476px;
}

#delivery-centre .search-flash a {
  padding: 11px 13px;
  font-size: 16px;
  line-height: 24px;
  float: right;
  display: inline-block;
  margin-top: 24px;
}

#delivery-centre .search-flash a {
  margin-top: 12px;
}

#delivery-centre .rep-example {
  padding: 30px;
}

#delivery-centre .rep-example {
  padding: 48px;
}

.product__offer {
  background-image: url("/cdn/images/delivery-centres/mercedes/mercedes-hero.jpg");
}