#hundred-club {
  background-image: url("/cdn/images/100-club/border-sm.svg");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 1600px;
}

#hundred-club {
  background-image: url("/cdn/images/100-club/border.svg");
  height: 1300px;
}

#hundred-club {
  background-image: url("/cdn/images/100-club/border-lg.svg");
}

#hundred-club .hero {
  padding: 36px 0;
}

#hundred-club .hero__img--desktop {
  display: block;
  margin: auto;
  padding-bottom: 24px;
  width: 40%;
}

#hundred-club .hero__img--mobile {
  display: none;
}

#hundred-club .rsvp__cta {
  margin: 0 7px;
  width: auto;
}

#hundred-club .form {
  margin-top: 90px;
}

#hundred-club .form__dinner-choices {
  margin: 24px 0;
}