#drive-in-dine-out .drive-in-dine-out__title {
  margin-top: 0;
}

#drive-in-dine-out .drive-in-dine-out__sub-title {
  font-size: 24px;
}

#drive-in-dine-out .drive-in-dine-out__ctas a {
  width: auto;
}