#easylife .ch-btn {
  width: auto;
  min-width: 140px;
}

#easylife .section {
  padding: 36px 0;
}

#easylife .section--hero {
  padding-bottom: 24px;
}

#easylife .section--hero--image {
  height: 400px;
  text-align: center;
  background-image: url("/cdn/images/renault/easylife/easy-life-hero--desktop.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

#easylife .section--hero--image .easylife--logo {
  top: 40px;
}

#easylife .section--hero--text {
  padding: 24px 0;
}

#easylife .section--hero--text h1 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 18px;
  text-align: center;
}

#easylife .section--about {
  text-align: center;
}

#easylife .section--about .usps {
  margin-top: 24px;
}

#easylife .section--about .usp::before {
  top: 50px;
  left: 25%;
  width: 100px;
  height: 100px;
}

#easylife .section--about .usp__text h3 {
  padding-left: 0;
  padding-top: 108px;
}

#easylife .section--outro p {
  text-align: center;
}