.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.careers-footer__dcc {
  height: 50px;
}

.careers-footer__dcc {
  height: 60px;
}

.careers-footer__sdc {
  height: 50px;
}

.careers-footer__sdc {
  height: 60px;
}

.careers-footer__httfw {
  height: 50px;
}

.careers-footer__httfw {
  height: 60px;
}

#careers_bodyshop .hero {
  background: url("/cdn/images/careers/pages/bodyshop/hero-desktop.jpg") 50% 50%/cover no-repeat;
}

#careers_bodyshop .hero__image {
  height: 200px;
}

#careers_bodyshop .hero__image {
  height: 300px;
}

#careers_bodyshop .hero__image {
  background: none;
  height: auto;
}

#careers_bodyshop .hero__content {
  padding-top: 24px;
  padding-bottom: 30px;
}

#careers_bodyshop .hero {
  padding: 72px 0;
}

#careers_bodyshop .hero p {
  font-size: 18px;
}

#careers_bodyshop .sub {
  padding: 36px 0;
}

#careers_bodyshop .sub p {
  font-size: 18px;
  line-height: 1.5;
  max-width: 480px;
}

#careers_bodyshop .sub__header {
  padding-top: 18px;
}

#careers_bodyshop .sub h4 {
  max-width: 340px;
}

#careers_bodyshop .sub h4 {
  max-width: 380px;
  line-height: 1.4;
}

#careers_bodyshop .sub .ch-card {
  padding: 6px 7px;
}

#careers_bodyshop .benefits__container {
  padding: 42px 0;
}

#careers_bodyshop .benefits__list-item {
  border-bottom: 0 none transparent;
  font-size: 18px;
  min-height: 125px;
  padding: 0;
}

#careers_bodyshop .benefits__list-item:before {
  -webkit-background-size: auto auto;
  background-size: auto;
  height: 125px;
  width: 125px;
}

#careers_bodyshop .job-cards .ch-card {
  height: 420px;
}

#careers_bodyshop .job-cards .ch-card {
  height: 380px;
}

#careers_bodyshop .job-cards .ch-card__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#careers_bodyshop .job-cards .ch-card br {
  display: none;
}

#careers_bodyshop .job-cards .ch-card--margin {
  margin-bottom: 0;
}

#careers_bodyshop .job-cards {
  padding: 72px 0;
}