#servicing_tyres_orium-tyres p {
  font-size: 18px;
  line-height: 1.6;
}

#servicing_tyres_orium-tyres figcaption {
  font-size: 18px;
}

#servicing_tyres_orium-tyres .btn--right {
  float: right;
}

#servicing_tyres_orium-tyres .hero {
  padding: 40px 0;
}

#servicing_tyres_orium-tyres .hero__header {
  font-size: 36px;
  line-height: 1.2;
}

#servicing_tyres_orium-tyres .hero__header {
  font-size: 48px;
}

#servicing_tyres_orium-tyres .hero__icon {
  width: 60px;
  float: right;
}

#servicing_tyres_orium-tyres .hero__icon {
  width: 70px;
}

#servicing_tyres_orium-tyres .hero__icon {
  width: 80px;
}

#servicing_tyres_orium-tyres .sub p {
  font-size: 16px;
}

#servicing_tyres_orium-tyres .sub__aside {
  margin-top: 30px;
}

#servicing_tyres_orium-tyres .orium {
  margin: 40px 0;
  background-color: #fff;
  padding: 40px;
}

#servicing_tyres_orium-tyres .orium__background {
  border-top: none;
  border-bottom: none;
  background-image: url("/cdn/images/servicing/tyres/orium-tyres/tyre-background.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

#servicing_tyres_orium-tyres .orium__header {
  font-size: 30px;
  line-height: 1.2;
}

#servicing_tyres_orium-tyres .orium__logo {
  max-width: 400px;
  float: right;
}

#servicing_tyres_orium-tyres .orium__well {
  margin: auto 0;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 1px solid #e5e5e5;
}

#servicing_tyres_orium-tyres .orium__well {
  background-color: #fafafa;
  margin-top: 20px;
}

#servicing_tyres_orium-tyres .orium__btn {
  margin-top: 5px;
  float: right;
}

#servicing_tyres_orium-tyres .top-tyres {
  padding: 40px 0;
}

#servicing_tyres_orium-tyres td,
#servicing_tyres_orium-tyres th {
  font-size: 16px;
}

#servicing_tyres_orium-tyres td,
#servicing_tyres_orium-tyres th {
  padding: 10px 20px;
}

#servicing_tyres_orium-tyres .safety {
  padding: 40px 0;
}

#servicing_tyres_orium-tyres .safety__btn {
  float: right;
}