.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#renault_captur .section {
  padding: 24px 0 0;
}

#renault_captur .hero {
  background-image: url("/cdn/images/renault/captur/hero-tablet.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-color: transparent;
  padding: 24px;
}

#renault_captur .hero {
  padding: 42px 0;
}

#renault_captur .hero__content {
  margin-bottom: 35%;
}

#renault_captur .hero__content {
  margin-bottom: 25%;
}

#renault_captur .hero__content__heading {
  font-size: 34px;
}

#renault_captur .hero__content__heading {
  font-size: 44px;
}

#renault_captur .hero__content__heading span {
  display: inline;
}

#renault_captur .hero__content__subheading {
  font-size: 20px;
}

#renault_captur .hero .hero__btns {
  background-color: transparent;
}

#renault_captur .hero .hero__btns .ch-btn {
  min-width: 196px;
}

#renault_captur .intro {
  padding: 24px 0 0;
}

#renault_captur .interior__content {
  margin-top: -100px;
}

#renault_captur .interior__content {
  margin-top: -200px;
}

#renault_captur .colours__list {
  margin: 30px;
  display: block;
  border: none;
}

#renault_captur .colours__list__item {
  width: 50%;
}

#renault_captur .colours__image {
  margin-top: 30px;
}

#renault_captur .colours__image {
  margin-top: 0;
}

#renault_captur .variants .custom-container {
  padding-left: 28px;
  width: auto;
}

#renault_captur .variants .custom-container {
  padding-left: 14px;
  padding-right: 14px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  white-space: normal;
  width: 954px;
}

#renault_captur .variants .custom-container {
  width: 1154px;
}

#renault_captur .variants .custom-container .item {
  width: -webkit-calc(25% - 14px);
  width: calc(25% - 14px);
  height: 402px;
  float: left;
}

#renault_captur .variants .custom-container .item {
  height: 336px;
}

#renault_captur .variants .custom-container .item--last {
  margin-right: 28px;
}

#renault_captur .variants .custom-container .item--last {
  margin-right: 0;
}

#renault_captur .gallery__container {
  width: 954px;
}

#renault_captur .gallery__container {
  width: 1154px;
}

#renault_captur .gallery__row {
  padding-left: 31px;
  padding-right: 31px;
}

#renault_captur .gallery__row {
  display: block;
  padding-left: 14px;
  padding-right: 42px;
  margin-left: -28px;
  margin-right: -28px;
}

#renault_captur .gallery__column {
  padding-right: 28px;
}

#renault_captur .gallery__column {
  float: left;
  width: 33.3333%;
  padding-left: 14px;
  padding-right: 14px;
}

#renault_captur .gallery__column:nth-child(-n+3) {
  margin-bottom: 12px;
}

#renault_captur .gallery__img {
  width: auto;
  max-width: 100%;
}

#renault_captur .deals {
  padding: 28px 0;
}

#renault_captur .deals__title {
  margin-bottom: 28px;
}

#renault_captur .branches {
  padding-bottom: 24px;
}

#renault_captur .branches {
  padding-bottom: 36px;
}

#renault_captur .branches .list-branches {
  margin-bottom: 0;
}