.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#hack-day .dpd-header {
  margin-bottom: 24px;
  padding: 24px 0;
}

#hack-day .dpd-header__logo img {
  width: auto;
  height: 42px;
}

#hack-day .dpd-header__register a,
#hack-day .dpd-header__register a:visited {
  padding: 9px 0;
}

#hack-day .dpd-header__register a span,
#hack-day .dpd-header__register a:visited span {
  display: inline;
}

#hack-day .mobile-img {
  display: none;
}

#hack-day .desktop-img {
  display: block;
}