#servicing_hyundai .pricing {
  padding: 18px 0;
}

#servicing_hyundai .pricing th:first-child {
  width: auto;
}

#servicing_hyundai .pricing td,
#servicing_hyundai .pricing th {
  font-size: 16px;
  padding: 10px 20px;
}