.ch-hero {
  padding: 24px 0;
}

#servicing_mot .section {
  padding: 18px 0;
}

#servicing_mot .section {
  padding: 24px 0;
}

#servicing_mot .img-desktop {
  display: block;
}

#servicing_mot .ch-hero {
  padding: 24px 0;
}

#servicing_mot .ch-hero {
  padding: 36px 0;
}

#servicing_mot .ch-hero__content__heading {
  font-size: 50px;
}

#servicing_mot .ch-hero__content__subheading {
  font-size: 34px;
}

#servicing_mot .ch-hero__content .ch-btn {
  margin-bottom: 0;
  width: 250px;
}

#servicing_mot .ch-hero .icon--mot {
  width: 150px;
  height: 150px;
}

#servicing_mot .finance-strip p span,
#servicing_mot .finance-strip a span {
  display: inline-block;
}

#servicing_mot .why-choose__benefits {
  padding: 24px 28px;
}

#servicing_mot .why-choose__benefits {
  margin-top: 6px;
}