.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#renaultsport h2 {
  font-size: 35px;
  line-height: 46px;
  text-align: left;
}

#renaultsport h2::before {
  left: 0;
}

#renaultsport section .ch-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#renaultsport .ctas {
  text-align: center;
}

#renaultsport .ch-btn {
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

#renaultsport #hero {
  -webkit-background-size: auto auto;
  background-size: auto;
  background-position: center 0;
}

#renaultsport #hero h1 {
  -webkit-background-size: 20% 20%;
  background-size: 20%;
}

#renaultsport #hero .models {
  margin-top: 300px;
  margin-bottom: 0;
}

#renaultsport #hero .models a {
  font-size: 24px;
  width: 50%;
  float: left;
  border-bottom: 0;
}

#renaultsport #hero .models a:last-child {
  border-bottom: 0;
}

#renaultsport #hero .models a:hover {
  margin-bottom: 0;
}

#renaultsport .intro .article {
  margin: -14px 0;
  padding: 40px 20px;
}

#renaultsport .intro .article {
  margin-top: -20px;
  margin-bottom: -20px;
  padding: 40px 20px;
}

#renaultsport .intro .ch-col--sm-offset-6.article {
  margin-left: 50%;
}

#renaultsport .quote {
  background-position: center center;
}

#renaultsport .quote {
  -webkit-background-size: 134% 134%;
  background-size: 134%;
}

#renaultsport .quote {
  -webkit-background-size: canvas canvas;
  background-size: canvas;
}

#renaultsport .quote h3 {
  margin-top: 80%;
}

#renaultsport .quote h3:before {
  font-size: 220px;
}

#renaultsport .quote .ch-col--md-offset-6.quote {
  margin-left: 50%;
}

#renaultsport .megane-rs .intro {
  background-image: url("/cdn/images/renault/renaultsport/section__megane-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

#renaultsport .megane-rs .quote {
  background-image: url("/cdn/images/renault/renaultsport/section__megane-spec-bg.jpg");
}

#renaultsport .clio-rs .intro {
  background-image: url("/cdn/images/renault/renaultsport/section__clio-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

#renaultsport .clio-rs .intro {
  -webkit-background-size: auto auto;
  background-size: auto;
}

#renaultsport .clio-rs .quote {
  background-image: url("/cdn/images/renault/renaultsport/section__clio-spec-bg.jpg");
}

#renaultsport .list-branches {
  margin-bottom: 0;
}