#test-drive-treats .hero {
  text-align: center;
}

#test-drive-treats .hero {
  padding: 48px 0;
}

#test-drive-treats .hero--logo {
  margin-bottom: 36px;
}

#test-drive-treats .hero__text--heading strong {
  display: inline;
}

#test-drive-treats .section {
  padding: 36px 0;
}

#test-drive-treats .section__treats__content--heading {
  text-align: center;
}

#test-drive-treats .section__treats__card--icon {
  max-height: 65px;
  margin-bottom: 6px;
}

#test-drive-treats .section__treats__card--icon {
  max-height: 90px;
}

#test-drive-treats .section__treats__card--heading {
  text-align: center;
}

#test-drive-treats .section__treats__card--heading {
  font-size: 20px;
}

#test-drive-treats .section__treats__card--text {
  text-align: center;
}

#test-drive-treats .section__treats__card--text {
  font-size: 16px;
}

#test-drive-treats .section__steps__content--heading {
  text-align: center;
}

#test-drive-treats .section__steps__card {
  padding: 24px 0 12px;
}

#test-drive-treats .section__steps__card .padding-right {
  padding-right: 0;
}

#test-drive-treats .section__steps__card--icon {
  display: block;
  padding-top: 6px;
}

#test-drive-treats .section__steps__card--icon img {
  margin-top: 0;
}

#test-drive-treats .section__steps__card--heading {
  font-size: 20px;
}

#test-drive-treats .section__steps__card--text {
  font-size: 16px;
}

#test-drive-treats .section__terms {
  text-align: center;
}