.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.careers-footer__dcc {
  height: 50px;
}

.careers-footer__dcc {
  height: 60px;
}

.careers-footer__sdc {
  height: 50px;
}

.careers-footer__sdc {
  height: 60px;
}

.careers-footer__httfw {
  height: 50px;
}

.careers-footer__httfw {
  height: 60px;
}

#marketing-graduates .video-container {
  margin-bottom: 0;
}

#marketing-graduates .hero__content {
  padding: 120px 0;
}

#marketing-graduates .hero__content h1 {
  font-size: 36px;
}

#marketing-graduates .hero__content h2 {
  font-size: 24px;
}

#marketing-graduates .hero__content p {
  font-size: 18px;
}

#marketing-graduates .hero__logo {
  margin-top: 12px;
}

#marketing-graduates .hero__logo {
  margin-top: 48px;
}

#marketing-graduates .intro {
  padding: 36px 0;
}

#marketing-graduates .testimonial {
  padding: 36px 0;
}

#marketing-graduates .testimonial__content {
  max-width: 50%;
}

#marketing-graduates .testimonial__name {
  max-width: 30%;
}

#marketing-graduates .why-work-here {
  background-image: url("/cdn/images/careers/marketing-graduates/hero-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#marketing-graduates .why-work-here--mobile {
  height: 200px;
}

#marketing-graduates .why-work-here--mobile {
  height: 300px;
}

#marketing-graduates .why-work-here--mobile {
  display: none;
}

#marketing-graduates .why-work-here .ch-card {
  padding: 12px 14px;
  margin: 36px 0;
}

#marketing-graduates .summer-placement {
  background-image: url("/cdn/images/careers/marketing-graduates/hero-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#marketing-graduates .summer-placement--mobile {
  height: 200px;
}

#marketing-graduates .summer-placement--mobile {
  height: 300px;
}

#marketing-graduates .summer-placement--mobile {
  display: none;
}

#marketing-graduates .summer-placement .ch-card {
  padding: 12px 14px;
  margin: 36px 0;
}

#marketing-graduates .give-you-more {
  padding: 36px 0;
}

#marketing-graduates .could-be-doing {
  background-image: url("/cdn/images/careers/marketing-graduates/hero-4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#marketing-graduates .could-be-doing--mobile {
  height: 200px;
}

#marketing-graduates .could-be-doing--mobile {
  height: 300px;
}

#marketing-graduates .could-be-doing--mobile {
  display: none;
}

#marketing-graduates .could-be-doing .ch-card {
  max-width: 70%;
  padding: 12px 14px;
  margin: 72px auto;
  border: 1px solid #e5e5e5;
}

#marketing-graduates .could-be-doing .ch-card {
  max-width: 50%;
}

#marketing-graduates .how-to-apply__button {
  margin-bottom: 0;
}

#marketing-graduates .how-to-apply {
  padding: 36px 0;
}