#servicing_tyres_offer .section {
  padding: 24px 0;
}

#servicing_tyres_offer .hero {
  padding: 24px 0;
}

#servicing_tyres_offer .hero__image--mobile {
  display: none;
}

#servicing_tyres_offer .hero__image--desktop {
  display: block;
}

#servicing_tyres_offer .hero__heading {
  font-size: 7vw;
}

#servicing_tyres_offer .hero__heading {
  font-size: 130px;
}

#servicing_tyres_offer .hero__subheading {
  padding-top: 18px;
  font-size: 24px;
}

#servicing_tyres_offer .hero__subheading {
  padding-top: 24px;
  font-size: 28px;
}

#servicing_tyres_offer .intro__bordered {
  border-bottom: none;
  border-right: 1px solid #FFDE00;
  margin-bottom: 0;
}

#servicing_tyres_offer .intro__sub {
  text-align: center;
  margin-top: 24px;
}

#servicing_tyres_offer .intro__sub__heading {
  font-size: 18px;
}

#servicing_tyres_offer .intro__sub__subheading {
  font-size: 24px;
}

#servicing_tyres_offer .usp__icons p {
  margin: 0 28px;
}

#servicing_tyres_offer .usp__icons p {
  margin: 0 42px;
}

#servicing_tyres_offer .usp__icons {
  padding-top: 24px;
}

#servicing_tyres_offer .usp__cta {
  margin-top: 48px;
}

#servicing_tyres_offer .winners h3 {
  margin-bottom: 0;
}

#servicing_tyres_offer .winners h3 {
  margin-top: 6px;
}

#servicing_tyres_offer .winners .ch-btn {
  margin-top: 12px;
  display: block;
  float: right;
}

#servicing_tyres_offer .winners .ch-btn {
  margin-top: auto;
}