.ch-hero {
  padding: 24px 0;
}

.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.ch-table td,
.ch-table th {
  padding: 9px 10.5px;
}

.ch-table td,
.ch-table th {
  padding: 12px 14px;
}

#servicing_plans .section {
  padding: 24px 0;
}

#servicing_plans .ch-hero__content__heading {
  padding: 18px 0;
}

#servicing_plans .ch-hero__content__heading {
  padding: 42px 0;
  font-size: 38px;
}

#servicing_plans .ch-hero .icon {
  margin-top: 0;
}

#servicing_plans .ch-hero .icon {
  margin-top: 12px;
  width: 100px;
  height: 100px;
}

#servicing_plans .why-buy__text {
  padding-bottom: 96px;
}

#servicing_plans .why-buy__text {
  padding-bottom: 132px;
}

#servicing_plans .plans {
  height: 350px;
}

#servicing_plans .plans__text--left {
  margin-bottom: 48px;
}

#servicing_plans .plans .ch-card {
  margin: 24px 0;
}

#servicing_plans .plans .ch-card {
  position: absolute;
  margin-top: -84px;
}

#servicing_plans .plans .ch-card--right {
  margin-top: -84px;
  padding-bottom: 24px;
}

#servicing_plans .plans .ch-card--right {
  padding-bottom: inherit;
}

#servicing_plans .form {
  padding-top: 24px;
  padding-bottom: 24px;
}

#servicing_plans .form {
  padding-top: inherit;
}