.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#ds_events .img--mobile {
  display: none;
}

#ds_events .img--tablet {
  display: block;
}

#ds_events .img--tablet {
  display: none;
}

#ds_events .hero {
  background-image: url("/cdn/images/ds/events/hero--desktop.jpg");
  background-repeat: no-repeat;
  background-position: -webkit-calc(50% - -650px);
  background-position: calc(50% - -650px);
}

#ds_events .hero__content {
  padding: 48px 0;
}

#ds_events .hero__content--heading {
  font-size: 50px;
}

#ds_events .hero__content--line {
  width: 75%;
}

#ds_events .hero__content--location span {
  display: inline-block;
  font-size: 20px;
}

#ds_events .hero__content--location {
  font-size: 18px;
}

#ds_events .hero--desktop {
  display: block;
}

#ds_events .details {
  background-image: url("/cdn/images/ds/events/details--desktop.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

#ds_events .details--mobile {
  display: none;
}

#ds_events .details__content {
  padding-top: 36px;
  padding-bottom: 216px;
}

#ds_events .details__content {
  padding-top: 48px;
  padding-bottom: 234px;
}

#ds_events .gallery {
  padding: 30px 0;
}

#ds_events .gallery a {
  margin-bottom: 30px;
}

#ds_events .gallery a {
  margin-bottom: 24px;
}

#ds_events .gallery a img {
  height: 150px;
}

#ds_events .gallery a img {
  height: auto;
}

#ds_events .gallery .bottom {
  margin-bottom: 0;
}

#ds_events .form {
  padding: 36px 0;
}