.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#servicing .col-lg-5,
#servicing .col-md-5,
#servicing .col-sl-5,
#servicing .col-sm-5,
#servicing .col-xs-5 {
  padding-left: 14px;
  padding-right: 14px;
}

#servicing .col-sl-5 {
  width: 20%;
  float: left;
}

#servicing .col-sm-5 {
  width: 20%;
  float: left;
}

#servicing .col-md-5 {
  width: 20%;
  float: left;
}

#servicing .col-lg-5 {
  width: 20%;
  float: left;
}

#servicing .section {
  padding: 24px 0;
}

#servicing .section {
  padding: 36px 0;
}

#servicing .bookOnline {
  background-color: #2D3737;
  background-image: url("/cdn/images/servicing/hero.jpg");
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.4)), to(rgba(0,0,0,0.4))),url("/cdn/images/servicing/hero.jpg");
  background: -webkit-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("/cdn/images/servicing/hero.jpg");
  background: -o-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("/cdn/images/servicing/hero.jpg");
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("/cdn/images/servicing/hero.jpg");
  background-position: top center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

#servicing .bookOnline {
  padding: 36px 0;
}

#servicing .bookOnline .no-wrap--mobile {
  display: inline;
  white-space: normal;
}

#servicing .bookOnline .no-wrap--tablet {
  white-space: nowrap;
}

#servicing .bookOnline .display-mobile {
  display: none;
}

#servicing .bookOnline .display-desktop {
  display: block;
}

#servicing .bookOnline .margin-wrapper {
  margin-left: 0;
  margin-right: 0;
  padding: 24px 0;
}

#servicing .bookOnline .margin-wrapper__hero {
  padding: 30px 0 12px;
  background: none;
}

#servicing .bookOnline .margin-wrapper__hero {
  padding-top: 0;
}

#servicing .bookOnline .margin-wrapper__search {
  background-color: transparent;
  padding: 12px 0;
}

#servicing .bookOnline .ch-form__group {
  margin-bottom: 6px;
}

#servicing .bookOnline__heading {
  font-size: 32px;
}

#servicing .bookOnline__heading {
  font-size: 36px;
}

#servicing .bookOnline__subheading {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#servicing .bookOnline__subheading {
  font-size: 18px;
}

#servicing .bookOnline__form__wrapper--dark {
  background-color: rgba(0,0,0,0.4);
  padding: 12px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#servicing .bookOnline__form__wrapper--dark .ch-btn {
  margin-top: 0;
}

#servicing .bookOnline__form__input {
  border: none;
}

#servicing .finance-strip p span,
#servicing .finance-strip a span {
  display: inline-block;
}

#servicing .our-services .ch-card {
  margin-top: 0;
}

#servicing .our-services .ch-card .ch-card__content .icon {
  font-size: 14px;
  text-align: center;
}

#servicing .our-services .ch-card .ch-card__content .icon {
  font-size: 16px;
}

#servicing .our-services .ch-card .ch-card__content .icon:before {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  width: 72px;
  height: 36px;
}

#servicing .our-services .ch-card .ch-card__content .icon:before {
  width: 96px;
  height: 48px;
  margin-bottom: 12px;
}

#servicing .why-choose__benefits {
  padding: 24px 28px;
}

#servicing .more-from__title {
  margin-bottom: 24px;
}

#servicing .more-from .ch-card {
  margin-bottom: 24px;
  min-height: 300px;
}