#mc-more-from .more-box:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#mc-more-from .more-box__content {
  padding: 15px 17.5px;
}

#no-events .ctas {
  text-align: right;
}

#no-events .ch-btn {
  width: auto;
  min-width: 140px;
  margin: 5px;
}

#no-events .hero {
  padding-bottom: 0;
  -webkit-background-size: auto auto;
  background-size: auto;
  height: 300px;
}

#no-events .hero {
  height: 400px;
}