#complete-motoring .hero {
  padding: 24px 0;
}

#complete-motoring .hero--heading {
  font-size: 44px;
  line-height: 48px;
}

#complete-motoring .hero--sub-heading {
  font-size: 36px;
}

#complete-motoring .what-is {
  padding: 24px 0;
  text-align: left;
}

#complete-motoring .what-is__item {
  margin: 24px 0;
}

#complete-motoring .what-is__item--img {
  margin-bottom: 0;
}

#complete-motoring .cta {
  padding: 36px 0;
}

#complete-motoring .terms {
  padding: 24px 0;
}