#servicing_what-will-you-buy .campaign-hero__content {
  margin-top: 20px;
}

#servicing_what-will-you-buy .campaign-hero p {
  margin-bottom: 14px;
}

#servicing_what-will-you-buy .campaign-hero p {
  font-size: 18px;
  margin-right: 70px;
}

#servicing_what-will-you-buy .campaign-hero h1 {
  font-size: 26px;
  margin-bottom: 6px;
}