.ch-navbar__mobile {
  display: none;
}

.ch-navbar__title {
  font-size: 24px;
  margin: 18px 0;
}

.ch-navbar__logo img {
  height: 36px;
  margin: 18px 0;
}

.ch-navbar__nav {
  text-align: right;
}

.ch-navbar__nav__item {
  display: inline-block;
  position: relative;
}

.ch-navbar__nav__item ul {
  background-color: #fff;
  border: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(45,55,55,0.2);
  box-shadow: 0 0 4px rgba(45,55,55,0.2);
  display: none;
  left: -50%;
  padding: 12px 14px;
  position: absolute;
  text-align: left;
  width: 210px;
  z-index: 20;
}

.ch-navbar__nav__item ul:after {
  border: solid transparent;
  border-bottom-color: #fff;
  border-width: 7px;
  bottom: 100%;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -7px;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.ch-navbar__nav__item ul a {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #2d3737;
  display: block;
  margin: 0;
  padding: 6px 14px;
  text-decoration: none;
}

.ch-navbar__nav__item ul a:visited {
  color: #2d3737;
}

.ch-navbar__nav__item ul a:visited:hover {
  color: #2d3737;
}

.ch-navbar__nav__item ul a:hover {
  background-color: #f2f2f2;
  color: #2d3737;
}

.ch-navbar__nav__item a,
.ch-navbar__nav__item span {
  margin: 18px 0;
}

.ch-navbar__nav__item--last ul:after {
  border: solid transparent;
  border-bottom-color: #fff;
  border-width: 7px;
  bottom: 100%;
  content: '';
  height: 0;
  left: 85%;
  margin-left: -7px;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-finance-example__figure {
  min-width: 25%;
}

.ch-finance-example__figure {
  min-width: 12.5%;
}