#treating-customers-fairly .hero {
  background-image: url("/cdn/images/customer-services/treating-customers-fairly/hero-desktop.jpg");
}

#treating-customers-fairly .hero {
  background-position: center 25%;
  height: 330px;
}

#treating-customers-fairly .hero__title {
  padding: 48px 0;
}

#treating-customers-fairly .hero__title {
  padding: 96px 0;
}

#treating-customers-fairly .hero__title {
  padding: 144px 0;
}

#treating-customers-fairly .hero__title {
  font-size: 36px;
}

#treating-customers-fairly .hero__title br {
  display: none;
}

#treating-customers-fairly .quote {
  margin: 24px 0;
}

#treating-customers-fairly .quote {
  margin: 48px 0;
}

#treating-customers-fairly .contact {
  margin: 24px 0;
  overflow: hidden;
}

#treating-customers-fairly .contact__icon {
  width: 50%;
  float: left;
}

#treating-customers-fairly .logos {
  padding: 24px 0;
}

#treating-customers-fairly .logos {
  padding: 36px 0;
}

#treating-customers-fairly .logos__item {
  width: 50%;
  float: left;
  margin-bottom: 48px;
}

#treating-customers-fairly .logos__item:last-of-type {
  width: 100%;
}