.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.ch-hero {
  padding: 24px 0;
}

.careers-footer__dcc {
  height: 50px;
}

.careers-footer__dcc {
  height: 60px;
}

.careers-footer__sdc {
  height: 50px;
}

.careers-footer__sdc {
  height: 60px;
}

.careers-footer__httfw {
  height: 50px;
}

.careers-footer__httfw {
  height: 60px;
}

#sales-executives .section {
  padding: 40px 0;
}

#sales-executives .sales-hero {
  background: url("/cdn/images/careers/pages/sales-executives/hero-desktop.jpg") 50% 50%/cover no-repeat;
}

#sales-executives .sales-hero__image {
  height: 200px;
}

#sales-executives .sales-hero__image {
  height: 300px;
}

#sales-executives .sales-hero__image {
  background: none;
  height: auto;
}

#sales-executives .sales-hero__content {
  padding-top: 24px;
  padding-bottom: 30px;
}

#sales-executives .sales-hero {
  padding: 48px 0;
}

#sales-executives .sales-hero p {
  font-size: 18px;
}

#sales-executives .sales-panels {
  padding-top: 36px;
}

#sales-executives .sales-duties {
  padding: 36px 0;
}

#sales-executives .ch-card__content {
  min-height: 150px;
}

#sales-executives .ch-card__content {
  min-height: 170px;
}

#sales-executives .sales-programme {
  margin-top: -60px;
  padding: 100px 0;
}

#sales-executives .sales-programme {
  margin-top: -40px;
}

#sales-executives .sales-programme:before {
  background: url("/cdn/images/careers/pages/sales-executives/product-consultant.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-background-size: 40% 40%;
  background-size: 40%;
  top: 0px;
  content: "";
  height: 100%;
  margin-left: 30px;
  position: absolute;
  left: 55%;
  width: 100%;
}

#sales-executives .sales-programme:before {
  background-position: left top;
  -webkit-background-size: auto auto;
  background-size: auto;
  bottom: -24px;
  margin-left: -70px;
}

#sales-executives .sales-benefits {
  padding: 42px 0;
}

#sales-executives .sales-benefits--list-item {
  border-bottom: 0 none transparent;
  font-size: 16px;
  min-height: 125px;
  padding: 0;
}

#sales-executives .sales-benefits--list-item:before {
  -webkit-background-size: auto auto;
  background-size: auto;
  height: 125px;
  width: 125px;
}

#sales-executives .sales-quote {
  padding: 80px 0 80px 0;
}

#sales-executives .sales-quote--quotation:before {
  top: -30px;
  left: -60px;
}

#sales-executives .sales-quote--quotation:after {
  bottom: -30px;
}