#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#ford-ecosport .hero {
  background-image: url("/cdn/images/ford/ecosport/hero--tablet.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#ford-ecosport .hero {
  background-image: url("/cdn/images/ford/ecosport/hero--desktop.jpg");
  background-position: center center;
}

#ford-ecosport .hero--img {
  display: none;
}

#ford-ecosport .hero__text {
  margin-bottom: 0;
}

#ford-ecosport .hero__text {
  padding: 48px 0;
}

#ford-ecosport .hero__cta {
  margin-top: 210px;
}

#ford-ecosport .hero__cta {
  margin-top: 288px;
  padding-bottom: 24px;
}

#ford-ecosport .hero__cta .ch-btn:last-of-type {
  margin-bottom: inherit;
}

#ford-ecosport .section {
  padding: 18px 0;
}

#ford-ecosport .section {
  padding: 30px 0;
}

#ford-ecosport .section__exterior {
  background-image: url("/cdn/images/ford/ecosport/exterior--background-tablet.jpg");
  background-repeat: no-repeat;
  background-position: -webkit-calc(50% - 250px) 30px;
  background-position: calc(50% - 250px) 30px;
  padding: 24px 0;
}

#ford-ecosport .section__exterior {
  background-image: url("/cdn/images/ford/ecosport/exterior--desktop.jpg");
  background-position: -webkit-calc(50% - 300px) 54px;
  background-position: calc(50% - 300px) 54px;
  padding: 48px 0;
  min-height: 480px;
}

#ford-ecosport .section__exterior--img {
  display: none;
}

#ford-ecosport .section__exterior__text--mobile {
  display: none;
}

#ford-ecosport .section__exterior__text--desktop {
  display: block;
}

#ford-ecosport .section__exterior__text--heading {
  margin-top: 6px;
  margin-bottom: 0;
  padding: 15px 0;
  font-size: 34px;
  line-height: 40px;
}

#ford-ecosport .section__exterior__text--heading {
  margin-top: 30px;
  padding: 36px;
  font-size: 34px;
  line-height: 40px;
}

#ford-ecosport .section__exterior__text--heading span {
  display: block;
}

#ford-ecosport .section__exterior__text--copy {
  padding: 48px 0;
}

#ford-ecosport .section__exterior--gallery {
  margin-top: 31.2px;
}

#ford-ecosport .section__exterior--gallery .ch-col--xs-6 {
  padding: 0 15px;
}

#ford-ecosport .section__technology {
  background-image: url("/cdn/images/ford/ecosport/technology--background.jpg");
  background-position: -webkit-calc(50% - 69px);
  background-position: calc(50% - 69px);
  background-repeat: no-repeat;
}

#ford-ecosport .section__technology--mobile {
  display: none;
}

#ford-ecosport .section__technology--desktop {
  display: block;
}

#ford-ecosport .section__technology__text {
  margin: 138px 0;
}

#ford-ecosport .section__technology__text--heading {
  margin-bottom: 0;
  padding: 12px 30px;
  font-size: 34px;
  line-height: 40px;
}

#ford-ecosport .section__technology__text--heading {
  padding: 30px 30px 12px;
  font-size: 28px;
  line-height: 34px;
}

#ford-ecosport .section__technology__text--heading span {
  display: block;
}

#ford-ecosport .section__technology__text--copy {
  padding: 0 30px;
}

#ford-ecosport .section__technology__text--copy:last-of-type {
  padding-bottom: 30px;
}

#ford-ecosport .section__sync {
  background-image: url("/cdn/images/ford/ecosport/sync--desktop.jpg");
  background-position: -webkit-calc(50% - 69px);
  background-position: calc(50% - 69px);
  background-repeat: no-repeat;
  padding-bottom: 0;
  margin: 18px 0;
  background-color: #000000;
}

#ford-ecosport .section__sync {
  margin: 36px 0;
}

#ford-ecosport .section__sync--mobile {
  display: none;
}

#ford-ecosport .section__sync--desktop {
  display: block;
}

#ford-ecosport .section__sync__text {
  margin: 420px 0 -1px;
}

#ford-ecosport .section__sync__text--heading {
  margin-bottom: 0;
  padding: 12px 30px;
  font-size: 34px;
  line-height: 40px;
}

#ford-ecosport .section__sync__text--heading {
  padding: 30px 30px 12px;
  font-size: 28px;
  line-height: 34px;
}

#ford-ecosport .section__sync__text--heading span {
  display: block;
}

#ford-ecosport .section__sync__text--copy {
  padding: 0 30px;
}

#ford-ecosport .section__sync__text--copy:last-of-type {
  padding-bottom: 30px;
}

#ford-ecosport .section__relax {
  background-image: url("/cdn/images/ford/ecosport/relax--background.jpg");
  background-position: -webkit-calc(50% - -69px);
  background-position: calc(50% - -69px);
  background-repeat: no-repeat;
  margin: 18px 0;
}

#ford-ecosport .section__relax--mobile {
  display: none;
}

#ford-ecosport .section__relax--desktop {
  display: block;
}

#ford-ecosport .section__relax__text {
  margin: 138px 0;
}

#ford-ecosport .section__relax__text--heading {
  margin-bottom: 0;
  padding: 12px 30px;
  font-size: 34px;
  line-height: 40px;
}

#ford-ecosport .section__relax__text--heading {
  padding: 30px 30px 12px;
  font-size: 28px;
  line-height: 34px;
}

#ford-ecosport .section__relax__text--heading span {
  display: block;
}

#ford-ecosport .section__relax__text--copy {
  padding: 0 30px 30px;
}

#ford-ecosport .section__sporty {
  background-image: url("/cdn/images/ford/ecosport/sporty--background.jpg");
  background-position: -webkit-calc(50% - 69px);
  background-position: calc(50% - 69px);
  background-repeat: no-repeat;
  margin: 36px 0;
}

#ford-ecosport .section__sporty--mobile {
  display: none;
}

#ford-ecosport .section__sporty--desktop {
  display: block;
}

#ford-ecosport .section__sporty__text {
  margin: 138px 0;
}

#ford-ecosport .section__sporty__text--heading {
  margin-bottom: 0;
  padding: 12px 30px;
  font-size: 34px;
  line-height: 40px;
}

#ford-ecosport .section__sporty__text--heading {
  padding: 30px 30px 12px;
  font-size: 28px;
  line-height: 34px;
}

#ford-ecosport .section__sporty__text--heading span {
  display: block;
}

#ford-ecosport .section__sporty__text--copy {
  padding: 0 30px 30px;
}

#ford-ecosport .section__colour {
  margin-bottom: 0;
}

#ford-ecosport .section__colour .colours {
  padding-left: 7px;
  margin-right: 14px;
}

#ford-ecosport .section__colour .colours__list {
  text-align: center;
  border: 0;
}

#ford-ecosport .section__colour .colours .circle {
  float: none;
  margin: 6px auto;
}

#ford-ecosport .section__colour .colours__image {
  margin-top: 0;
}

#ford-ecosport .section__variant {
  margin-bottom: 0;
}

#ford-ecosport .section__variant--container {
  padding-left: 0;
  padding-right: 0;
}

#ford-ecosport .section__variant .tabs {
  height: 66px;
}

#ford-ecosport .section__variant .tabs {
  height: 72px;
}

#ford-ecosport .section__variant .tabs li {
  height: 65px;
  width: 33.3%;
}

#ford-ecosport .section__variant .tabs li {
  height: 69px;
  width: 20%;
}

#ford-ecosport .section__variant .tabs a {
  font-size: 18px;
  padding: 20px 20px 0;
  height: 66px;
  line-height: 32px;
}

#ford-ecosport .section__variant .tabs a {
  height: 72px;
}

#ford-ecosport .section__variant .tab__content {
  padding: 18px 21px;
}

#ford-ecosport .section__variant .tab__content {
  padding: 30px 28px;
}

#ford-ecosport .section__variant .tab__content__text p {
  height: 45px;
  font-size: 16px;
}

#ford-ecosport .section__variant .tab__content__text li {
  font-size: 16px;
  margin-bottom: 12px;
}

#ford-ecosport .section__variant .tab__content__text a {
  font-size: 16px;
  line-height: 24px;
}

#ford-ecosport .section__variant .tab__content__text a {
  margin-bottom: 0;
}

#ford-ecosport .section__variant .tab__content__img img {
  margin: 48px 0;
}

#ford-ecosport .section__variant .tab__content__img img {
  margin: 18px 0;
}

#ford-ecosport .section__variant .tab__content__img img {
  margin: 0;
  max-height: 270px;
}

#ford-ecosport .section__variant .tab__content__img--mobile {
  display: none;
}

#ford-ecosport .section__variant .tab__content__img--desktop {
  display: inline-block;
}

#ford-ecosport .section__gallery--container {
  padding-left: 0;
  padding-right: 0;
}

#ford-ecosport .section__gallery .gallery {
  margin-left: -14px;
  margin-right: -14px;
}

#ford-ecosport .section__gallery .gallery a {
  margin-bottom: 30px;
}

#ford-ecosport .section__gallery .gallery a {
  margin-bottom: 24px;
}

#ford-ecosport .section__gallery .gallery a img {
  height: 150px;
}

#ford-ecosport .section__gallery .gallery a img {
  height: auto;
}

#ford-ecosport .section__gallery .gallery .bottom {
  margin-bottom: 0;
}