#servicing_tyres_winter p {
  font-size: 18px;
  line-height: 1.6;
}

#servicing_tyres_winter figcaption {
  font-size: 18px;
}

#servicing_tyres_winter .no-wrap {
  white-space: normal;
}

#servicing_tyres_winter .hero {
  padding: 40px 0;
}

#servicing_tyres_winter .hero__header {
  font-size: 36px;
}

#servicing_tyres_winter .hero__header {
  font-size: 48px;
}

#servicing_tyres_winter .hero__sub-header {
  font-size: 24px;
}

#servicing_tyres_winter .hero__sub-header {
  font-size: 30px;
}

#servicing_tyres_winter .hero__icon {
  width: 60px;
  float: right;
}

#servicing_tyres_winter .hero__icon {
  width: 70px;
}

#servicing_tyres_winter .hero .ch-btn {
  width: 250px;
  margin-bottom: 0;
}

#servicing_tyres_winter .sub {
  padding: 40px 0;
}

#servicing_tyres_winter .video__block {
  width: 80%;
  margin: 40px auto;
  padding: 30px;
}

#servicing_tyres_winter .video__block {
  margin: 60px auto;
}

#servicing_tyres_winter .video__content {
  margin-top: 20px;
}

#servicing_tyres_winter .video__content {
  padding-right: 240px;
}

#servicing_tyres_winter .facts {
  padding: 40px 0;
}

#servicing_tyres_winter .facts {
  padding: 60px 0;
}

#servicing_tyres_winter .facts__img {
  margin-top: 0;
}

#servicing_tyres_winter .buy-winter-tyres__btn {
  margin-left: 0;
}

#servicing_tyres_winter .buy-winter-tyres__header {
  margin-left: 0;
}

#servicing_tyres_winter .half-r1 {
  min-height: 383px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("/cdn/images/servicing/tyres/winter/team-tablet.jpg");
}

#servicing_tyres_winter .half-r1 {
  background-image: url("/cdn/images/servicing/tyres/winter/team-desktop.jpg");
}

#servicing_tyres_winter .half-r1__left {
  width: 50%;
  min-height: 200px;
  display: block;
  float: left;
  margin-top: 55px;
  padding-left: 14px;
  padding-right: 42px;
}

#servicing_tyres_winter .half-r1__right {
  width: 50%;
  min-height: 200px;
  display: block;
  float: left;
}

#servicing_tyres_winter .half-r1-text {
  margin-left: 0;
  margin-right: 0;
}

#servicing_tyres_winter .half-r1-text {
  max-width: 400px;
}

#servicing_tyres_winter .half-r1-text {
  max-width: 525px;
}

#servicing_tyres_winter .r1-image {
  display: none;
}

#servicing_tyres_winter .half-r2 {
  min-height: 383px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("/cdn/images/servicing/tyres/winter/tyre-tablet.jpg");
}

#servicing_tyres_winter .half-r2 {
  background-image: url("/cdn/images/servicing/tyres/winter/tyre-desktop.jpg");
}

#servicing_tyres_winter .half-r2__image__mobile {
  margin-left: 0;
}

#servicing_tyres_winter .half-r2__image__mobile {
  display: none;
}

#servicing_tyres_winter .half-r2__left {
  width: 50%;
  min-height: 200px;
  display: block;
  float: left;
  margin-top: 75px;
}

#servicing_tyres_winter .half-r2__right {
  width: 50%;
  min-height: 200px;
  display: block;
  float: left;
  padding-left: 42px;
  margin-top: 95px;
}

#servicing_tyres_winter .half-r2-text {
  margin-left: 0;
  margin-right: 0;
}

#servicing_tyres_winter .half-r2-text {
  max-width: 400px;
}

#servicing_tyres_winter .half-r2-text {
  max-width: 525px;
}

#servicing_tyres_winter .r2-image {
  display: none;
}

#servicing_tyres_winter .all-weather__block {
  width: 440px;
  margin: 40px auto;
  padding: 30px;
}

#servicing_tyres_winter .all-weather__block {
  margin: 60px auto;
}

#servicing_tyres_winter .all-weather__btn {
  font-size: 16px;
  line-height: 24px;
}

#servicing_tyres_winter .terms {
  margin-top: 40px;
}

#servicing_tyres_winter .terms__content {
  font-size: 14px;
}