#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

#mc-model-selector .mobile-overlay {
  display: none;
}

#mc-model-selector .slab--models {
  padding: 7px 0;
  min-height: 0;
}

#mc-model-selector .model-nav {
  padding: 0;
  display: block;
  margin: 0;
  list-style: none;
  text-align: center;
}

#mc-model-selector .model-nav li {
  width: 30%;
  text-align: center;
  display: inline-block;
  position: relative;
}

#mc-model-selector .model-nav li a,
#mc-model-selector .model-nav li a:visited {
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 14px 7px;
  text-decoration: none;
  color: #2D3737;
}

#mc-model-selector .model-nav li a .model-nav__title,
#mc-model-selector .model-nav li a:visited .model-nav__title {
  font-size: 16px;
  font-weight: 500;
  display: block;
  text-decoration: none;
  color: #2D3737;
}

#mc-model-selector .model-nav li a span,
#mc-model-selector .model-nav li a:visited span {
  font-size: 13px;
  color: #979797;
  font-weight: 400;
  text-decoration: none;
  display: block;
  max-width: 100%;
}

#mc-model-selector .model-nav li a:hover,
#mc-model-selector .model-nav li a:visited:hover {
  border-bottom: solid 3px #607882;
}

#mc-model-selector .model-nav li a:hover .model-nav__title,
#mc-model-selector .model-nav li a:visited:hover .model-nav__title {
  color: #607882;
}

#mc-model-selector .model-nav li.model-nav--selected a,
#mc-model-selector .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #607882;
}

#mc-model-selector .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #607882;
}

#mc-model-selector .model-nav--four li {
  width: 24%;
}

#mc-model-selector .model-select {
  display: none;
}

#mc-model-selector .model {
  text-align: center;
  background: #fff;
  position: relative;
  bottom: 0;
  margin: 7px 0;
  display: block;
  border: solid 1px #e5e5e5;
  border-bottom-width: 3px;
  overflow: hidden;
}

#mc-model-selector .model:hover {
  border-bottom-color: #607882;
}

#mc-model-selector .model:hover .model__links {
  display: block;
}

#mc-model-selector .model:active {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#mc-model-selector .model__image {
  max-width: 100%;
  width: 100px;
  height: auto;
  float: none;
  display: block;
  margin: 14px auto;
}

#mc-model-selector .model__title {
  color: #2D3737;
  display: block;
  font-size: 14px;
}

#mc-model-selector .model-nav li {
  padding: 0 36px;
}

#mc-model-selector .models--abarth .model-nav li a:hover,
#mc-model-selector .models--abarth .model-nav li a:visited:hover {
  border-bottom: solid 3px #A9122D;
}

#mc-model-selector .models--abarth .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--abarth .model-nav li a:visited:hover .model-nav__title {
  color: #A9122D;
}

#mc-model-selector .models--abarth .model-nav li.model-nav--selected a,
#mc-model-selector .models--abarth .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #A9122D;
}

#mc-model-selector .models--abarth .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--abarth .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #A9122D;
}

#mc-model-selector .models--abarth .model:hover {
  border-bottom-color: #A9122D;
}

#mc-model-selector .models--abarth .model:active {
  border-color: #A9122D;
}

#mc-model-selector .models--alfa .model-nav li a:hover,
#mc-model-selector .models--alfa .model-nav li a:visited:hover {
  border-bottom: solid 3px #8F0C25;
}

#mc-model-selector .models--alfa .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--alfa .model-nav li a:visited:hover .model-nav__title {
  color: #8F0C25;
}

#mc-model-selector .models--alfa .model-nav li.model-nav--selected a,
#mc-model-selector .models--alfa .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #8F0C25;
}

#mc-model-selector .models--alfa .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--alfa .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #8F0C25;
}

#mc-model-selector .models--alfa .model:hover {
  border-bottom-color: #8F0C25;
}

#mc-model-selector .models--alfa .model:active {
  border-color: #8F0C25;
}

#mc-model-selector .models--bmw .model-nav li a:hover,
#mc-model-selector .models--bmw .model-nav li a:visited:hover {
  border-bottom: solid 3px #1c69d4;
}

#mc-model-selector .models--bmw .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--bmw .model-nav li a:visited:hover .model-nav__title {
  color: #1c69d4;
}

#mc-model-selector .models--bmw .model-nav li.model-nav--selected a,
#mc-model-selector .models--bmw .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #1c69d4;
}

#mc-model-selector .models--bmw .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--bmw .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #1c69d4;
}

#mc-model-selector .models--bmw .model:hover {
  border-bottom-color: #1c69d4;
}

#mc-model-selector .models--bmw .model:active {
  border-color: #1c69d4;
}

#mc-model-selector .models--citroen .model-nav li a:hover,
#mc-model-selector .models--citroen .model-nav li a:visited:hover {
  border-bottom: solid 3px #DC002E;
}

#mc-model-selector .models--citroen .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--citroen .model-nav li a:visited:hover .model-nav__title {
  color: #DC002E;
}

#mc-model-selector .models--citroen .model-nav li.model-nav--selected a,
#mc-model-selector .models--citroen .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #DC002E;
}

#mc-model-selector .models--citroen .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--citroen .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #DC002E;
}

#mc-model-selector .models--citroen .model:hover {
  border-bottom-color: #DC002E;
}

#mc-model-selector .models--citroen .model:active {
  border-color: #DC002E;
}

#mc-model-selector .models--dacia .model-nav li a:hover,
#mc-model-selector .models--dacia .model-nav li a:visited:hover {
  border-bottom: solid 3px #003292;
}

#mc-model-selector .models--dacia .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--dacia .model-nav li a:visited:hover .model-nav__title {
  color: #003292;
}

#mc-model-selector .models--dacia .model-nav li.model-nav--selected a,
#mc-model-selector .models--dacia .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #003292;
}

#mc-model-selector .models--dacia .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--dacia .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #003292;
}

#mc-model-selector .models--dacia .model:hover {
  border-bottom-color: #003292;
}

#mc-model-selector .models--dacia .model:active {
  border-color: #003292;
}

#mc-model-selector .models--ds .model-nav li a:hover,
#mc-model-selector .models--ds .model-nav li a:visited:hover {
  border-bottom: solid 3px #a70142;
}

#mc-model-selector .models--ds .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--ds .model-nav li a:visited:hover .model-nav__title {
  color: #a70142;
}

#mc-model-selector .models--ds .model-nav li.model-nav--selected a,
#mc-model-selector .models--ds .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #a70142;
}

#mc-model-selector .models--ds .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--ds .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #a70142;
}

#mc-model-selector .models--ds .model:hover {
  border-bottom-color: #a70142;
}

#mc-model-selector .models--ds .model:active {
  border-color: #a70142;
}

#mc-model-selector .models--fiat .model-nav li a:hover,
#mc-model-selector .models--fiat .model-nav li a:visited:hover {
  border-bottom: solid 3px #96172e;
}

#mc-model-selector .models--fiat .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--fiat .model-nav li a:visited:hover .model-nav__title {
  color: #96172e;
}

#mc-model-selector .models--fiat .model-nav li.model-nav--selected a,
#mc-model-selector .models--fiat .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #96172e;
}

#mc-model-selector .models--fiat .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--fiat .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #96172e;
}

#mc-model-selector .models--fiat .model:hover {
  border-bottom-color: #96172e;
}

#mc-model-selector .models--fiat .model:active {
  border-color: #96172e;
}

#mc-model-selector .models--ford .model-nav li a:hover,
#mc-model-selector .models--ford .model-nav li a:visited:hover {
  border-bottom: solid 3px #43596a;
}

#mc-model-selector .models--ford .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--ford .model-nav li a:visited:hover .model-nav__title {
  color: #43596a;
}

#mc-model-selector .models--ford .model-nav li.model-nav--selected a,
#mc-model-selector .models--ford .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #43596a;
}

#mc-model-selector .models--ford .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--ford .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #43596a;
}

#mc-model-selector .models--ford .model:hover {
  border-bottom-color: #43596a;
}

#mc-model-selector .models--ford .model:active {
  border-color: #43596a;
}

#mc-model-selector .models--hyundai .model-nav li a:hover,
#mc-model-selector .models--hyundai .model-nav li a:visited:hover {
  border-bottom: solid 3px #3176BA;
}

#mc-model-selector .models--hyundai .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--hyundai .model-nav li a:visited:hover .model-nav__title {
  color: #3176BA;
}

#mc-model-selector .models--hyundai .model-nav li.model-nav--selected a,
#mc-model-selector .models--hyundai .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #3176BA;
}

#mc-model-selector .models--hyundai .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--hyundai .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #3176BA;
}

#mc-model-selector .models--hyundai .model:hover {
  border-bottom-color: #3176BA;
}

#mc-model-selector .models--hyundai .model:active {
  border-color: #3176BA;
}

#mc-model-selector .models--jeep .model-nav li a:hover,
#mc-model-selector .models--jeep .model-nav li a:visited:hover {
  border-bottom: solid 3px #FFBA00;
}

#mc-model-selector .models--jeep .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--jeep .model-nav li a:visited:hover .model-nav__title {
  color: #FFBA00;
}

#mc-model-selector .models--jeep .model-nav li.model-nav--selected a,
#mc-model-selector .models--jeep .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #FFBA00;
}

#mc-model-selector .models--jeep .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--jeep .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #FFBA00;
}

#mc-model-selector .models--jeep .model:hover {
  border-bottom-color: #FFBA00;
}

#mc-model-selector .models--jeep .model:active {
  border-color: #FFBA00;
}

#mc-model-selector .models--kia .model-nav li a:hover,
#mc-model-selector .models--kia .model-nav li a:visited:hover {
  border-bottom: solid 3px #bb162b;
}

#mc-model-selector .models--kia .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--kia .model-nav li a:visited:hover .model-nav__title {
  color: #bb162b;
}

#mc-model-selector .models--kia .model-nav li.model-nav--selected a,
#mc-model-selector .models--kia .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #bb162b;
}

#mc-model-selector .models--kia .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--kia .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #bb162b;
}

#mc-model-selector .models--kia .model:hover {
  border-bottom-color: #bb162b;
}

#mc-model-selector .models--kia .model:active {
  border-color: #bb162b;
}

#mc-model-selector .models--mazda .model-nav li a:hover,
#mc-model-selector .models--mazda .model-nav li a:visited:hover {
  border-bottom: solid 3px #457b9b;
}

#mc-model-selector .models--mazda .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--mazda .model-nav li a:visited:hover .model-nav__title {
  color: #457b9b;
}

#mc-model-selector .models--mazda .model-nav li.model-nav--selected a,
#mc-model-selector .models--mazda .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #457b9b;
}

#mc-model-selector .models--mazda .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--mazda .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #457b9b;
}

#mc-model-selector .models--mazda .model:hover {
  border-bottom-color: #457b9b;
}

#mc-model-selector .models--mazda .model:active {
  border-color: #457b9b;
}

#mc-model-selector .models--merc .model-nav li a:hover,
#mc-model-selector .models--merc .model-nav li a:visited:hover {
  border-bottom: solid 3px #89959d;
}

#mc-model-selector .models--merc .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--merc .model-nav li a:visited:hover .model-nav__title {
  color: #89959d;
}

#mc-model-selector .models--merc .model-nav li.model-nav--selected a,
#mc-model-selector .models--merc .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #89959d;
}

#mc-model-selector .models--merc .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--merc .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #89959d;
}

#mc-model-selector .models--merc .model:hover {
  border-bottom-color: #89959d;
}

#mc-model-selector .models--merc .model:active {
  border-color: #89959d;
}

#mc-model-selector .models--mg .model-nav li a:hover,
#mc-model-selector .models--mg .model-nav li a:visited:hover {
  border-bottom: solid 3px #880005;
}

#mc-model-selector .models--mg .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--mg .model-nav li a:visited:hover .model-nav__title {
  color: #880005;
}

#mc-model-selector .models--mg .model-nav li.model-nav--selected a,
#mc-model-selector .models--mg .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #880005;
}

#mc-model-selector .models--mg .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--mg .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #880005;
}

#mc-model-selector .models--mg .model:hover {
  border-bottom-color: #880005;
}

#mc-model-selector .models--mg .model:active {
  border-color: #880005;
}

#mc-model-selector .models--mitsubishi .model-nav li a:hover,
#mc-model-selector .models--mitsubishi .model-nav li a:visited:hover {
  border-bottom: solid 3px #E30613;
}

#mc-model-selector .models--mitsubishi .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--mitsubishi .model-nav li a:visited:hover .model-nav__title {
  color: #E30613;
}

#mc-model-selector .models--mitsubishi .model-nav li.model-nav--selected a,
#mc-model-selector .models--mitsubishi .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #E30613;
}

#mc-model-selector .models--mitsubishi .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--mitsubishi .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #E30613;
}

#mc-model-selector .models--mitsubishi .model:hover {
  border-bottom-color: #E30613;
}

#mc-model-selector .models--mitsubishi .model:active {
  border-color: #E30613;
}

#mc-model-selector .models--peugeot .model-nav li a:hover,
#mc-model-selector .models--peugeot .model-nav li a:visited:hover {
  border-bottom: solid 3px #2497c3;
}

#mc-model-selector .models--peugeot .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--peugeot .model-nav li a:visited:hover .model-nav__title {
  color: #2497c3;
}

#mc-model-selector .models--peugeot .model-nav li.model-nav--selected a,
#mc-model-selector .models--peugeot .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #2497c3;
}

#mc-model-selector .models--peugeot .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--peugeot .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #2497c3;
}

#mc-model-selector .models--peugeot .model:hover {
  border-bottom-color: #2497c3;
}

#mc-model-selector .models--peugeot .model:active {
  border-color: #2497c3;
}

#mc-model-selector .models--renault .model-nav li a:hover,
#mc-model-selector .models--renault .model-nav li a:visited:hover {
  border-bottom: solid 3px #fc3;
}

#mc-model-selector .models--renault .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--renault .model-nav li a:visited:hover .model-nav__title {
  color: #fc3;
}

#mc-model-selector .models--renault .model-nav li.model-nav--selected a,
#mc-model-selector .models--renault .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #fc3;
}

#mc-model-selector .models--renault .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--renault .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #fc3;
}

#mc-model-selector .models--renault .model:hover {
  border-bottom-color: #fc3;
}

#mc-model-selector .models--renault .model:active {
  border-color: #fc3;
}

#mc-model-selector .models--seat .model-nav li a:hover,
#mc-model-selector .models--seat .model-nav li a:visited:hover {
  border-bottom: solid 3px #da0000;
}

#mc-model-selector .models--seat .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--seat .model-nav li a:visited:hover .model-nav__title {
  color: #da0000;
}

#mc-model-selector .models--seat .model-nav li.model-nav--selected a,
#mc-model-selector .models--seat .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #da0000;
}

#mc-model-selector .models--seat .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--seat .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #da0000;
}

#mc-model-selector .models--seat .model:hover {
  border-bottom-color: #da0000;
}

#mc-model-selector .models--seat .model:active {
  border-color: #da0000;
}

#mc-model-selector .models--skoda .model-nav li a:hover,
#mc-model-selector .models--skoda .model-nav li a:visited:hover {
  border-bottom: solid 3px #4BA82E;
}

#mc-model-selector .models--skoda .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--skoda .model-nav li a:visited:hover .model-nav__title {
  color: #4BA82E;
}

#mc-model-selector .models--skoda .model-nav li.model-nav--selected a,
#mc-model-selector .models--skoda .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #4BA82E;
}

#mc-model-selector .models--skoda .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--skoda .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #4BA82E;
}

#mc-model-selector .models--skoda .model:hover {
  border-bottom-color: #4BA82E;
}

#mc-model-selector .models--skoda .model:active {
  border-color: #4BA82E;
}

#mc-model-selector .models--toyota .model-nav li a:hover,
#mc-model-selector .models--toyota .model-nav li a:visited:hover {
  border-bottom: solid 3px #c03;
}

#mc-model-selector .models--toyota .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--toyota .model-nav li a:visited:hover .model-nav__title {
  color: #c03;
}

#mc-model-selector .models--toyota .model-nav li.model-nav--selected a,
#mc-model-selector .models--toyota .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #c03;
}

#mc-model-selector .models--toyota .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--toyota .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #c03;
}

#mc-model-selector .models--toyota .model:hover {
  border-bottom-color: #c03;
}

#mc-model-selector .models--toyota .model:active {
  border-color: #c03;
}

#mc-model-selector .models--vauxhall .model-nav li a:hover,
#mc-model-selector .models--vauxhall .model-nav li a:visited:hover {
  border-bottom: solid 3px #CB1920;
}

#mc-model-selector .models--vauxhall .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--vauxhall .model-nav li a:visited:hover .model-nav__title {
  color: #CB1920;
}

#mc-model-selector .models--vauxhall .model-nav li.model-nav--selected a,
#mc-model-selector .models--vauxhall .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #CB1920;
}

#mc-model-selector .models--vauxhall .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--vauxhall .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #CB1920;
}

#mc-model-selector .models--vauxhall .model:hover {
  border-bottom-color: #CB1920;
}

#mc-model-selector .models--vauxhall .model:active {
  border-color: #CB1920;
}

#mc-model-selector .models--volkswagen .model-nav li a:hover,
#mc-model-selector .models--volkswagen .model-nav li a:visited:hover {
  border-bottom: solid 3px #00B1E5;
}

#mc-model-selector .models--volkswagen .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--volkswagen .model-nav li a:visited:hover .model-nav__title {
  color: #00B1E5;
}

#mc-model-selector .models--volkswagen .model-nav li.model-nav--selected a,
#mc-model-selector .models--volkswagen .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #00B1E5;
}

#mc-model-selector .models--volkswagen .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--volkswagen .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #00B1E5;
}

#mc-model-selector .models--volkswagen .model:hover {
  border-bottom-color: #00B1E5;
}

#mc-model-selector .models--volkswagen .model:active {
  border-color: #00B1E5;
}

#mc-model-selector .models--volvo .model-nav li a:hover,
#mc-model-selector .models--volvo .model-nav li a:visited:hover {
  border-bottom: solid 3px #0053a1;
}

#mc-model-selector .models--volvo .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--volvo .model-nav li a:visited:hover .model-nav__title {
  color: #0053a1;
}

#mc-model-selector .models--volvo .model-nav li.model-nav--selected a,
#mc-model-selector .models--volvo .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #0053a1;
}

#mc-model-selector .models--volvo .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--volvo .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #0053a1;
}

#mc-model-selector .models--volvo .model:hover {
  border-bottom-color: #0053a1;
}

#mc-model-selector .models--volvo .model:active {
  border-color: #0053a1;
}

#mc-model-selector .models--volvo .model-nav li a:hover,
#mc-model-selector .models--volvo .model-nav li a:visited:hover {
  border-bottom: solid 3px #0053a1;
}

#mc-model-selector .models--volvo .model-nav li a:hover .model-nav__title,
#mc-model-selector .models--volvo .model-nav li a:visited:hover .model-nav__title {
  color: #0053a1;
}

#mc-model-selector .models--volvo .model-nav li.model-nav--selected a,
#mc-model-selector .models--volvo .model-nav li.model-nav--selected a:visited {
  border-bottom: solid 3px #0053a1;
}

#mc-model-selector .models--volvo .model-nav li.model-nav--selected a .model-nav__title,
#mc-model-selector .models--volvo .model-nav li.model-nav--selected a:visited .model-nav__title {
  color: #0053a1;
}

#mc-model-selector .models--volvo .model:hover {
  border-bottom-color: #0053a1;
}

#mc-model-selector .models--volvo .model:active {
  border-color: #0053a1;
}

#mc-more-from .more-box:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#mc-more-from .more-box__content {
  padding: 15px 17.5px;
}

#kia_manufacturer .panel {
  padding: 42px 0;
}

#kia_manufacturer .panel {
  padding: 60px 0;
}

#kia_manufacturer .panel--hybrid {
  background-color: #000;
  background-image: url("/cdn/images/kia/hybrid-event--tablet.jpg");
  background-position: -webkit-calc(50% - 100px);
  background-position: calc(50% - 100px);
  padding: 42px 0;
}

#kia_manufacturer .panel--hybrid {
  background-image: url("/cdn/images/kia/hybrid-event--desktop.jpg");
  background-position: center center;
  padding: 60px 0;
}

#kia_manufacturer .panel--hybrid {
  padding: 108px 0;
}

#kia_manufacturer .panel--motability {
  background-color: #000;
  background-image: url("/cdn/images/kia/motability-panel--tablet.jpg");
  background-position: center center;
  padding: 42px 0;
}

#kia_manufacturer .panel--motability {
  background-image: url("/cdn/images/kia/motability-panel--desktop.jpg");
  padding: 60px 0;
}

#kia_manufacturer .panel--motability {
  padding: 108px 0;
}

#kia_manufacturer .panel--used {
  background-color: #000;
  background-image: url("/cdn/images/kia/used-panel--tablet.jpg");
  background-position: -webkit-calc(50% - 100px);
  background-position: calc(50% - 100px);
  padding: 42px 0;
}

#kia_manufacturer .panel--used {
  background-image: url("/cdn/images/kia/used-panel--desktop.jpg");
  background-position: center center;
  padding: 60px 0;
}

#kia_manufacturer .panel--used {
  padding: 108px 0;
}

#kia_manufacturer .panel--suv {
  background-color: #000;
  background-image: url("/cdn/images/kia/suv-panel--tablet.jpg");
  background-position: -webkit-calc(50% - 100px);
  background-position: calc(50% - 100px);
  padding: 42px 0;
}

#kia_manufacturer .panel--suv {
  background-image: url("/cdn/images/kia/suv-panel--desktop.jpg");
  background-position: center center;
  padding: 60px 0;
}

#kia_manufacturer .panel--suv {
  padding: 108px 0;
}

#kia_manufacturer .panel--stinger {
  background-color: #000;
  background-image: url("/cdn/images/kia/stinger-panel--tablet.jpg");
  background-position: -webkit-calc(50% - -60px);
  background-position: calc(50% - -60px);
}

#kia_manufacturer .panel--stinger {
  background-image: url("/cdn/images/kia/stinger-panel--desktop.jpg");
  background-position: -webkit-calc(50% - 103px);
  background-position: calc(50% - 103px);
}

#kia_manufacturer .panel--stinger {
  background-position: -webkit-calc(50% - 203px);
  background-position: calc(50% - 203px);
}

#kia_manufacturer .panel--sportage {
  background-image: url("/cdn/images/kia/sportage-panel--tablet.jpg");
}

#kia_manufacturer .panel--sportage {
  background-image: url("/cdn/images/kia/sportage-panel--desktop.jpg");
  background-position: -webkit-calc(50% - 43px);
  background-position: calc(50% - 43px);
}

#kia_manufacturer .panel--sportage {
  background-position: center;
}

#kia_manufacturer .panel--picanto {
  background-image: url("/cdn/images/kia/picanto-panel--tablet.jpg");
}

#kia_manufacturer .panel--picanto {
  background-image: url("/cdn/images/kia/picanto-panel--desktop.jpg");
  background-position: -webkit-calc(50% - -42px);
  background-position: calc(50% - -42px);
}

#kia_manufacturer .panel--picanto {
  background-position: center;
}

#kia_manufacturer .panel--sorento {
  background-image: url("/cdn/images/kia/sorento-panel--tablet.jpg");
}

#kia_manufacturer .panel--sorento {
  background-image: url("/cdn/images/kia/sorento-panel--desktop.jpg");
  background-position: -webkit-calc(50% - 38px);
  background-position: calc(50% - 38px);
}

#kia_manufacturer .panel--sorento {
  background-position: center;
}

#kia_manufacturer .panel--pch {
  background-image: url("/cdn/images/kia/pch-panel--tablet.jpg");
}

#kia_manufacturer .panel--pch {
  background-image: url("/cdn/images/kia/pch-panel--desktop.jpg");
  background-position: -webkit-calc(50% - 18px);
  background-position: calc(50% - 18px);
}

#kia_manufacturer .panel--pch {
  background-position: center;
}

#kia_manufacturer .panel--trade-in {
  background-image: url("/cdn/images/kia/trade-in-panel--tablet.jpg");
}

#kia_manufacturer .panel--trade-in {
  background-image: url("/cdn/images/kia/trade-in-panel--desktop.jpg");
  background-position: -webkit-calc(50% - -44px);
  background-position: calc(50% - -44px);
}

#kia_manufacturer .panel--trade-in {
  background-position: center;
}

#kia_manufacturer .panel--stonic {
  background-image: url("/cdn/images/kia/stonic-panel--tablet.jpg");
}

#kia_manufacturer .panel--stonic {
  background-image: url("/cdn/images/kia/stonic-panel--desktop.jpg");
  background-position: -webkit-calc(50% - 66px);
  background-position: calc(50% - 66px);
}

#kia_manufacturer .panel--stonic {
  background-position: center;
}

#kia_manufacturer .panel__text {
  padding-bottom: 12px;
}

#kia_manufacturer .panel__text {
  padding: 24px 0;
}

#kia_manufacturer .panel__text {
  color: #2D3737;
  padding: 18px 21px;
  background-color: rgba(255,255,255,0.8);
}

#kia_manufacturer .panel__text--sportage {
  margin-top: 0;
}

#kia_manufacturer .panel__text--picanto {
  margin-top: 0;
}

#kia_manufacturer .panel__text--sorento {
  margin-top: 0;
}

#kia_manufacturer .panel__text--pch {
  margin-top: 0;
}

#kia_manufacturer .panel__text--trade-in {
  margin-top: 0;
}

#kia_manufacturer .panel__text--stonic {
  margin-top: 0;
}

#kia_manufacturer .panel__text h3 {
  line-height: 36px;
}

#kia_manufacturer .panel__text__subheader {
  font-size: 22px;
  line-height: 26px;
}

#kia_manufacturer .panel__text p {
  font-size: 16px;
  max-width: 427px;
}

#kia_manufacturer .panel__text p {
  max-width: none;
}

#kia_manufacturer .panel img {
  display: none;
}

#kia_manufacturer .deals {
  padding: 18px 0 30px;
}

#kia_manufacturer .deals {
  padding: 24px 0 36px;
}

#kia_manufacturer .icons {
  padding: 30px 0 12px;
}

#kia_manufacturer .icons {
  padding: 36px 0;
}

#kia_manufacturer .icons__box {
  margin-bottom: 0;
}

#kia_manufacturer .icons__box img {
  margin-bottom: 12px;
  display: inline-block;
  float: left;
  margin-right: 12px;
}

#kia_manufacturer .icons__box img {
  display: block;
  float: none;
  margin: 0 auto;
}

#kia_manufacturer .icons__box__text h4:before {
  display: none;
}

#kia_manufacturer .icons__box__text p {
  font-size: 16px;
}

#kia_manufacturer .icons__box__text p {
  margin-bottom: 12px;
}

#kia_manufacturer .icons__box__text span {
  font-size: 14px;
}

#kia_manufacturer .icons__box__text span {
  display: none;
}

#kia_manufacturer .icons__box:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#kia_manufacturer #mc-more-from {
  padding: 18px 0 30px;
}

#kia_manufacturer #mc-more-from {
  padding: 24px 0 36px;
}

#kia_manufacturer .representative-example {
  margin-bottom: 48px;
}