#servicing_merc .img-mobile {
  display: none;
}

#servicing_merc .service-care {
  background-image: url("/cdn/images/servicing/mercedes-benz/service-care--desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 24px 0;
}

#servicing_merc .service-care__wrapper {
  margin-top: -84px;
}

#servicing_merc .service-care__wrapper {
  margin-top: auto;
}