.scrappage-strip:hover .scrappage-strip--text {
  border-left: 1px solid #ccc;
}

.scrappage-strip img {
  max-width: 100%;
  padding: 21px 7px 6px 0;
}

.scrappage-strip h3 span {
  display: inline-block;
}

.scrappage-strip h3 {
  font-size: 18px;
  line-height: 26px;
}

.scrappage-strip h3 {
  padding: 24px 0 18px 0;
}

.scrappage-strip h3 {
  font-size: 19px;
  line-height: 26px;
}

.scrappage-strip h3 {
  font-size: 20px;
  line-height: 28px;
  padding: 18px 0;
}

.scrappage-strip h3 {
  padding: 24px 0;
}

.scrappage-strip--dark:hover .scrappage-strip--text {
  border-left: 1px solid #ccc;
}