.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#seat-ibiza .img--mobile {
  display: none;
}

#seat-ibiza .section {
  padding: 30px 0;
}

#seat-ibiza .section {
  padding: 36px 0;
}

#seat-ibiza .section {
  padding: 42px 0;
}

#seat-ibiza .section__variants h2,
#seat-ibiza .section__colour h2,
#seat-ibiza .section__history h2,
#seat-ibiza .section__gallery h2 {
  text-align: center;
}

#seat-ibiza .section__variants p,
#seat-ibiza .section__colour p,
#seat-ibiza .section__history p,
#seat-ibiza .section__gallery p {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
}

#seat-ibiza .section__hero {
  background-position: center -50px;
}

#seat-ibiza .section__hero {
  background: url("/cdn/images/seat/ibiza/hero--desktop.jpg") no-repeat 0 top #161616;
  -webkit-background-size: cover;
  background-size: cover;
}

#seat-ibiza .section__hero {
  background-position: center center;
}

#seat-ibiza .section__hero__top h1 {
  font-size: 5vw;
  line-height: 6vw;
}

#seat-ibiza .section__hero__top h1 {
  font-size: 4.5vw;
  line-height: 5.5vw;
}

#seat-ibiza .section__hero__top h1 {
  font-size: 40px;
  line-height: 40px;
}

#seat-ibiza .section__hero__top {
  margin-bottom: 60%;
}

#seat-ibiza .section__hero__top {
  margin-bottom: 300px;
}

#seat-ibiza .section__hero__top {
  padding: 24px 0 12px 0;
}

#seat-ibiza .section__hero__buttons__mobile {
  display: none;
}

#seat-ibiza .section__hero__buttons {
  display: block;
}

#seat-ibiza .section .ch-card {
  min-height: 480px;
}

#seat-ibiza .section .ch-card {
  min-height: 450px;
}

#seat-ibiza .section .ch-card {
  min-height: 420px;
}

#seat-ibiza .section__features {
  background: url("/cdn/images/seat/ibiza/features--desktop.jpg") no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
}

#seat-ibiza .section__features .ch-list li {
  width: 50%;
  float: left;
}

#seat-ibiza .section__features--content--box {
  margin-top: 264px;
}

#seat-ibiza .section__colour .colours__list {
  display: block;
  border: none;
}

#seat-ibiza .section__colour .colours__list__item {
  width: 50%;
}

#seat-ibiza .section__colour .colours__image {
  margin-top: 0;
}

#seat-ibiza .section__history .timeline h2.born {
  text-align: center;
}

#seat-ibiza .section__history .timeline:before {
  left: 50%;
  bottom: 380px;
}

#seat-ibiza .section__history .timeline .years {
  margin-top: 84px;
}

#seat-ibiza .section__history .timeline .years li.model {
  margin-bottom: -172px;
  left: -34px;
}

#seat-ibiza .section__history .timeline .years li.model {
  width: 50%;
  float: right;
  clear: both;
}

#seat-ibiza .section__history .timeline .years li.model.model.alt {
  float: left;
  width: 50%;
  left: 32px;
}

#seat-ibiza .section__history .timeline .years li.model.model.alt:before {
  left: auto;
  right: 0;
}

#seat-ibiza .section__history .timeline .years li.model.model.alt .year {
  float: right;
}

#seat-ibiza .section__history .timeline .years li.model.model.alt .article {
  float: left;
}

#seat-ibiza .section__history .timeline .years li.model.model.alt .article:after,
#seat-ibiza .section__history .timeline .years li.model.model.alt .article:before {
  right: auto;
  left: 100%;
  top: 47px;
}

#seat-ibiza .section__history .timeline .years li.model.model.alt .article:after {
  border-left-color: #faf9f7;
  border-right: none;
}

#seat-ibiza .section__history .timeline .years li.model.model.alt .article:before {
  border-left-color: #ebebeb;
  border-right: none;
}

#seat-ibiza .section__cta {
  text-align: center;
}

#seat-ibiza .mini-nav {
  background-color: rgba(255,255,255,0.8);
  color: #ffffff;
  display: block;
}

#seat-ibiza .mini-nav .mini-nav__desktop ul {
  display: block;
}

#seat-ibiza .mini-nav .mini-nav__desktop li a {
  display: block;
  width: 120px;
  text-align: center;
  line-height: 70px;
  font-size: 16px;
  font-weight: 400;
  color: #2D3737;
  text-decoration: none;
}

#seat-ibiza .mini-nav .mini-nav__desktop li a {
  width: 130px;
  font-size: 18px;
}

#seat-ibiza .mini-nav .mini-nav__desktop li a {
  width: 166px;
}

#seat-ibiza .mini-nav .mini-nav__mobile {
  display: none;
}

#seat-ibiza .terms {
  margin-top: 28px;
}