.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#mc-more-from .more-box:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#mc-more-from .more-box__content {
  padding: 15px 17.5px;
}

.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#motability-roadshow .section {
  padding: 24px 0;
}

#motability-roadshow .title {
  padding-bottom: 24px 0;
}

#motability-roadshow .title {
  padding-bottom: 48px 0;
}

#motability-roadshow .controls .ch-container {
  padding-right: 14px;
}

#motability-roadshow .controls .btns p {
  font-size: 14px;
  margin-right: 14px;
}

#motability-roadshow .controls .btns button {
  font-size: 14px;
}

#motability-roadshow .hero {
  background-image: url("/cdn/images/motability/roadshow/hero-tablet.jpg");
  background-position: 50px 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#motability-roadshow .hero {
  -webkit-background-size: contain;
  background-size: contain;
  background-position: right center;
}

#motability-roadshow .hero {
  background-image: url("/cdn/images/motability/roadshow/hero-desktop.png");
  background-color: #00B4BB;
}

#motability-roadshow .hero__overlay {
  left: -140px;
  width: 400px;
}

#motability-roadshow .hero__overlay--mobile {
  display: none;
}

#motability-roadshow .hero__overlay--desktop {
  display: block;
  width: 70%;
}

#motability-roadshow .hero__overlay--desktop {
  width: 50%;
}

#motability-roadshow .hero__logo {
  background-position: right -60px;
  -webkit-background-size: 80% 80%;
  background-size: 80%;
}

#motability-roadshow .hero__logo {
  background: none;
}

#motability-roadshow .hero__logo__title {
  margin: 45px 0;
}

#motability-roadshow .hero__logo__title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 15px;
}

#motability-roadshow .hero__logo__title {
  margin-top: 36px;
  font-size: 18px;
}

#motability-roadshow .hero__logo__title span {
  font-size: 36px;
}

#motability-roadshow .hero__logo__title span {
  font-size: 44px;
}

#motability-roadshow .hero__content {
  background-color: transparent;
}

#motability-roadshow .hero__content__icon--clock {
  margin-bottom: 24px;
}

#motability-roadshow .hero__content__btn {
  margin-top: 24px;
}

#motability-roadshow .hero__content__btn {
  margin-top: 24px;
}

#motability-roadshow .hosts__content__title {
  text-align: left;
}

#motability-roadshow .more-from .ch-card {
  margin-bottom: none;
}

#motability-roadshow .more-from .ch-card__content {
  min-height: 165px;
}

#motability-roadshow .more-from .ch-card__content {
  min-height: 120px;
}

#motability-roadshow .more-from .ch-card__content {
  min-height: 192px;
}