.careers-footer__dcc {
  height: 50px;
}

.careers-footer__dcc {
  height: 60px;
}

.careers-footer__sdc {
  height: 50px;
}

.careers-footer__sdc {
  height: 60px;
}

.careers-footer__httfw {
  height: 50px;
}

.careers-footer__httfw {
  height: 60px;
}

#why-join-arnold .btn--block {
  width: auto;
}

#why-join-arnold .img--mobile {
  display: none;
}

#why-join-arnold .img--desktop {
  display: block;
}

#why-join-arnold .section {
  padding: 28px 0;
}

#why-join-arnold .hero {
  margin: 48px 0;
}

#why-join-arnold .hero {
  margin: 72px 0;
}

#why-join-arnold .hero__title {
  font-size: 40px;
}

#why-join-arnold .hero .ch-btn {
  margin: 14px 0 0;
}

#why-join-arnold .intro {
  background: url("/cdn/images/careers/pages/why-join-arnold/staff-bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#why-join-arnold .benefits__list--item {
  font-size: 16px;
}

#why-join-arnold .benefits__list--item {
  height: 124px;
  padding-top: 36px;
  padding-left: 140px;
  -webkit-background-size: auto auto;
  background-size: auto;
  border-bottom: none;
  width: auto;
}

#why-join-arnold .team .ch-btn {
  margin-top: 10px;
}

#why-join-arnold .training .ch-btn {
  margin-bottom: 28px;
}

#why-join-arnold .training--list {
  margin: 28px 0 14px;
}

#why-join-arnold .training--img {
  margin-bottom: 28px;
}