.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#hyundai-kona p {
  font-size: 16px;
  line-height: 26px;
}

#hyundai-kona .img--mobile {
  display: none;
}

#hyundai-kona .card__text {
  min-height: 300px;
}

#hyundai-kona .card__text {
  min-height: 290px;
}

#hyundai-kona .card__text {
  min-height: 240px;
}

#hyundai-kona .hero {
  padding: 46% 7px 24px 7px;
}

#hyundai-kona .hero {
  background: url("/cdn/images/hyundai/kona/kona-hero-narrow--desktop.jpg") no-repeat center bottom #151515;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 72px 0;
}

#hyundai-kona .hero {
  background-position: center center;
  padding: 132px 0;
}

#hyundai-kona .hero h1 {
  font-size: 37px;
}

#hyundai-kona .hero h1 strong {
  font-size: 150px;
  line-height: 130px;
  margin-left: -12px;
}

#hyundai-kona .section {
  padding: 24px 0 24px;
}

#hyundai-kona .section__deals #blks {
  margin-top: 36px;
}

#hyundai-kona .section__hero {
  padding: 14% 0;
}

#hyundai-kona .section__hero__exterior {
  background: url("/cdn/images/hyundai/kona/exterior-hero-lg.jpg") no-repeat center center;
  background-attachment: fixed;
}

#hyundai-kona .section__hero__interior {
  background: url("/cdn/images/hyundai/kona/interior-hero-lg.jpg") no-repeat center center;
  background-attachment: fixed;
}

#hyundai-kona .section__hero__deals {
  background: url("/cdn/images/hyundai/kona/deals-hero-lg.jpg") no-repeat center center;
  background-attachment: fixed;
}

#hyundai-kona .section__content {
  padding-top: 0;
}

#hyundai-kona .section__content__text {
  margin-top: 108px;
  margin-bottom: 108px;
  border: 10px solid #fafafa;
}

#hyundai-kona .section__content__text {
  margin-top: 138px;
  margin-bottom: 138px;
}

#hyundai-kona .section__content__identity {
  -webkit-background-size: 800px 800px;
  background-size: 800px;
  background-position: center right;
}

#hyundai-kona .section__content__identity {
  -webkit-background-size: 900px 900px;
  background-size: 900px;
}

#hyundai-kona .section__content__capacity {
  -webkit-background-size: 800px 800px;
  background-size: 800px;
  background-position: center left;
}

#hyundai-kona .section__content__capacity {
  -webkit-background-size: 900px 900px;
  background-size: 900px;
}

#hyundai-kona .section__content__mix {
  -webkit-background-size: 800px 800px;
  background-size: 800px;
  background-position: center right;
}

#hyundai-kona .section__content__mix {
  -webkit-background-size: 900px 900px;
  background-size: 900px;
}

#hyundai-kona .section__content__discover {
  -webkit-background-size: 800px 800px;
  background-size: 800px;
  background-position: center left;
}

#hyundai-kona .section__content__discover {
  -webkit-background-size: 900px 900px;
  background-size: 900px;
}

#hyundai-kona .section__colour .colours p {
  text-align: center;
}

#hyundai-kona .section__colour .colours__list {
  display: block;
  border: none;
}

#hyundai-kona .section__colour .colours__list__item {
  width: 50%;
}

#hyundai-kona .section__colour .colours__image {
  margin-top: 0;
}

#hyundai-kona .section__gallery .magnify-image {
  margin-bottom: 24px;
  height: 120px;
}

#hyundai-kona .section__gallery .magnify-image {
  height: 220px;
}

#hyundai-kona .section__gallery .magnify-image {
  height: 240px;
}

#hyundai-kona .section__ctas {
  text-align: center;
}

#hyundai-kona .section .list-branches {
  margin-bottom: 0;
}