#mc-more-from .more-box:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#mc-more-from .more-box__content {
  padding: 15px 17.5px;
}

#mazda_events .section {
  padding: 24px 0;
}

#mazda_events .mobile-img {
  display: none;
}

#mazda_events .hero {
  background-image: url("/cdn/images/mazda/events/hero-tablet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  height: 366px;
}

#mazda_events .hero {
  background-image: url("/cdn/images/mazda/events/hero-desktop.jpg");
  height: 419px;
  -webkit-background-size: auto auto;
  background-size: auto;
}

#mazda_events .intro__date {
  margin-top: 7px;
}

#mazda_events .intro__date--btns {
  margin-top: 0;
  text-align: right;
}

#mazda_events .information {
  background-image: url("/cdn/images/mazda/events/information-tablet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  padding-bottom: 24px;
}

#mazda_events .information {
  background-position-y: 66%;
}

#mazda_events .information {
  background-image: url("/cdn/images/mazda/events/information-desktop.jpg");
  background-position: bottom center;
}