.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

.ch-table td,
.ch-table th {
  padding: 9px 10.5px;
}

.ch-table td,
.ch-table th {
  padding: 12px 14px;
}

#t-roc .img--mobile {
  display: none;
}

#t-roc .section {
  padding: 30px 0;
}

#t-roc .section {
  padding: 36px 0;
}

#t-roc .section {
  padding: 42px 0;
}

#t-roc .section__hero {
  background: url("/cdn/images/volkswagen/t-roc/hero--tablet.jpg") no-repeat;
  background-position: left top;
  -webkit-background-size: 150% 150%;
  background-size: 150%;
}

#t-roc .section__hero {
  background-attachment: fixed;
  -webkit-background-size: auto auto;
  background-size: auto;
  background-position: center top;
}

#t-roc .section__hero {
  background: url("/cdn/images/volkswagen/t-roc/hero--desktop.jpg") no-repeat;
  background-position: center 0;
  background-attachment: fixed;
}

#t-roc .section__hero__image {
  display: none;
  border: 1px solid;
}

#t-roc .section__hero__top {
  padding: 24px 0;
}

#t-roc .section__hero__top h1 {
  font-size: 4vw;
  line-height: 5vw;
}

#t-roc .section__hero__top h1 {
  font-size: 3.8vw;
  line-height: 4.8vw;
}

#t-roc .section__hero__top h1 {
  font-size: 40px;
  line-height: 40px;
}

#t-roc .section__hero__top h2 {
  font-size: 3vw;
  line-height: 4vw;
}

#t-roc .section__hero__top h2 {
  font-size: 3.8vw;
  line-height: 4.8vw;
}

#t-roc .section__hero__top h2 {
  font-size: 24px;
  line-height: 34px;
}

#t-roc .section__hero__bottom {
  padding-bottom: 24px;
}

#t-roc .section__hero__bottom {
  padding: 18px 0 24px 0;
}

#t-roc .section__hero__bottom {
  background-color: inherit;
  margin: 72px 0;
}

#t-roc .section__hero__bottom {
  margin: 120px 0;
}

#t-roc .section__hero__buttons {
  display: block;
}

#t-roc .section__hero__buttons {
  margin-top: 12px;
}

#t-roc .section__hero__buttons__mobile {
  display: none;
}

#t-roc .section .ch-card {
  min-height: 340px;
}

#t-roc .section .ch-card {
  min-height: 320px;
}

#t-roc .section__variants {
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.5);
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  background-image: url("/cdn/images/volkswagen/t-roc/variants--desktop.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#t-roc .section__variants__content {
  padding: 12px 0 300px 0;
}

#t-roc .section__events {
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.5);
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  background-image: url("/cdn/images/volkswagen/t-roc/events--desktop.jpg");
  -webkit-background-size: auto auto;
  background-size: auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#t-roc .section__events__content {
  padding-bottom: 36px;
}

#t-roc .section__interior {
  background-image: url("/cdn/images/volkswagen/t-roc/interior--desktop.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#t-roc .section__interior {
  background-position: center center;
  background-attachment: fixed;
}

#t-roc .section__interior__content {
  padding: 300px 0 12px 0;
}

#t-roc .section__interior__content {
  padding: 480px 0 24px 0;
}

#t-roc .section__drive {
  -webkit-box-shadow: 0 0 50px #000;
  box-shadow: 0 0 50px #000;
}

#t-roc .section__drive .magnify-image {
  margin-bottom: 24px;
  height: 180px;
}

#t-roc .section__drive .magnify-image {
  height: 300px;
}

#t-roc .section__drive .magnify-image {
  height: 356px;
}

#t-roc .section__feature {
  background-image: url("/cdn/images/volkswagen/t-roc/feature--desktop.jpg");
  -webkit-background-size: 120% 120%;
  background-size: 120%;
  background-color: #f2f2f2;
}

#t-roc .section__feature__content {
  padding-bottom: 38%;
}

#t-roc .section__feature__content {
  padding-bottom: 40%;
}

#t-roc .section__gallery h2 {
  text-align: center;
  margin-bottom: 24px;
}

#t-roc .section__gallery .gallery a .magnify-image {
  height: 80px;
}

#t-roc .section__gallery .gallery a .magnify-image {
  height: 130px;
}

#t-roc .section__gallery .gallery a .magnify-image {
  height: 160px;
}

#t-roc .section__deals .deals__title {
  text-align: center;
  margin-bottom: 24px;
}