.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#reviews .section {
  padding: 24px 0;
}

#reviews .section {
  padding: 36px 0;
}

#reviews .hero .icon {
  width: 120px;
}

#reviews .hero .title {
  font-size: 40px;
}

#reviews .hero .body {
  margin-right: 250px;
}

#reviews .trustpilot .logo {
  margin: 12px auto 24px;
}

#reviews .trustpilot .body {
  text-align: center;
}

#reviews .trustpilot-widget {
  margin-bottom: 0;
}

#reviews .intro {
  text-align: center;
}

#reviews .intro .stats {
  margin-top: 24px;
}

#reviews .intro .stats p {
  padding-left: 35px;
  padding-right: 35px;
}

#reviews .survey .icon {
  display: block;
  margin: 0 auto;
}

#reviews .cards .ch-card__content {
  min-height: 255px;
}

#reviews .cards .ch-card__content {
  min-height: 206px;
}

#reviews .cards .ch-card__content {
  min-height: 182px;
}