.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.rep__figure {
  min-width: 25%;
}

.rep__figure {
  min-width: 12.5%;
}

#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

#c3-aircross .img--mobile {
  display: none;
}

#c3-aircross .hero {
  background-image: url("/cdn/images/citroen/c3-aircross/hero--desktop.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: -webkit-calc(50% - 100px);
  background-position: calc(50% - 100px);
  padding: 24px 0;
}

#c3-aircross .hero {
  padding-bottom: 0;
  padding-top: 216px;
  background-position: center center;
}

#c3-aircross .hero__content {
  background-color: #ffffff;
  text-align: left;
  margin-top: 0;
  padding: 24px;
}

#c3-aircross .deals {
  text-align: center;
  padding: 48px 0 0;
}

#c3-aircross .deals--heading {
  margin-bottom: 30px;
}

#c3-aircross .features {
  -webkit-background-size: auto auto;
  background-size: auto;
  padding-top: 0;
  background-position: -100px;
  margin: 48px 0;
}

#c3-aircross .features {
  background-position: center center;
}

#c3-aircross .features__content {
  padding: 24px;
  margin-top: 0;
}

#c3-aircross .features__content--heading {
  padding: 12px 14px 0;
}

#c3-aircross .features__content--copy {
  padding: 12px 14px;
}

#c3-aircross .features__space {
  background-image: url("/cdn/images/citroen/c3-aircross/space--background.jpg");
}

#c3-aircross .features__space--content {
  margin: 108px 0;
}

#c3-aircross .features__space--content {
  margin: 180px 0;
}

#c3-aircross .features__capability {
  background-image: url("/cdn/images/citroen/c3-aircross/capability--background.jpg");
  background-position: -webkit-calc(50% - 50px);
  background-position: calc(50% - 50px);
}

#c3-aircross .features__capability {
  background-position: center center;
}

#c3-aircross .features__capability--content {
  margin: 108px 0;
}

#c3-aircross .features__capability--content {
  margin: 180px 0;
}

#c3-aircross .features__city {
  background-image: url("/cdn/images/citroen/c3-aircross/city--background.jpg");
  background-position: -webkit-calc(50% - -30px);
  background-position: calc(50% - -30px);
}

#c3-aircross .features__city {
  background-position: center center;
}

#c3-aircross .features__city--content {
  margin: 0 0 336px;
}

#c3-aircross .features__city--content {
  margin: 0 0 360px;
}

#c3-aircross .features__interior {
  background-image: url("/cdn/images/citroen/c3-aircross/interior-1--background.jpg");
  background-position: -webkit-calc(50% - -30px);
  background-position: calc(50% - -30px);
}

#c3-aircross .features__interior {
  background-position: center center;
}

#c3-aircross .features__interior--content {
  margin: 288px 0;
}

#c3-aircross .features__interior--content {
  margin: 504px 0 312px;
}

#c3-aircross .features__interior--content {
  margin: 408px 0;
}

#c3-aircross .colour {
  text-align: center;
  padding: 0 0 24px;
}

#c3-aircross .colour .picker__list {
  border: 0;
}

#c3-aircross .gallery-container--padding {
  padding-left: 0;
  padding-right: 0;
}

#c3-aircross .gallery-container .gallery {
  margin-left: -14px;
  margin-right: -14px;
}

#c3-aircross .gallery-container .gallery a {
  margin-bottom: 30px;
}

#c3-aircross .gallery-container .gallery a {
  margin-bottom: 24px;
}

#c3-aircross .gallery-container .gallery a img {
  height: 150px;
}

#c3-aircross .gallery-container .gallery a img {
  height: auto;
}

#c3-aircross .gallery-container .gallery .bottom {
  margin-bottom: 0;
}

#c3-aircross .rep-example {
  padding: 24px 0 48px;
}