#test-drive-treats .test-drive-treats-panel:hover {
  background-color: #18164b;
}

#test-drive-treats .test-drive-treats-panel .img--mobile {
  display: none;
}

#test-drive-treats .test-drive-treats-panel .img--desktop {
  padding: 7px 0;
  max-height: 70px;
  display: block;
}

#test-drive-treats .test-drive-treats-panel .img--desktop {
  max-height: 90px;
  padding-top: 10px;
  padding-bottom: 0;
  float: right;
}

#test-drive-treats .test-drive-treats-panel .img--desktop {
  padding-top: 4px;
}

#test-drive-treats .test-drive-treats-panel__content h1 {
  font-size: 20px;
  line-height: 34px;
}

#test-drive-treats .test-drive-treats-panel__content h1 {
  padding: 12px 0;
  line-height: 24px;
  margin-bottom: 0;
}

#test-drive-treats .test-drive-treats-panel__content h1 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0;
}