#kia_7-year-warranty .hero {
  background-image: url("/cdn/images/kia/7-year-warranty/hero-sm.jpg");
  height: 300px;
}

#kia_7-year-warranty .hero {
  background-image: url("/cdn/images/kia/7-year-warranty/hero-md.jpg");
  height: 350px;
}

#kia_7-year-warranty .hero {
  background-image: url("/cdn/images/kia/7-year-warranty/hero.jpg");
  height: 450px;
}

#kia_7-year-warranty .hero-content {
  background: rgba(0,0,0,0.5);
  padding: 21px;
  margin-top: 50px;
  margin-right: 50px;
}

#kia_7-year-warranty .hero-content {
  padding: 28px;
  margin-top: 57px;
  margin-right: 0;
}

#kia_7-year-warranty .hero-content {
  margin-top: 100px;
}

#kia_7-year-warranty .hero img {
  display: none;
}

#kia_7-year-warranty .icons {
  padding: 21px 0;
}

#kia_7-year-warranty .icons-content {
  padding: 14px 0 21px;
}

#kia_7-year-warranty .icons-content {
  padding: 14px 14px 28px;
}

#kia_7-year-warranty .icons img {
  float: right;
  margin-top: -12px;
}

#kia_7-year-warranty .icons img {
  float: none;
  display: block;
  margin: 0 auto;
}

#kia_7-year-warranty .questions-title {
  margin-top: 21px;
}

#kia_7-year-warranty .questions-title {
  margin-top: 28px;
}

#kia_7-year-warranty .questions-row {
  padding: 30px 0;
}

#kia_7-year-warranty .questions-row {
  padding: 36px 0;
}

#kia_7-year-warranty .questions-img {
  float: right;
}

#kia_7-year-warranty .next-steps {
  padding: 18px 0 30px;
}

#kia_7-year-warranty .next-steps {
  padding: 24px 0 50px;
}