.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#stelvio .img--mobile {
  display: none;
}

#stelvio .section {
  padding: 30px 0;
}

#stelvio .section {
  padding: 36px 0;
}

#stelvio .section {
  padding: 42px 0;
}

#stelvio .section__variants h2,
#stelvio .section__colour h2,
#stelvio .section__history h2,
#stelvio .section__gallery h2 {
  text-align: center;
}

#stelvio .section__hero {
  background-position: center -50px;
}

#stelvio .section__hero {
  background: url("/cdn/images/alfa-romeo/stelvio/stelvio-hero--desktop.jpg") no-repeat 0 top #161616;
  -webkit-background-size: 210% 210%;
  background-size: 210%;
  background-position: 0 -20px;
}

#stelvio .section__hero {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

#stelvio .section__hero__top h1 {
  font-size: 5vw;
  line-height: 6vw;
}

#stelvio .section__hero__top h1 {
  font-size: 4.5vw;
  line-height: 5.5vw;
}

#stelvio .section__hero__top h1 {
  font-size: 40px;
  line-height: 40px;
}

#stelvio .section__hero__top {
  margin-bottom: 24px;
}

#stelvio .section__hero__top {
  margin-bottom: 10%;
}

#stelvio .section__hero__bottom {
  margin-bottom: 14%;
}

#stelvio .section__hero__bottom {
  margin-bottom: 10%;
}

#stelvio .section__hero__bottom h2 {
  font-size: 34px;
  line-height: 44px;
}

#stelvio .section__hero__bottom h2 {
  font-size: 40px;
  line-height: 50px;
}

#stelvio .section__hero__buttons__mobile {
  display: none;
}

#stelvio .section__hero__buttons {
  display: block;
}

#stelvio .section__hero__buttons {
  text-align: right;
}

#stelvio .section .ch-card {
  min-height: 340px;
}

#stelvio .section .ch-card {
  min-height: 320px;
}

#stelvio .section__deals .deals__title {
  text-align: center;
  margin-bottom: 24px;
}

#stelvio .section__emotion h2 {
  text-align: center;
}

#stelvio .section__emotion {
  background: url("/cdn/images/alfa-romeo/stelvio/stelvio-emotion--desktop.jpg") no-repeat center 30px;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 430px;
}

#stelvio .section__emotion {
  background-position: center top;
  padding-bottom: 20%;
}

#stelvio .section__emotion--content {
  margin-top: 24px;
  margin-bottom: 264px;
}

#stelvio .section__breaking-rules {
  padding-top: 0;
}

#stelvio .section__breaking-rules .img--desktop {
  display: block;
}

#stelvio .section__breaking-rules--content {
  margin-bottom: 24px;
}

#stelvio .section__breaking-rules--content {
  margin-top: 0;
}

#stelvio .section__breaking-rules--content {
  margin-top: 24px;
}

#stelvio .section__safe {
  background: url("/cdn/images/alfa-romeo/stelvio/stelvio-safe--desktop.jpg") no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}

#stelvio .section__safe .magnify-image {
  display: none;
}

#stelvio .section__safe--content {
  margin-top: 264px;
  margin-bottom: 264px;
}

#stelvio .section__features h2 {
  text-align: center;
  margin-bottom: 24px;
}

#stelvio .section__gallery h2 {
  text-align: center;
  margin-bottom: 24px;
}

#stelvio .section__gallery .gallery a {
  margin-bottom: 30px;
}

#stelvio .section__gallery .gallery a {
  margin-bottom: 24px;
}

#stelvio .section__gallery .gallery a img {
  min-height: 150px;
}

#stelvio .section__gallery .gallery a img {
  height: auto;
}

#stelvio .section__cta {
  text-align: center;
}

#stelvio .mini-nav {
  background-color: rgba(255,255,255,0.8);
  color: #ffffff;
  display: block;
}

#stelvio .mini-nav .mini-nav__desktop ul {
  display: block;
}

#stelvio .mini-nav .mini-nav__desktop li a {
  display: block;
  padding-left: 28px;
  padding-right: 28px;
  text-align: center;
  line-height: 70px;
  font-size: 16px;
  font-weight: 400;
  color: #2D3737;
  text-decoration: none;
}

#stelvio .mini-nav .mini-nav__desktop li a {
  font-size: 18px;
  padding-left: 28px;
  padding-right: 28px;
}

#stelvio .mini-nav .mini-nav__desktop li a {
  font-size: 18px;
  padding-left: 42px;
  padding-right: 42px;
}

#stelvio .mini-nav .mini-nav__mobile {
  display: none;
}