#ds3 .ch-btn {
  -webkit-border-radius: 0;
  border-radius: 0;
  width: auto;
  margin: 0 5px 10px;
}

#ds3 .hero {
  background-image: url("/cdn/images/ds/ds3/010368-ds3-header-large.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 550px;
  padding-top: 270px;
}

#ds3 .hero.outro {
  background-image: url("/cdn/images/ds/ds3/010368-ds3-header-large.jpg");
  -webkit-background-size: 150% 150%;
  background-size: 150%;
  padding-top: 20px;
  height: auto;
}

#ds3 .hero {
  height: 600px;
  padding-top: 331px;
}

#ds3 .hero.outro {
  padding-top: 20px;
}

#ds3 .hero .hero__content {
  background: transparent;
}

#ds3 .hero .hero__content h1 {
  font-size: 43px;
  line-height: 58px;
}

#ds3 .hero .hero__content h1 span {
  font-size: 82px;
}

#ds3 .hero .hero__content hr {
  max-width: 120px;
}

#ds3 .module .module_image {
  float: none;
  height: auto;
  overflow: hidden;
  padding-bottom: 0;
}

#ds3 .module .module_image img {
  display: block;
}

#ds3 .module .module_image.solo {
  display: block;
}

#ds3 .module.standout article {
  width: 60%;
}

#ds3 .module.standout article {
  padding: 20% 100px;
  width: 60%;
}

#ds3 #cabrio {
  background-position: center bottom;
  padding-bottom: 0;
}

#swipebox-close {
  right: 10px;
}

#swipebox-arrows {
  width: 92%;
  max-width: 800px;
}