#personal-contract-hire p {
  font-size: 16px;
  line-height: 27px;
}

#personal-contract-hire .ch-btn {
  width: auto;
  margin-left: 10px;
  margin-top: 0;
}

#personal-contract-hire .ch-list--tick li {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 10px;
}

#personal-contract-hire .aside {
  text-align: right;
}

#personal-contract-hire #hero {
  padding-bottom: 400px;
}