.ch-btn {
  width: auto;
  text-align: justify;
  margin-top: 0;
}

.video__button {
  height: 40%;
  top: 30%;
}

#giulia .giulia-selectors-giulia span {
  font-size: 34px;
}

#giulia .giulia-selectors-quad span {
  font-size: 34px;
}

#giulia iframe {
  height: 300px;
}

#giulia iframe {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 320px;
}

#giulia iframe {
  margin-top: 80px;
  margin-bottom: 80px;
  height: 420px;
}

#giulia iframe {
  height: 500px;
}

#giulia .giulia-hero {
  background-image: url("/cdn/images/alfa-romeo/giulia/giulia-hero.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 400px;
}

#giulia .giulia-hero img {
  display: none;
}

#giulia .giulia-intro {
  padding: 21px;
}

#giulia .giulia-intro {
  padding: 28px;
}

#giulia .giulia-designed {
  padding: 21px;
}

#giulia .giulia-designed {
  padding: 28px;
}

#giulia .giulia-designed p {
  padding-bottom: 0;
}

#giulia .giulia-side {
  background-image: url("/cdn/images/alfa-romeo/giulia/giulia-side-panel.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 330px;
}

#giulia .giulia-side img {
  display: none;
}

#giulia .giulia-side-text {
  margin-top: 28px;
}

#giulia .giulia-side-text {
  margin-top: 39px;
}

#giulia .giulia-side-text {
  margin-top: 67px;
}

#giulia .giulia-images {
  overflow: visible;
  white-space: normal;
}

#giulia .giulia-images img {
  margin-top: 50px;
  margin-bottom: 50px;
}

#giulia .giulia-images img {
  margin-top: 80px;
  margin-bottom: 80px;
}

#giulia .giulia-images-mobile {
  display: none;
}

#giulia .giulia-images-desktop {
  display: block;
}

#giulia .giulia-front {
  background-image: url("/cdn/images/alfa-romeo/giulia/giulia-front-panel.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 330px;
  margin-top: 0;
}

#giulia .giulia-front img {
  display: none;
}

#giulia .giulia-front-text {
  margin-top: 28px;
}

#giulia .giulia-front-text {
  margin-top: 45px;
}

#giulia .giulia-front-text {
  margin-top: 70px;
}

#giulia .giulia-frame-cover {
  margin-top: 50px;
  margin-bottom: 50px;
}

#giulia .giulia-frame-cover {
  margin-top: 80px;
  margin-bottom: 80px;
}

#giulia iframe {
  height: 300px;
}

#giulia iframe {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 320px;
}

#giulia iframe {
  margin-top: 80px;
  margin-bottom: 80px;
  height: 420px;
}

#giulia iframe {
  height: 500px;
}