<!DOCTYPE html>
<html lang="en-GB">
{% include head.html %}
<body>
    {% include header.html %}
    {{ content }}
    {% comment %} {% include footer.html %} {% endcomment %}
</body>

  {% comment %} {% if page.jQuery %} {% endcomment %}
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> -->
  {% comment %} {% endif %} {% endcomment %}

  <script src="/cdn/scripts/navbar/navbar.js"></script>

  {% if page.scripts  %}
    {% for script in page.scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
  {% endif %}
</html>
