.ch-hero {
  padding: 24px 0;
}

#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#servicing_pay-monthly .section {
  padding: 18px 0;
}

#servicing_pay-monthly .section {
  padding: 24px 0;
}

#servicing_pay-monthly .block {
  display: block;
}

#servicing_pay-monthly .ch-hero__content__heading {
  font-size: 26px;
  padding: 18px 0 0;
}

#servicing_pay-monthly .ch-hero__content__heading {
  font-size: 38px;
}

#servicing_pay-monthly .ch-hero__content__subheading {
  font-size: 22px;
}

#servicing_pay-monthly .ch-hero .icon--piggybank {
  width: 75px;
  height: 75px;
  float: right;
  float: none;
}

#servicing_pay-monthly .ch-hero .icon--piggybank {
  width: 100px;
  height: 100px;
}

#servicing_pay-monthly .intro p {
  font-size: 16px;
  line-height: 1.6;
}

#servicing_pay-monthly .intro__video {
  margin-top: 18px;
}

#servicing_pay-monthly .intro .ch-btn--cta {
  margin-bottom: 18px;
}

#servicing_pay-monthly .intro .ch-btn--cta {
  margin-bottom: 12px;
}

#servicing_pay-monthly .plans .border-right {
  border-bottom: none;
  border-right: 1px solid #e5e5e5;
}

#servicing_pay-monthly .calculator .border-right {
  margin-bottom: 24px;
}

#servicing_pay-monthly .calculator .border-right {
  border-bottom: none;
  border-right: 1px solid #e5e5e5;
  padding-right: 14px;
  margin-right: -14px;
  margin-bottom: 0;
}

#servicing_pay-monthly .calculator__wrapper__body {
  font-weight: 500;
}

#servicing_pay-monthly .calculator__wrapper__deposit .ch-form__group {
  margin-bottom: 0;
}

#servicing_pay-monthly .calculator__wrapper__deposit .ch-form__group .ch-form__control-validation {
  margin-bottom: 0;
}

#servicing_pay-monthly .calculator__wrapper .validation {
  margin-bottom: 6px;
}

#servicing_pay-monthly .calculator__wrapper input {
  max-width: 100%;
}

#servicing_pay-monthly .calculator__wrapper .toggle-wrapper label {
  padding: 12px 7px;
}

#servicing_pay-monthly .calculator__wrapper__result--installment {
  padding: 13px 21px;
}

#servicing_pay-monthly .calculator__wrapper__result--price {
  text-align: left;
}

#servicing_pay-monthly .calculator__wrapper__result .terms--header {
  margin-top: 12px;
}

#servicing_pay-monthly .representative__first-table {
  margin-bottom: 18px;
}

#servicing_pay-monthly .representative__first-table {
  margin-bottom: 24px;
}