#c4picasso .hero {
  background: url("/cdn/images/citroen/c4-picasso/hero-desktop.jpg") top center;
  min-height: 610px;
}

#c4picasso .hero__mobile-img {
  display: none;
}

#c4picasso .hero__content {
  background: none;
  padding: 56px 0;
}

#c4picasso .hero__content__title {
  font-size: 38px;
}

#c4picasso .hero__content__title span {
  display: block;
}

#c4picasso .hero__content__btns .ch-btn {
  margin-top: 0;
  display: inline-block;
}

#c4picasso .section__content {
  margin: 38px 0;
}

#c4picasso .section__mobile-img {
  display: none;
}

#c4picasso .section__desktop-img {
  display: block;
}