.ch-hero {
  padding: 24px 0;
}

#gender-pay-gap-report .ch-hero__content__heading {
  margin-top: 54px;
}

#gender-pay-gap-report .ch-hero__icon-container {
  float: right;
}

#gender-pay-gap-report .ch-hero__icon {
  float: right;
  width: 200px;
  margin: 0;
}

#gender-pay-gap-report .benefits__box {
  margin-top: 0;
}

#gender-pay-gap-report .testimonials--carol {
  margin-top: 0;
}