.ch-table td,
.ch-table th {
  padding: 9px 10.5px;
}

.ch-table td,
.ch-table th {
  padding: 12px 14px;
}

#motorstore-burton .section {
  padding: 18px 0;
}

#motorstore-burton .section {
  padding: 24px 0;
}

#motorstore-burton .img-mobile {
  display: none;
}

#motorstore-burton .img-desktop {
  display: block;
}

#motorstore-burton .hero {
  background-image: url("/cdn/images/motorstore/burton/hero-desktop.jpg");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px 0;
}

#motorstore-burton .hero__wrapper .ch-btn {
  margin-bottom: 0;
}

#motorstore-burton .usp-strip {
  padding: 24px 0;
}

#motorstore-burton .usp-strip .icon {
  padding: 0;
  text-align: center;
}

#motorstore-burton .usp-strip .icon {
  font-size: 16px;
}

#motorstore-burton .usp-strip .icon:before {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  width: 72px;
  height: 36px;
}

#motorstore-burton .usp-strip .icon:before {
  width: 96px;
  height: 48px;
  margin-bottom: 12px;
}

#motorstore-burton .why-choose h2 {
  text-align: center;
  padding-bottom: 12px;
}

#motorstore-burton .why-choose__cta {
  margin-top: 12px;
  text-align: center;
}

#motorstore-burton .why-choose .ch-row--second {
  margin-top: 24px;
}

#motorstore-burton .why-choose .icon {
  margin-left: auto;
  padding: 0;
  text-align: center;
}

#motorstore-burton .why-choose .icon span {
  display: block;
}

#motorstore-burton .why-choose .icon:before {
  margin-bottom: -10px;
  margin-left: -55px;
}

#motorstore-burton .why-choose .icon:before {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 90px;
}

#motorstore-burton .why-choose .icon--long:before {
  width: 160px;
  margin-left: auto;
}

#motorstore-burton .best-deal__wrapper {
  padding: 18px 21px;
  background-image: url("/cdn/images/motorstore/burton/best-deal-background.png");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#motorstore-burton .best-deal__wrapper {
  padding: 24px 28px;
}

#motorstore-burton .best-deal__wrapper span {
  white-space: nowrap;
}

#motorstore-burton .best-deal__logo {
  margin-top: 30px;
  margin-left: 21px;
}

#motorstore-burton .best-deal__logo {
  margin-top: 0;
  margin-left: 35px;
}

#motorstore-burton .best-deal__logo {
  margin-left: 63px;
}

#motorstore-burton .directions__map {
  height: 348px;
}

#motorstore-burton .directions__map {
  height: 324px;
}

#motorstore-burton .directions__map {
  height: 276px;
}

#motorstore-burton .directions .ch-btn {
  margin-bottom: 18px;
}

#motorstore-burton .directions .ch-btn {
  margin-bottom: auto;
}