#sportage section {
  padding: 28px 0;
}

#sportage .hero {
  height: 400px;
}

#sportage .hero-img-mobile {
  display: none;
}

#sportage .intro-text {
  padding-top: 18px;
}

#sportage .intro-text {
  padding-top: 30px;
}

#sportage .interior {
  background: transparent;
  border-bottom: none;
  padding-top: 18px;
}

#sportage .interior {
  padding-top: 30px;
}

#sportage .interior-img {
  display: none;
}

#sportage .interior-inner {
  background-image: url("/cdn/images/kia/sportage/interior-panel.jpg");
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-background-size: 134% 134%;
  background-size: 134%;
  height: 330px;
  padding: 18px 21px;
}

#sportage .interior-inner {
  -webkit-background-size: auto auto;
  background-size: auto;
  padding: 18px 21px;
  height: 395px;
}

#sportage .interior-inner-text {
  padding: 18px 21px 24px;
  background-color: rgba(255,255,255,0.8);
  margin-top: 63px;
}

#sportage .interior-inner-text {
  margin-top: 94px;
}

#sportage .info {
  padding: 24px 0;
}

#sportage .info {
  padding: 48px 0;
}

#sportage .info-2 {
  padding-top: 24px;
  float: right;
}

#sportage .info-2 {
  padding-top: 0;
}

#sportage .info-line {
  display: block;
}

#sportage .gallery-img-mobile {
  display: none;
}

#sportage .gallery-img-desktop {
  display: block;
}

#sportage .stats {
  padding: 0;
  margin-top: 110px;
}

#sportage .stats {
  margin-top: 146px;
}

#sportage .stats {
  margin-top: 185px;
}

#sportage .stats-list {
  padding: 18px 0;
}

#sportage .stats-list {
  padding: 24px 0;
}

#sportage .stats-list {
  padding: 30px 0;
}

#sportage .stats-list li {
  font-size: 22px;
  line-height: 34px;
}

#sportage .stats-img {
  position: absolute;
  margin-top: -54px;
}

#sportage .stats-img {
  margin-top: -83px;
}

#sportage .stats-img {
  margin-top: -110px;
}

#sportage .details {
  padding: 36px 0;
}

#sportage .details {
  padding: 42px 0;
}

#sportage .details {
  padding: 60px 0;
}

#sportage .details-text {
  padding: 0;
}

#sportage .details-text-body {
  padding-top: 18px;
}

#sportage .colours {
  padding: 28px 0;
}

#sportage .colours__list {
  margin: 30px 0;
  display: block;
  border: none;
}

#sportage .colours__list__item {
  width: 50%;
}

#sportage .colours__image {
  margin: 36px auto 0;
}

#sportage .colours__image {
  margin-top: 115px;
}

#sportage .colours__image {
  margin-top: 100px;
}

#sportage .ctas {
  background-color: #f2f2f2;
  padding: 24px;
}