.black-friday-strip:hover {
  background: rgba(225,225,225,0.1);
}

.black-friday-strip__title {
  margin: 18px 0;
  font-size: 30px;
}

.black-friday-strip__title {
  margin: 24px 0;
  font-size: 36px;
}

.black-friday-strip__title br {
  display: none;
}

.black-friday-strip__title span {
  display: block;
}

.black-friday-strip__title span {
  display: inline-block;
}

.black-friday-strip__logo--mobile {
  top: 3px;
  right: 14px;
}

.black-friday-strip__logo--mobile {
  display: none;
}

.black-friday-strip__logo--mobile {
  display: block;
  top: 0;
  width: 102px;
}

.black-friday-strip__logo--mobile {
  display: none;
}

.black-friday-strip__logo--desktop {
  display: block;
  width: 360px;
  top: 0;
  right: 14px;
}

.black-friday-strip__logo--desktop {
  display: none;
}

.black-friday-strip__logo--desktop {
  display: block;
  width: 310px;
}