.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#sandero .section {
  padding: 24px 0;
}

#sandero .ctas {
  text-align: right;
}

#sandero .ctas .ch-btn {
  width: 48%;
  margin-bottom: 12px;
}

#sandero .ctas .ch-btn:first-of-type {
  margin-right: 14px;
}

#sandero .ctas .ch-btn {
  width: auto;
}

#sandero .hero .mobile-img {
  display: none;
}

#sandero .hero {
  background-image: url("/cdn/images/dacia/sandero/hero-tablet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3d444a;
  height: 400px;
}

#sandero .hero {
  background-image: url("/cdn/images/dacia/sandero/hero-desktop.jpg");
}

#sandero .hero .box {
  background-color: transparent;
}

#sandero .hero .box h1 {
  margin-top: 200px;
}

#sandero .hero .box h1 span {
  display: block;
}

#sandero .interior {
  background-image: url("/cdn/images/dacia/sandero/interior-desktop.jpg");
  padding: 19% 0;
}

#sandero .features .ch-col--sm-4 {
  margin-bottom: 0;
}

#sandero .features .ch-col--sm-4 .ch-card {
  min-height: 370px;
}

#sandero .colours__list {
  margin: 30px 0;
  display: block;
  border: none;
}

#sandero .colours__list__item {
  width: 50%;
}

#sandero .colours__image {
  margin-top: 30px;
}

#sandero .colours__image {
  margin-top: 0;
}

#sandero .outro .ch-h2 {
  margin-bottom: 0;
}

#sandero .outro .ch-h2 {
  margin-top: 10px;
}