#servicing_manufacturer .img-mobile {
  display: none;
}

#servicing_manufacturer .hero {
  background-image: url("/cdn/images/servicing/manufacturer/manufacturer-service.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 300px;
}

#servicing_manufacturer .intro {
  padding: 24px 28px;
}

#servicing_manufacturer .manufacturer__content {
  margin-bottom: 28px;
  min-height: auto;
}

#servicing_manufacturer .manufacturer__content:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#servicing_manufacturer .footnote .ch-btn {
  display: inline-block;
}

#servicing_manufacturer .terms {
  padding: 28px;
}