.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#pro-plus .ch-btn {
  width: auto;
  min-width: 140px;
}

#pro-plus .section {
  padding: 36px 0;
}

#pro-plus .ch-list li {
  width: 50%;
  float: left;
  padding-right: 28px;
}

#pro-plus .section--hero {
  background-image: url("/cdn/images/renault/pro-plus/pro-plus-hero--desktop.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 72px 0 20%;
  text-align: center;
}

#pro-plus .section--hero .img--mobile {
  display: none;
}

#pro-plus .section--hero .hero--text h1 {
  font-size: 44px;
  line-height: 50px;
}

#pro-plus .section--hero .hero--text p {
  font-size: 20px;
  line-height: 30px;
}

#pro-plus .section--about {
  text-align: center;
}

#pro-plus .section--about .ch-card {
  min-height: 300px;
}

#pro-plus .section--about .ch-card {
  min-height: 380px;
  margin-top: 12px;
  margin-bottom: 24px;
}

#pro-plus .section--interlude {
  text-align: center;
}

#pro-plus .section--interlude img {
  margin: 0 auto;
}

#pro-plus .section--dealers {
  text-align: center;
}

#pro-plus .section--dealers .branch {
  margin-top: 12px;
}

#pro-plus .section--dealers .branch__image {
  display: block;
  padding-left: 0;
  padding-bottom: 226px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#pro-plus .section--dealers .branch__image__mobile {
  display: none;
}

#pro-plus .section--dealers .branch__info {
  padding-top: 12px;
  padding-bottom: 12px;
}

#pro-plus .section--dealers .branch__info {
  padding: 12px 21px;
}