#accident-repairs .hero {
  background-image: url("/cdn/images/accident-repairs/hero.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px;
}

#accident-repairs .hero__img-mobile {
  display: none;
}

#accident-repairs .intro p {
  font-size: 16px;
  line-height: 1.6;
}

#accident-repairs .intro h1 {
  margin-top: 0;
}

#accident-repairs .intro h1 {
  margin-top: 12px;
}

#accident-repairs .intro__cta {
  margin-bottom: 12px;
}

#accident-repairs .intro__cta {
  margin-bottom: 24px;
}

#accident-repairs .intro__aside {
  margin-top: 6px;
  margin-bottom: 14px;
}

#accident-repairs .intro__cta {
  text-align: right;
}

#accident-repairs .accist {
  background-image: url("/cdn/images/accident-repairs/accist-tablet.jpg");
}

#accident-repairs .accist {
  background-color: #0B0A05;
  background-image: url("/cdn/images/accident-repairs/accist.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

#accident-repairs .accist__content {
  padding: 24px 28px;
  margin: 24px 28px;
  background: rgba(11,10,5,0.6);
}

#accident-repairs .accist__content--text {
  padding-top: 0;
}