.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

#vauxhall_zafira .ch-btn {
  width: auto;
  min-width: 140px;
  margin: 5px;
}

#vauxhall_zafira section .text-block {
  margin-top: 0;
  background: rgba(255,255,255,0.8);
  padding: 30px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}

#vauxhall_zafira section .text-block h3 {
  padding-top: 0;
}

#vauxhall_zafira section .text-block img {
  display: none;
}

#vauxhall_zafira #hero {
  background: url("/cdn/images/vauxhall/zafira-tourer/011826-vauxhall-zafira-header.jpg") -120px center;
  -webkit-background-size: 170% 170%;
  background-size: 170%;
  padding: 70px 0;
}

#vauxhall_zafira #hero {
  background-position: center center;
  -webkit-background-size: auto auto;
  background-size: auto;
  padding: 100px 0 150px;
}

#vauxhall_zafira #hero .hero__text {
  padding-top: 0;
}

#vauxhall_zafira #hero .hero__text h1 {
  font-size: 30px;
  line-height: 42px;
}

#vauxhall_zafira #space {
  background: url("/cdn/images/vauxhall/zafira-tourer/zafira-space-bg.jpg") no-repeat center;
  -webkit-background-size: auto auto;
  background-size: auto;
  padding: 100px 0;
}

#vauxhall_zafira #bright-ideas {
  background: url("/cdn/images/vauxhall/zafira-tourer/zafira-bright-ideas-bg.jpg") no-repeat center;
  -webkit-background-size: auto auto;
  background-size: auto;
  padding: 100px 0;
}