#blks {
  max-width: 734px;
}

#blks {
  overflow-x: auto;
  max-width: 954px;
}

#blks {
  max-width: 1154px;
}

#blks .blks__scrollable {
  width: auto;
  min-height: 442px;
}

#blks .blks__scrollable {
  min-height: 342px;
}

#blks .blks__column {
  width: 50%;
}

#blks .blks__column {
  width: 25%;
}

#blks .blks--two {
  width: 100%;
}

#blks .blks--two {
  width: 954px;
  min-height: 196px;
}

#blks .blks--two {
  width: 1154px;
}

#blks .blks--two .blks__column {
  width: 50%;
}

#blks .blks--two .blk__details {
  float: left;
  padding-left: 14px;
  width: 69.5%;
  text-align: left;
}

#blks .blks--two .blk__img {
  float: left;
  width: 30.5%;
  height: auto;
  margin: 0;
}

#blks .blks--two .blk__model,
#blks .blks--two .blk__variant {
  text-align: left;
  min-height: auto;
}

#blks .blk {
  text-align: left;
  margin-bottom: 28px;
}

#blks .blk {
  text-align: center;
  margin-bottom: 0;
}

#blks .blk__details {
  float: left;
  width: 69.5%;
  padding-left: 14px;
}

#blks .blk__details {
  float: none;
  width: auto;
  padding-left: 0;
}

#blks .blk__details__btn {
  float: right;
}

#blks .blk__details__btn {
  float: none;
}

#blks .blk__model {
  min-height: auto;
}

#blks .blk__model {
  min-height: 50px;
}

#blks .blk__img {
  margin-bottom: 0;
  height: auto;
  float: left;
  width: 30.5%;
}

#blks .blk__img {
  margin-bottom: 6px;
  height: 110px;
  float: none;
  width: auto;
}

#mc-representative-example .rep-example__body td,
#mc-representative-example .rep-example__body th,
#mc-representative-example .rep-example__body tr {
  text-align: center;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 33.333%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 33.33%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 100%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 25%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

#mc-representative-example .rep-example__body--hire-purchase tr {
  width: 14.28%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--hire-purchase tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--apr {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp tr.rep-example__body--interest {
  width: 50%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-1 tr.rep-example__body--interest {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr {
  width: 20%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--apr {
  width: 40%;
}

#mc-representative-example .rep-example__body--pcp-alt-2 tr.rep-example__body--interest {
  width: 20%;
}

.lg-outer .lg-thumb-item {
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.ch-card--link:hover {
  border-bottom-color: #0B86B5;
  color: #2D3737;
}

.ch-card--link:hover h1:first-of-type,
.ch-card--link:hover h2:first-of-type,
.ch-card--link:hover h3:first-of-type,
.ch-card--link:hover h4:first-of-type,
.ch-card--link:hover h5:first-of-type,
.ch-card--link:hover h6:first-of-type {
  color: #0B86B5;
}

.ch-card__content {
  padding: 15px 17.5px;
}

.ch-card__content {
  padding: 18px 21px;
}

.ch-card__footer {
  padding-top: 15px;
  margin: 0 15px 17.5px;
}

.ch-card__footer {
  padding-top: 18px;
  margin: 0 18px 21px;
}

.ch-card--transition {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ch-card--transition:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

#volvo_xc60 .custom-container {
  padding-right: 14px;
  width: 734px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  white-space: normal;
}

#volvo_xc60 .custom-container {
  width: 954px;
}

#volvo_xc60 .custom-container {
  width: 1154px;
}

#volvo_xc60 .hero__text {
  top: 130px;
}

#volvo_xc60 .hero__text {
  top: 190px;
}

#volvo_xc60 .hero__text {
  top: 205px;
}

#volvo_xc60 .hero__text h1 {
  text-shadow: none;
  font-size: 34px;
  margin-bottom: 18px;
  font-weight: 400;
}

#volvo_xc60 .hero__text h1 {
  font-size: 38px;
}

#volvo_xc60 .hero__text h1 {
  font-size: 50px;
  margin-bottom: 36px;
}

#volvo_xc60 .hero__text h1 span {
  font-size: 34px;
  display: inline-block;
}

#volvo_xc60 .hero__text h1 span {
  font-size: 38px;
}

#volvo_xc60 .hero__text h1 span {
  font-size: 50px;
}

#volvo_xc60 .hero__text__btn--mobile {
  margin-bottom: 12px;
  width: 100%;
}

#volvo_xc60 .hero__text__btn--mobile {
  display: none;
}

#volvo_xc60 .hero__text__btn--desktop {
  display: inline-block;
}

#volvo_xc60 .parallax__layer--1 {
  -webkit-transform: translateZ(-0.2px) scale(1.2);
  transform: translateZ(-0.2px) scale(1.2);
}

#volvo_xc60 .parallax__layer--2 {
  -webkit-transform: translateZ(-0.11px) scale(1.11);
  transform: translateZ(-0.11px) scale(1.11);
}

#volvo_xc60 #group2 {
  height: 30%;
}

#volvo_xc60 #group2 {
  height: 30%;
}

#volvo_xc60 .parallax-car--mobile {
  display: none;
}

#volvo_xc60 .parallax-car--desktop {
  display: block;
}

#volvo_xc60 .features {
  padding: 24px 0 0;
}

#volvo_xc60 .features {
  padding: 42px;
}

#volvo_xc60 .features {
  padding: 48px;
}

#volvo_xc60 .features__feature {
  padding: 0 0 78px;
}

#volvo_xc60 .features__feature__img--mobile {
  display: none;
}

#volvo_xc60 .features__feature__img--desktop {
  display: block;
}

#volvo_xc60 .features__feature__img--desktop {
  max-width: 700px;
}

#volvo_xc60 .features__feature__img--desktop {
  max-width: none;
}

#volvo_xc60 .features__feature--2 .features__feature__img--desktop {
  float: right;
}

#volvo_xc60 .features__feature--2__text {
  left: 0;
}

#volvo_xc60 .features__feature__text {
  max-width: 500px;
  text-align: center;
  background-color: #fff;
  padding: 42px 28px;
  position: absolute;
  top: 100px;
  right: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#volvo_xc60 .features__feature__text {
  top: 127px;
}

#volvo_xc60 .features__feature__text h4 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
}

#volvo_xc60 .features__feature__text p {
  font-size: 16px;
}

#volvo_xc60 .features__feature__text p {
  color: #979797;
}

#volvo_xc60 .features__feature__text--2 {
  left: 0;
}

#volvo_xc60 .safety {
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 24px 0 360px;
  background-position: -webkit-calc(50% - -120px);
  background-position: calc(50% - -120px);
}

#volvo_xc60 .safety {
  padding: 30px 0 390px;
  background-position: center;
}

#volvo_xc60 .safety {
  padding: 30px 0 432px;
}

#volvo_xc60 .safety__text p {
  font-size: 16px;
}

#volvo_xc60 .safety__box {
  margin-right: 0;
  max-width: none;
  width: 48.71%;
  height: auto;
}

#volvo_xc60 .safety__box {
  padding: 18px 14px;
  width: 48.26%;
  margin-bottom: 30px;
}

#volvo_xc60 .safety__box {
  padding: 24px 28px;
  width: 48.57%;
}

#volvo_xc60 .safety__box:nth-child(odd) {
  margin-right: 14px;
}

#volvo_xc60 .safety__box:nth-child(odd) {
  margin-right: 28px;
}

#volvo_xc60 .variants {
  padding: 30px 0 36px;
}

#volvo_xc60 .variants {
  padding: 42px 0 60px;
}

#volvo_xc60 .variants {
  padding: 48px 0 72px;
}

#volvo_xc60 .variants__card {
  max-width: none;
  display: block;
  margin-bottom: 24px;
}

#volvo_xc60 .variants__card {
  width: 31.01%;
  margin-right: 28px;
  display: inline-block;
  margin-bottom: 0;
}

#volvo_xc60 .variants__card {
  width: 31.42%;
}

#volvo_xc60 .variants__card:last-of-type {
  margin-right: 0;
}

#volvo_xc60 .variants__card img {
  display: inline-block;
  float: right;
  margin-top: 18px;
}

#volvo_xc60 .variants__card__text {
  max-width: 300px;
}

#volvo_xc60 .variants__card__text {
  max-width: none;
}

#volvo_xc60 .variants__card__text p {
  font-size: 16px;
}

#volvo_xc60 .gallery {
  padding: 30px 0 48px;
}

#volvo_xc60 .gallery {
  padding: 42px 0 60px;
}

#volvo_xc60 .gallery {
  padding: 48px 0 72px;
}

#volvo_xc60 .ch-block-grid__item {
  padding: 14px;
}

#volvo_xc60 .image-panel {
  display: block;
  padding: 198px 0;
}

#volvo_xc60 .image-panel {
  padding: 252px 0;
}

#volvo_xc60 .deals {
  padding: 42px 0 24px;
}

#volvo_xc60 .branches {
  padding: 24px 0;
}

#volvo_xc60 .list-branches {
  margin-bottom: 0;
}

#volvo_xc60 .xc60-footer {
  padding: 120px 0 54px;
}

#volvo_xc60 .xc60-footer {
  padding: 162px 0 198px;
}

#volvo_xc60 .xc60-footer h3 {
  font-size: 37px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 18px;
}

#volvo_xc60 .bottom {
  background-image: url("/cdn/images/volvo/xc60/bottom-background.jpg");
  -webkit-background-size: 1400px 1400px;
  background-size: 1400px;
  background-position: right -330px bottom 475px;
}

#volvo_xc60 .bottom {
  -webkit-background-size: auto auto;
  background-size: auto;
  background-position: right -660px bottom 412px;
}

#volvo_xc60 .bottom {
  background-position: center bottom 387px;
}