#servicing_ford .blueservice {
  padding: 0 0 42px;
  background-image: url("/cdn/images/servicing/ford/blueservice.jpg");
  height: 378px;
}

#servicing_ford .blueservice__mobile-image {
  display: none;
}

#servicing_ford .blueservice__content {
  background-color: #43596A;
  background: rgba(67,89,106,0.8);
  padding: 24px 28px;
}

#servicing_ford .onecall {
  background-image: url("/cdn/images/servicing/ford/onecall.jpg");
}

#servicing_ford .onecall__mobile-image {
  display: none;
}

#servicing_ford .onecall__number {
  text-align: left;
  margin: auto;
}